<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/accessibility-inspector-24.08.1.tar.xz">accessibility-inspector-24.08.1</a></td>
   <td align="right">81kB</td>
   <td><tt>73fc64540e20be00d0c62e0e1f20c3139f14b9e5d9fdc31d4f268ac355b3976e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/akonadi-24.08.1.tar.xz">akonadi-24.08.1</a></td>
   <td align="right">1662kB</td>
   <td><tt>d5a6f34f6f972d3e1c1f6058e40c2386cc04b02948373c4e12992a03e3d99501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/akonadi-calendar-24.08.1.tar.xz">akonadi-calendar-24.08.1</a></td>
   <td align="right">508kB</td>
   <td><tt>e06c8980a6cacbffd68c7a59ac180773dc5c1bdc322a9ebdec298a93c3c0b2f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/akonadi-calendar-tools-24.08.1.tar.xz">akonadi-calendar-tools-24.08.1</a></td>
   <td align="right">258kB</td>
   <td><tt>9a165f696ff5a84174b95a40b3df276995a5a0bbbc8a863b79c95f88f2c59879</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/akonadiconsole-24.08.1.tar.xz">akonadiconsole-24.08.1</a></td>
   <td align="right">297kB</td>
   <td><tt>a05d3a24af9c1c366bc3650b92ee940c0a21791c4ea234b8100a98b888cc6bab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/akonadi-contacts-24.08.1.tar.xz">akonadi-contacts-24.08.1</a></td>
   <td align="right">422kB</td>
   <td><tt>f22f5524ca4e30e8ba32b93a0472e542ee34f96fb2cce2d512308324943ca176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/akonadi-import-wizard-24.08.1.tar.xz">akonadi-import-wizard-24.08.1</a></td>
   <td align="right">477kB</td>
   <td><tt>10e34286c88efda06f7e30b7208afe9ecb2ee4bd98ca675a59d709c0090f5481</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/akonadi-mime-24.08.1.tar.xz">akonadi-mime-24.08.1</a></td>
   <td align="right">169kB</td>
   <td><tt>84cbee1b81d6c50fff465d14eb60da513befd9f101f15fdd4306b39abaa78fd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/akonadi-notes-24.08.1.tar.xz">akonadi-notes-24.08.1</a></td>
   <td align="right">28kB</td>
   <td><tt>1820cdd4655094d68a58fedf16b33e95de43db71b1ac566ad8398fde569d9818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/akonadi-search-24.08.1.tar.xz">akonadi-search-24.08.1</a></td>
   <td align="right">110kB</td>
   <td><tt>99fe36edec087ebb0b2c9a723ac57f07f7214d16badba9b9ee623fe64cfd7fc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/akregator-24.08.1.tar.xz">akregator-24.08.1</a></td>
   <td align="right">2070kB</td>
   <td><tt>59f11f7b336e8f9a4131ccfae222e9f1bf492ef7bcc8234a9ae0d2c02c711140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/alligator-24.08.1.tar.xz">alligator-24.08.1</a></td>
   <td align="right">190kB</td>
   <td><tt>fb27804334046204dae535380eddec2904b00fbb718ed58a27278cccee024825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/analitza-24.08.1.tar.xz">analitza-24.08.1</a></td>
   <td align="right">351kB</td>
   <td><tt>2f494ee26f0e21b6de32d1128768f07bcff500d2acee6572abc230ced17da4bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/angelfish-24.08.1.tar.xz">angelfish-24.08.1</a></td>
   <td align="right">267kB</td>
   <td><tt>bd52b20fd7b610adc54a930f2725dde64b48a39972d604b5a146ce7a873352a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/arianna-24.08.1.tar.xz">arianna-24.08.1</a></td>
   <td align="right">800kB</td>
   <td><tt>727d4d307b4942b116bde1b635e2cbaa1f6fcfde9333be059f70f595602ce45e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/ark-24.08.1.tar.xz">ark-24.08.1</a></td>
   <td align="right">2933kB</td>
   <td><tt>09a98a344e6debf939ff2c3973d67c7794c15f22faff7b8bbafba3d1e3aa5d8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/artikulate-24.08.1.tar.xz">artikulate-24.08.1</a></td>
   <td align="right">1027kB</td>
   <td><tt>f7dccbeb6a6f940e8894ffe72d0fdf1b7a456f3df73618b0fe7b31839b184e43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/audex-24.08.1.tar.xz">audex-24.08.1</a></td>
   <td align="right">692kB</td>
   <td><tt>e3602a39ba7044e325fb357d99bd26003b09632f2d05e51484b9ec4ba6ad1c96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/audiocd-kio-24.08.1.tar.xz">audiocd-kio-24.08.1</a></td>
   <td align="right">557kB</td>
   <td><tt>8ab049c88d6f1d70a98facd020d758bfa6307b1803ab7cc5679d6e4c9ca48db1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/audiotube-24.08.1.tar.xz">audiotube-24.08.1</a></td>
   <td align="right">150kB</td>
   <td><tt>fa384cb76ab493aef05afd2da20b0cd23324bfa8cc33127cf7a72ea2f41f5545</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/baloo-widgets-24.08.1.tar.xz">baloo-widgets-24.08.1</a></td>
   <td align="right">270kB</td>
   <td><tt>979fe83b62a7f47b67377e5288b51d803c0622956f505bed2dbb0919ac4a7965</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/blinken-24.08.1.tar.xz">blinken-24.08.1</a></td>
   <td align="right">2533kB</td>
   <td><tt>271444568af555a71b585558e06de8b465ea678a57730816757407c60fe434b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/bomber-24.08.1.tar.xz">bomber-24.08.1</a></td>
   <td align="right">818kB</td>
   <td><tt>4e00329ff8fd7ebeafe186adc5b4fcb6e5f88dd73be979be8b6dcf76fcf91d78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/bovo-24.08.1.tar.xz">bovo-24.08.1</a></td>
   <td align="right">212kB</td>
   <td><tt>b5ba2a31fec9218a871875f7510a6405eaa974cd542053c9106a308b0bacbf2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/calendarsupport-24.08.1.tar.xz">calendarsupport-24.08.1</a></td>
   <td align="right">977kB</td>
   <td><tt>8d4e9041dbd0512575f6f03d30f7431a614dbd2f4425ad07050bd6abf7dbf38a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/calindori-24.08.1.tar.xz">calindori-24.08.1</a></td>
   <td align="right">386kB</td>
   <td><tt>2842534252b838593b79da465eb41aa0f96fe073c036e0ebdc37fa538d9e5ce3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/cantor-24.08.1.tar.xz">cantor-24.08.1</a></td>
   <td align="right">10593kB</td>
   <td><tt>18e4ae0412c50e06cd5f665072aa9a32281e2e8315eed8cd2aceb6e2334cf17a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/cervisia-24.08.1.tar.xz">cervisia-24.08.1</a></td>
   <td align="right">1767kB</td>
   <td><tt>d284c0778f2c59fa140b021a1dac82cf17b43d7725fb5be05b5a15e1ee3bd8cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/colord-kde-24.08.1.tar.xz">colord-kde-24.08.1</a></td>
   <td align="right">114kB</td>
   <td><tt>6a6d724d0a627a66998c7553ccd4927fb7b54e7559dc8abae79402b513620f22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/dolphin-24.08.1.tar.xz">dolphin-24.08.1</a></td>
   <td align="right">5498kB</td>
   <td><tt>1dba9afb6617080c1b4937a88ec012fba77184327acc8573d9e351feed537668</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/dolphin-plugins-24.08.1.tar.xz">dolphin-plugins-24.08.1</a></td>
   <td align="right">310kB</td>
   <td><tt>c88662980f6a5bd042735c07d4aaa29474524df51a7791a6c0377cf729bf0b35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/dragon-24.08.1.tar.xz">dragon-24.08.1</a></td>
   <td align="right">1786kB</td>
   <td><tt>c119174f173c8df9e853f5a29311c1a873b4b8248d050989bb0ed8083234fe8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/elisa-24.08.1.tar.xz">elisa-24.08.1</a></td>
   <td align="right">1864kB</td>
   <td><tt>cedf6dc9e1d81113e6599041d09b52d4ddf06c94167bdcdcc9b8cb1c66c0a24a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/eventviews-24.08.1.tar.xz">eventviews-24.08.1</a></td>
   <td align="right">479kB</td>
   <td><tt>2146feb8789f03c0e7bd6556fdd1df5f4aa3ce5a022beeb9a265215fa1cedbbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/falkon-24.08.1.tar.xz">falkon-24.08.1</a></td>
   <td align="right">2573kB</td>
   <td><tt>ab7cb7bfc99ebeccde2aa5e252a969f871385007c289aab12e1dec36826b9315</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/ffmpegthumbs-24.08.1.tar.xz">ffmpegthumbs-24.08.1</a></td>
   <td align="right">32kB</td>
   <td><tt>e2c6a0bdd216d3d18c39bbf2c724627c2075423e3ee164a9066daf60fdc4b6d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/filelight-24.08.1.tar.xz">filelight-24.08.1</a></td>
   <td align="right">666kB</td>
   <td><tt>8bd5f3477e8928a4f45da37a3f0ee2d469fcfee20f7b5197bfacff4772bb50a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/francis-24.08.1.tar.xz">francis-24.08.1</a></td>
   <td align="right">111kB</td>
   <td><tt>f6492cb18e5db06c6604d9d33b8e06046fb6654f0906b29c184331d3a2ec354d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/ghostwriter-24.08.1.tar.xz">ghostwriter-24.08.1</a></td>
   <td align="right">2643kB</td>
   <td><tt>d0c1852124c52b4e3ead7a23d33a26c1d29d5e9a45188eba313c1a0bc509ea92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/granatier-24.08.1.tar.xz">granatier-24.08.1</a></td>
   <td align="right">1963kB</td>
   <td><tt>9c2007bba32b019dd902d0afdaf4213789577e047f9849bdb17aad9aa06fa389</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/grantlee-editor-24.08.1.tar.xz">grantlee-editor-24.08.1</a></td>
   <td align="right">120kB</td>
   <td><tt>a9fff933f642321ff4b27f20c6d07465fbe9e2d3539c76ed33f6b8b781665318</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/grantleetheme-24.08.1.tar.xz">grantleetheme-24.08.1</a></td>
   <td align="right">61kB</td>
   <td><tt>a299b931db753d060b5f44a3fc7c8983dbbc83c331593519c7efe96b902af172</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/gwenview-24.08.1.tar.xz">gwenview-24.08.1</a></td>
   <td align="right">6361kB</td>
   <td><tt>4380c5d421747b51e60cc7d853ae0885e4755b9a8df4e8ca353466ceb6106d4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/incidenceeditor-24.08.1.tar.xz">incidenceeditor-24.08.1</a></td>
   <td align="right">574kB</td>
   <td><tt>cfdd8e6ff17b275ea94c5a234b32e29701a40542a04678f4a7250985a280d24f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/isoimagewriter-24.08.1.tar.xz">isoimagewriter-24.08.1</a></td>
   <td align="right">456kB</td>
   <td><tt>f65029cc99515593b6c8415da74d808fdc94deca72394f632155200e40cf5b40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/itinerary-24.08.1.tar.xz">itinerary-24.08.1</a></td>
   <td align="right">722kB</td>
   <td><tt>6ac0a09ca06e773e858258cfcaed333b33058a39c14113c53f6126a3e26290be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/juk-24.08.1.tar.xz">juk-24.08.1</a></td>
   <td align="right">1854kB</td>
   <td><tt>d75aa9369700001a383b63e3252fa7b1bb07a5f921c7f11c6e4d73cbbe507f98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/k3b-24.08.1.tar.xz">k3b-24.08.1</a></td>
   <td align="right">10450kB</td>
   <td><tt>5398b0815c62eccd7561739dc4554e7bfb1548793c4a83a79155a82f23f55823</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kaccounts-integration-24.08.1.tar.xz">kaccounts-integration-24.08.1</a></td>
   <td align="right">90kB</td>
   <td><tt>3c933c9c491b3294ab42b84054b2b247032afd6b93480df157f9bd4945dabb64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kaccounts-providers-24.08.1.tar.xz">kaccounts-providers-24.08.1</a></td>
   <td align="right">67kB</td>
   <td><tt>1cd1cde4cff66bd594aa27b4f941b61dc4d6ffd7b53a5f3fa04d43ba9e8967dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kaddressbook-24.08.1.tar.xz">kaddressbook-24.08.1</a></td>
   <td align="right">3330kB</td>
   <td><tt>535236de34bc862856ee52ab7abd8d46e163f96c956ef5d632b438c2b5897fad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kajongg-24.08.1.tar.xz">kajongg-24.08.1</a></td>
   <td align="right">4498kB</td>
   <td><tt>a47aac075e9a295a617c42f14a103279a50c64c246720c7d9bf5be1cc9356e68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kalarm-24.08.1.tar.xz">kalarm-24.08.1</a></td>
   <td align="right">2529kB</td>
   <td><tt>6d469c9ce6a27074753b7e0bc9c61f58ed4843332b09fdd817fd4d848b9c2742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kalgebra-24.08.1.tar.xz">kalgebra-24.08.1</a></td>
   <td align="right">922kB</td>
   <td><tt>a1a23ac13c3df64dd2718f3da89a3558c097af6ebfc9c1e2fbaa19c6cd695227</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kalk-24.08.1.tar.xz">kalk-24.08.1</a></td>
   <td align="right">74kB</td>
   <td><tt>05153e00cfde1897554603c110be874e9cd7e0a6ea9dd57d5169b64ed0193141</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kalm-24.08.1.tar.xz">kalm-24.08.1</a></td>
   <td align="right">74kB</td>
   <td><tt>54c2b83b5fe616fe21b327a7cb9074476009de5c05803676d592c1f9256f10a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kalzium-24.08.1.tar.xz">kalzium-24.08.1</a></td>
   <td align="right">22150kB</td>
   <td><tt>ff26c04fea490b097683e4854ef72dda6a2bc92f4e6c02a9ffbc9e8077760efc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kamera-24.08.1.tar.xz">kamera-24.08.1</a></td>
   <td align="right">127kB</td>
   <td><tt>425f2ce9159c024a92fb35a53af2cfc4ad3e1b3e1ae61e209c17c23092fb591f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kamoso-24.08.1.tar.xz">kamoso-24.08.1</a></td>
   <td align="right">227kB</td>
   <td><tt>3302eaa57d582d759ca6d67a0cddc64c3b004b652bcd02e193988ef63160abbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kanagram-24.08.1.tar.xz">kanagram-24.08.1</a></td>
   <td align="right">7597kB</td>
   <td><tt>692e01b4825781c812cbdbf0751474b39704baa5645e19576a05e6e703091883</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kapman-24.08.1.tar.xz">kapman-24.08.1</a></td>
   <td align="right">2094kB</td>
   <td><tt>02660deb205b49ace68cf53070780b17dd5dd527b9b363962ea0c267a947bb19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kapptemplate-24.08.1.tar.xz">kapptemplate-24.08.1</a></td>
   <td align="right">335kB</td>
   <td><tt>e71f9e34d98868e3545be792cf6a6b94566c9a18c9d95282312a79138b07fabe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kasts-24.08.1.tar.xz">kasts-24.08.1</a></td>
   <td align="right">604kB</td>
   <td><tt>8f27981514f41ab436ab6d582563c64987cd7d81eeae25d9a5e7b08d638f5b5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kate-24.08.1.tar.xz">kate-24.08.1</a></td>
   <td align="right">8014kB</td>
   <td><tt>c10518b24386f1daf5f64723c25b3f4ed7e3446a70912abe5b6c965efd9b2dc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/katomic-24.08.1.tar.xz">katomic-24.08.1</a></td>
   <td align="right">1410kB</td>
   <td><tt>a1d8056d78823b0def83ef40fd2a30897b2a97fd319abf337014f8d8a109aaa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kbackup-24.08.1.tar.xz">kbackup-24.08.1</a></td>
   <td align="right">371kB</td>
   <td><tt>1927e57d8f6d27ae6c33f46603868c7a6015e537c26b23ed3cfd9768084f2bb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kblackbox-24.08.1.tar.xz">kblackbox-24.08.1</a></td>
   <td align="right">535kB</td>
   <td><tt>39ef4f4a02517b72e43cf66709f899a3c0a216af23f32d19a53b2ea631b34e10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kblocks-24.08.1.tar.xz">kblocks-24.08.1</a></td>
   <td align="right">2051kB</td>
   <td><tt>09711403611c288aa02260a11bc9d43432225c5ae4c17d5b4701fb5fdf04bbda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kbounce-24.08.1.tar.xz">kbounce-24.08.1</a></td>
   <td align="right">3243kB</td>
   <td><tt>0cf329be1757cce919b2b2d88871024b19aa42e58185a752d091f894efe7a0fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kbreakout-24.08.1.tar.xz">kbreakout-24.08.1</a></td>
   <td align="right">2493kB</td>
   <td><tt>e528bd38a15f06567c83a5cbe18557acf7f219c042bce09f43715e1207e18323</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kbruch-24.08.1.tar.xz">kbruch-24.08.1</a></td>
   <td align="right">5032kB</td>
   <td><tt>5bf9fc5d1aa0985252c3b4dd3e2906aa1e354684e5de6030e33a9f4c48eacc4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kcachegrind-24.08.1.tar.xz">kcachegrind-24.08.1</a></td>
   <td align="right">912kB</td>
   <td><tt>04f24cab5fe5dc88a7998498de7b6cb65e77ef12ab1ebbe34bca00b3b212bb21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kcalc-24.08.1.tar.xz">kcalc-24.08.1</a></td>
   <td align="right">461kB</td>
   <td><tt>86ebb9b36b5f4d620904884206985cecc0ffd253666f27313ec7bae99b10a96e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kcalutils-24.08.1.tar.xz">kcalutils-24.08.1</a></td>
   <td align="right">347kB</td>
   <td><tt>a51ac3d5dc75c6e5a54edaf067e0d4bdf58e7ae7117a5088a4f92872783fb099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kcharselect-24.08.1.tar.xz">kcharselect-24.08.1</a></td>
   <td align="right">464kB</td>
   <td><tt>65d858221b2c52fd1063ea5792444f74edadadbd22cfa6da30f4e725716c97c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kclock-24.08.1.tar.xz">kclock-24.08.1</a></td>
   <td align="right">645kB</td>
   <td><tt>a99d5bbf80031b6c33c878bd6b123d2d02cb9c8ac9d0697a3e633206d4e0198c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kcolorchooser-24.08.1.tar.xz">kcolorchooser-24.08.1</a></td>
   <td align="right">34kB</td>
   <td><tt>d8462f12d54e700aa6ec435cb8aef39fc42dad4842ee6e84fb6efebbe427703c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kcron-24.08.1.tar.xz">kcron-24.08.1</a></td>
   <td align="right">856kB</td>
   <td><tt>a92cb4e42f6871734b57daeced3f68f4a237ec4c47c1c78a6b5c25aaff7f8c2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kdebugsettings-24.08.1.tar.xz">kdebugsettings-24.08.1</a></td>
   <td align="right">112kB</td>
   <td><tt>89b6a769688795f81868bc85b00021480769064bec81b21cf05c0b0b7aad926b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kdeconnect-kde-24.08.1.tar.xz">kdeconnect-kde-24.08.1</a></td>
   <td align="right">690kB</td>
   <td><tt>f9d7b55d52ae8d07432922afd84af19cd373df07b45eb97d381bcd2db4d5d1e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kde-dev-scripts-24.08.1.tar.xz">kde-dev-scripts-24.08.1</a></td>
   <td align="right">363kB</td>
   <td><tt>90e9a3ce6881f5c465ba79260d669e66db01bf01decdfa995c3f303fe4716874</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kde-dev-utils-24.08.1.tar.xz">kde-dev-utils-24.08.1</a></td>
   <td align="right">73kB</td>
   <td><tt>cc390f6ec3f1cbca0125b072ddca08f39f7e7d6b1561eb8ac1d1ce8c2c751da9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kdeedu-data-24.08.1.tar.xz">kdeedu-data-24.08.1</a></td>
   <td align="right">330kB</td>
   <td><tt>f11477f0da0bf242dc309e0bc461a43fa01d94743a3049bd336af58dd959b4e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kdegraphics-mobipocket-24.08.1.tar.xz">kdegraphics-mobipocket-24.08.1</a></td>
   <td align="right">12kB</td>
   <td><tt>0d94285fcd769043586700c332b82a972959efa63e1f74a8cea221658ffed032</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kdegraphics-thumbnailers-24.08.1.tar.xz">kdegraphics-thumbnailers-24.08.1</a></td>
   <td align="right">47kB</td>
   <td><tt>7082ccf1e4f8fa643be339e64cb0ffd1ac5e9eae61486965c3b7e57ebfa9dd74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kde-inotify-survey-24.08.1.tar.xz">kde-inotify-survey-24.08.1</a></td>
   <td align="right">230kB</td>
   <td><tt>a43467a9656f002ab2b291a747f67a53d6d3153d9d2e1809bc4083536ea5a088</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kdenetwork-filesharing-24.08.1.tar.xz">kdenetwork-filesharing-24.08.1</a></td>
   <td align="right">482kB</td>
   <td><tt>0dbd28611839450e79aebd9ac9b7dbc45b82b8c1cd3206d5d360d545f73f70c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kdenlive-24.08.1.tar.xz">kdenlive-24.08.1</a></td>
   <td align="right">12682kB</td>
   <td><tt>55b42af545304ec26bf20b4e9e79e89e91d61481fbbb93a5df7c74e86fbae142</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kdepim-addons-24.08.1.tar.xz">kdepim-addons-24.08.1</a></td>
   <td align="right">2551kB</td>
   <td><tt>4657ed23212c0eee53e48c879f1736e55f57158693f87fac500e5d7f94ddf2dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kdepim-runtime-24.08.1.tar.xz">kdepim-runtime-24.08.1</a></td>
   <td align="right">1638kB</td>
   <td><tt>2991dd301847b6f7500769c127c7779555b82f09ae0856d1a9ebcce1987e5925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kdesdk-kio-24.08.1.tar.xz">kdesdk-kio-24.08.1</a></td>
   <td align="right">40kB</td>
   <td><tt>63ff5ba1a85329c7006946e8ff399afbe1f64cb6669e858dfe1af8fc5f111732</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kdesdk-thumbnailers-24.08.1.tar.xz">kdesdk-thumbnailers-24.08.1</a></td>
   <td align="right">26kB</td>
   <td><tt>49c4c9681e61422deb0e703bd332c18d1ceb22f0c8ef1a3fad49a53209aad448</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kdevelop-24.08.1.tar.xz">kdevelop-24.08.1</a></td>
   <td align="right">8587kB</td>
   <td><tt>bab13c82597f60e701cae13dd5a2f406a8b118bfa969d4c4fa9b14787009e508</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kdev-php-24.08.1.tar.xz">kdev-php-24.08.1</a></td>
   <td align="right">1068kB</td>
   <td><tt>3783aadb34ae092299ab4b84396be1217036865d6712cc6c7f995d41c52fd631</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kdev-python-24.08.1.tar.xz">kdev-python-24.08.1</a></td>
   <td align="right">1075kB</td>
   <td><tt>690be8d67459c8283ef022ce3ec7ac053e55dc834a115e91a2eb3b7da2123120</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kdf-24.08.1.tar.xz">kdf-24.08.1</a></td>
   <td align="right">466kB</td>
   <td><tt>6a05d3876445936ace3ea2c7cbaefee6bd97e85ea0be70915c7d321cfa362d1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kdialog-24.08.1.tar.xz">kdialog-24.08.1</a></td>
   <td align="right">143kB</td>
   <td><tt>37e800c2700ff91d4c6143270316aab48a25697b6521189c437d19eee6546293</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kdiamond-24.08.1.tar.xz">kdiamond-24.08.1</a></td>
   <td align="right">4560kB</td>
   <td><tt>2435811a10f2975bc72c5c5d3e8c96ae9dd41b111d46e578f73871e1a0bf51ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/keditbookmarks-24.08.1.tar.xz">keditbookmarks-24.08.1</a></td>
   <td align="right">252kB</td>
   <td><tt>0cce538a4d90b6db170723fd9fa9aa323801d15126e3e924d636e97bae522496</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/keysmith-24.08.1.tar.xz">keysmith-24.08.1</a></td>
   <td align="right">167kB</td>
   <td><tt>cf7ebbec12fd631ec83621c341e3cac7792a9e859f5f992e6e236495a2323026</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kfind-24.08.1.tar.xz">kfind-24.08.1</a></td>
   <td align="right">318kB</td>
   <td><tt>e877fac508bec688e1792330c6f656ffffbcbd59fe161a174b0bd2d501d803bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kfourinline-24.08.1.tar.xz">kfourinline-24.08.1</a></td>
   <td align="right">724kB</td>
   <td><tt>b8dfe65db5948e06bf455b21a253668cd2e7c4649b9476c2f9127f531cd132ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kgeography-24.08.1.tar.xz">kgeography-24.08.1</a></td>
   <td align="right">12127kB</td>
   <td><tt>899857b668f17993da6b1e57d8e665620d0ab8859ed6e3210842a00a95eef2d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kget-24.08.1.tar.xz">kget-24.08.1</a></td>
   <td align="right">4797kB</td>
   <td><tt>1af81db90b0db5350bab10c9664d0e3123a3635d2c7a0ef583939773a9a68804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kgoldrunner-24.08.1.tar.xz">kgoldrunner-24.08.1</a></td>
   <td align="right">4224kB</td>
   <td><tt>00be6296dde23bfdb1e0518e72ccd2793e332cff3effb662af5e8639f317ebc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kgpg-24.08.1.tar.xz">kgpg-24.08.1</a></td>
   <td align="right">2951kB</td>
   <td><tt>c6135d67854d4b21cd2a5474d5fd9adba5447cad28b824e8af5cc00258636485</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kgraphviewer-24.08.1.tar.xz">kgraphviewer-24.08.1</a></td>
   <td align="right">1545kB</td>
   <td><tt>35d46abf16e52d064a240e94690e0789719c9e5362eb587ea415ee401dbec3c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/khangman-24.08.1.tar.xz">khangman-24.08.1</a></td>
   <td align="right">6852kB</td>
   <td><tt>9c463c92147dc6398e49194fd789f7a6d16b9052ef80c8a0869f9cb52ef14cad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/khealthcertificate-24.08.1.tar.xz">khealthcertificate-24.08.1</a></td>
   <td align="right">502kB</td>
   <td><tt>55638782d46932ab443b849c85625648f5591244ebd76aa5be17ef74441b8139</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/khelpcenter-24.08.1.tar.xz">khelpcenter-24.08.1</a></td>
   <td align="right">4121kB</td>
   <td><tt>760fa25a57b942ba53265a56ffb12649ff9f594dcdfc67dadfd9bc51c1287e7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kidentitymanagement-24.08.1.tar.xz">kidentitymanagement-24.08.1</a></td>
   <td align="right">190kB</td>
   <td><tt>dffc025932af0089080e367cc6708b20ce6fafa1823921da49e43be399a65ad7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kig-24.08.1.tar.xz">kig-24.08.1</a></td>
   <td align="right">3169kB</td>
   <td><tt>cf8a802dba223c8a8437df28c82c9d64758494037e5c10f574521cb3a3014e88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kigo-24.08.1.tar.xz">kigo-24.08.1</a></td>
   <td align="right">4714kB</td>
   <td><tt>7ed26102de0e17919c50e16a62f3257a58a55540e9081823f7e020433cb52b2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/killbots-24.08.1.tar.xz">killbots-24.08.1</a></td>
   <td align="right">1135kB</td>
   <td><tt>37eb7b019599fd9b5690980cfb7c03fd2a9bd64677e84596181698fb9ba0efc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kimagemapeditor-24.08.1.tar.xz">kimagemapeditor-24.08.1</a></td>
   <td align="right">1046kB</td>
   <td><tt>877bdd562a8cc0e510ffcbbb724c63af116899ea95630ba1d8a94398a990b3db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kimap-24.08.1.tar.xz">kimap-24.08.1</a></td>
   <td align="right">129kB</td>
   <td><tt>f6131e6764cfa6d56899796f5f3b6495a75018157ff18d88d955fb117a5c7c49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kio-admin-24.08.1.tar.xz">kio-admin-24.08.1</a></td>
   <td align="right">37kB</td>
   <td><tt>06727736b98af7c24de4616dd244d9560d99517aa5030fb47c1b70c30f5757a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kio-extras-24.08.1.tar.xz">kio-extras-24.08.1</a></td>
   <td align="right">3393kB</td>
   <td><tt>64051dda2f17a3901426c0a9b5ca65b64429f00b6820e7796e605084b0cfceda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kio-gdrive-24.08.1.tar.xz">kio-gdrive-24.08.1</a></td>
   <td align="right">79kB</td>
   <td><tt>3592d5821ce15c7cdd0fff3f8f55621e4374522143bc01b632aa49f460000483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kio-zeroconf-24.08.1.tar.xz">kio-zeroconf-24.08.1</a></td>
   <td align="right">43kB</td>
   <td><tt>9e9736da673ffad4fd1cdde48c854c44ab6ff945fdc5665ae146adc42dbe9edf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kirigami-gallery-24.08.1.tar.xz">kirigami-gallery-24.08.1</a></td>
   <td align="right">359kB</td>
   <td><tt>46d9f3c83993fa3277de3a511bdca0d6a60a900e9092be354e827128fe8c41c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kiriki-24.08.1.tar.xz">kiriki-24.08.1</a></td>
   <td align="right">361kB</td>
   <td><tt>15de38432b18aa2475b4316432f5f45a88bd32e09159437d030df6307db6cba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kiten-24.08.1.tar.xz">kiten-24.08.1</a></td>
   <td align="right">11045kB</td>
   <td><tt>95bb08bedf7bfe730a6082027371a62d5ad6a04e2f255d1a9daf30b6e5d40c43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kitinerary-24.08.1.tar.xz">kitinerary-24.08.1</a></td>
   <td align="right">1945kB</td>
   <td><tt>69e31024bef80836e1cf5eaf1543fe9a0ca07d7243d4349f9da0a827a1233933</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kjournald-24.08.1.tar.xz">kjournald-24.08.1</a></td>
   <td align="right">507kB</td>
   <td><tt>5158230bb17a7ac9fd792ed3dae7a39e60d94ca4a34d72d8d86a0eb881b71bb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kjumpingcube-24.08.1.tar.xz">kjumpingcube-24.08.1</a></td>
   <td align="right">332kB</td>
   <td><tt>73a8078ada74bd31a9cc2e7abaeb22ea6f383a61324c87a927eda3d4fd27dd4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kldap-24.08.1.tar.xz">kldap-24.08.1</a></td>
   <td align="right">184kB</td>
   <td><tt>94b52c48d59a2a078461e7d398fdde8a0746f8319392e49d201745f02e46d2ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kleopatra-24.08.1.tar.xz">kleopatra-24.08.1</a></td>
   <td align="right">2889kB</td>
   <td><tt>8ee5bd920822e4f54c9b5d5aa7b77331d2813b25b43ed8a9c0c131ca0b1bcb6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/klettres-24.08.1.tar.xz">klettres-24.08.1</a></td>
   <td align="right">46083kB</td>
   <td><tt>aaa0fd812e5fae870e6e6209f8cea302629e40fec2241b4029e7ceb314a69718</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/klickety-24.08.1.tar.xz">klickety-24.08.1</a></td>
   <td align="right">1350kB</td>
   <td><tt>fe7503df9b853838890bdeaea3ec133f4827daa8716646cb2fafd036905c0d80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/klines-24.08.1.tar.xz">klines-24.08.1</a></td>
   <td align="right">1630kB</td>
   <td><tt>ca3f11ff8ccbcd35dd9afa64eadb61166d65712aa17a79befbbd18b037864ccb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kmag-24.08.1.tar.xz">kmag-24.08.1</a></td>
   <td align="right">658kB</td>
   <td><tt>85b7b4b6ada0466f699432d4ba7ed5a733e1a9ccd3c6ed8f1bfafcfaf4c446ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kmahjongg-24.08.1.tar.xz">kmahjongg-24.08.1</a></td>
   <td align="right">3628kB</td>
   <td><tt>d8b96406130b3c41fdd0b3330919d758cb59fe41a281994cd06764e4114bec70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kmail-24.08.1.tar.xz">kmail-24.08.1</a></td>
   <td align="right">7555kB</td>
   <td><tt>ab5abd0578f1996daf3a9fb674f39491544ce33e7efb3ca1fff15ef6f5731072</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kmail-account-wizard-24.08.1.tar.xz">kmail-account-wizard-24.08.1</a></td>
   <td align="right">162kB</td>
   <td><tt>d12cfa9a206dde5ea01e7ea24baa0aa495fa4b3d55fa864c66064fd50dfc70b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kmailtransport-24.08.1.tar.xz">kmailtransport-24.08.1</a></td>
   <td align="right">183kB</td>
   <td><tt>27f322451b69d445362cf70a8e7c92077e8ed8b2548e1949057a4d137cba306f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kmbox-24.08.1.tar.xz">kmbox-24.08.1</a></td>
   <td align="right">28kB</td>
   <td><tt>9328c393038c198be5547c7436ca1aaf7cdf41466dccc32c8edf92ac33eaf08f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kmime-24.08.1.tar.xz">kmime-24.08.1</a></td>
   <td align="right">162kB</td>
   <td><tt>ec478f26144b1dfb6f0eab8e8efb0c1f06ad349cbb4f55cff233dcacf635a483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kmines-24.08.1.tar.xz">kmines-24.08.1</a></td>
   <td align="right">923kB</td>
   <td><tt>1f8d26cf92228abb790dd7c2ede4c19a79a8bfc3ca78467687d4755a19cd33da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kmix-24.08.1.tar.xz">kmix-24.08.1</a></td>
   <td align="right">1138kB</td>
   <td><tt>2173957560ee712c21f3de45bcade5fd834981e8262e8a3253a341665615b81c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kmousetool-24.08.1.tar.xz">kmousetool-24.08.1</a></td>
   <td align="right">127kB</td>
   <td><tt>19646b61d9217aa69e7cf988cc34f25815d16364f62f205e602997362561106c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kmouth-24.08.1.tar.xz">kmouth-24.08.1</a></td>
   <td align="right">1891kB</td>
   <td><tt>4f44dad858fe2c962981f1e087c4a9a62b393950b2c2bd8a020a2d62395071fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kmplot-24.08.1.tar.xz">kmplot-24.08.1</a></td>
   <td align="right">2940kB</td>
   <td><tt>794555aef17997339443478f8754d4ab791d5c1c4b26439d45ea7704724c1cd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/knavalbattle-24.08.1.tar.xz">knavalbattle-24.08.1</a></td>
   <td align="right">1019kB</td>
   <td><tt>40b2e9cf7eddcaba137cd00bd3437aab8d0e95915a6f5acee7c1eda5768c239f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/knetwalk-24.08.1.tar.xz">knetwalk-24.08.1</a></td>
   <td align="right">983kB</td>
   <td><tt>4d1bef278cbbd27ed6d58a035384f2543773cda5b1f8e4c02ffda54c3849bed8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/knights-24.08.1.tar.xz">knights-24.08.1</a></td>
   <td align="right">2421kB</td>
   <td><tt>93c36ce1fd064c39965545dc936d5083cabbd4e75c22aca75b8697a49fa61754</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/koko-24.08.1.tar.xz">koko-24.08.1</a></td>
   <td align="right">8336kB</td>
   <td><tt>3c638e5c7d3d85fa6c1f18094fd2c124374e044c31c7eb650767c91ac106551c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kolf-24.08.1.tar.xz">kolf-24.08.1</a></td>
   <td align="right">1048kB</td>
   <td><tt>71ca10f6ae34c729ab168036843011cfd22c16d2a2e26840936ca9efb41ac3ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kollision-24.08.1.tar.xz">kollision-24.08.1</a></td>
   <td align="right">302kB</td>
   <td><tt>5d9f4b82889fb40ea41d7852454616e4acb7d617bc9e3ad8ce4153f522ce945f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kolourpaint-24.08.1.tar.xz">kolourpaint-24.08.1</a></td>
   <td align="right">5177kB</td>
   <td><tt>30e1192c65f9d16062f9cc78b0936f06f6ebcd347c56e6199fe293d7d4569775</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kompare-24.08.1.tar.xz">kompare-24.08.1</a></td>
   <td align="right">925kB</td>
   <td><tt>c0424a16a8238a5711f0e9607bdf9e245d1eeff7f82d3da1f18492eb2be758b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kongress-24.08.1.tar.xz">kongress-24.08.1</a></td>
   <td align="right">152kB</td>
   <td><tt>d8f638800f5adead523f5ca79afd14f3dda5507e7975bea273e78bb8472826d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/konqueror-24.08.1.tar.xz">konqueror-24.08.1</a></td>
   <td align="right">9460kB</td>
   <td><tt>96916f2d1f2494f2ad1a45550f1cfb84b0ea30d9ee94aefc02179dcac5bc6a1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/konquest-24.08.1.tar.xz">konquest-24.08.1</a></td>
   <td align="right">837kB</td>
   <td><tt>54e8a86c00b070f2617d18dd859a9f76a19e6bb2a7d38054b6394807e7c80db6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/konsole-24.08.1.tar.xz">konsole-24.08.1</a></td>
   <td align="right">1736kB</td>
   <td><tt>65219e4f6afa09eaf26fd3e91379d07d93960d2f5ce412568400e8b71b0dd708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kontact-24.08.1.tar.xz">kontact-24.08.1</a></td>
   <td align="right">842kB</td>
   <td><tt>d573289dabbf56e248c8f0b162b32d6636e2321071a09b179baec87bb5c21bb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kontactinterface-24.08.1.tar.xz">kontactinterface-24.08.1</a></td>
   <td align="right">39kB</td>
   <td><tt>fe3bb9c85e09fdab1e94b129618b432f063525a75aaa9755b6122fa4aa43f13a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kontrast-24.08.1.tar.xz">kontrast-24.08.1</a></td>
   <td align="right">209kB</td>
   <td><tt>d0244596036e861b48c98788aed38bd7b9834103a85ca2885bf6851a00a2c82f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/konversation-24.08.1.tar.xz">konversation-24.08.1</a></td>
   <td align="right">4289kB</td>
   <td><tt>635cdbba451fa2ff26c33173ffe44674180b4c90f3d774e86418fd845e5b0c6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kopeninghours-24.08.1.tar.xz">kopeninghours-24.08.1</a></td>
   <td align="right">72kB</td>
   <td><tt>f4d643562f0e872ee4c8e0a97f319cb94b69a01d94849b5285178c8bba59a703</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/korganizer-24.08.1.tar.xz">korganizer-24.08.1</a></td>
   <td align="right">2843kB</td>
   <td><tt>019f68d952aa5a6600188f20b35161e1eb5b290ab0c39d8fd3d94d5310654e63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kosmindoormap-24.08.1.tar.xz">kosmindoormap-24.08.1</a></td>
   <td align="right">675kB</td>
   <td><tt>d2ecf62b097f869da0d158e4a00a08bb060e74a0af9e34b7a1af3fdacc15575a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kpat-24.08.1.tar.xz">kpat-24.08.1</a></td>
   <td align="right">3637kB</td>
   <td><tt>c189227c6b01c6840c28463014c40d05c50ebe3ad273ea156a1f118024567cca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kpimtextedit-24.08.1.tar.xz">kpimtextedit-24.08.1</a></td>
   <td align="right">172kB</td>
   <td><tt>bf941d245a0626b3b36ab01c18722aa52fcccb91a017c7ff3b06fcf9cb73d2dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kpkpass-24.08.1.tar.xz">kpkpass-24.08.1</a></td>
   <td align="right">28kB</td>
   <td><tt>89231553d69343fcbe363688fa49bc9e05b6f7695804fdb52120e8712b1d816f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kpmcore-24.08.1.tar.xz">kpmcore-24.08.1</a></td>
   <td align="right">631kB</td>
   <td><tt>274550a5dc8d613ba8ef7947fe4e57c0f8233a60954563359f2712e059f09a80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kpublictransport-24.08.1.tar.xz">kpublictransport-24.08.1</a></td>
   <td align="right">723kB</td>
   <td><tt>cb7305cff8d6058f1773b84f7e2ced82614c976854c13b455fab49732ad656a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kqtquickcharts-24.08.1.tar.xz">kqtquickcharts-24.08.1</a></td>
   <td align="right">30kB</td>
   <td><tt>1280d76a4cceb6e18731bc99b3b2c078eb9fcdac0a0393df5e7a06f34263cd63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/krdc-24.08.1.tar.xz">krdc-24.08.1</a></td>
   <td align="right">1515kB</td>
   <td><tt>60e5500053c95bebeadba6348d6461189ad5901908bcfe51f84ffb470206c83c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/krecorder-24.08.1.tar.xz">krecorder-24.08.1</a></td>
   <td align="right">164kB</td>
   <td><tt>63a492c2bc80f0de58ab76dfb9db4abcf2cafd39b0b03fc2f2d78f61f631eb8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kreversi-24.08.1.tar.xz">kreversi-24.08.1</a></td>
   <td align="right">1005kB</td>
   <td><tt>867c2ad348ae90b442f10439f5cf089e147970a1e06a13ad612b7e8ce47165ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/krfb-24.08.1.tar.xz">krfb-24.08.1</a></td>
   <td align="right">1172kB</td>
   <td><tt>ee5f4dab2d2c052af096d58782461351f150fca19b6ec66dace87c899560975a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kross-interpreters-24.08.1.tar.xz">kross-interpreters-24.08.1</a></td>
   <td align="right">148kB</td>
   <td><tt>acfc9276ec01e03b0d081eb7b9b8fca74900ff8da1f0caad48ab212787821a50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kruler-24.08.1.tar.xz">kruler-24.08.1</a></td>
   <td align="right">277kB</td>
   <td><tt>2d595519f41d0fd50ee295d017c4db9d1162ab05742b64aaec9900551b2a73b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/ksanecore-24.08.1.tar.xz">ksanecore-24.08.1</a></td>
   <td align="right">49kB</td>
   <td><tt>a9eee4f76e429a7cdb868c90155ad9b1ac013405d8569ecfa5715c212bcdfd4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kshisen-24.08.1.tar.xz">kshisen-24.08.1</a></td>
   <td align="right">945kB</td>
   <td><tt>8b953bbacd81df8bc7e670dd029b7eb324bf434674771d86370881dff35fc19d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/ksirk-24.08.1.tar.xz">ksirk-24.08.1</a></td>
   <td align="right">6543kB</td>
   <td><tt>8b1392082efa9581c0d5cb9d7590782252fdb79673816356ae7b5a0d4658f679</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/ksmtp-24.08.1.tar.xz">ksmtp-24.08.1</a></td>
   <td align="right">51kB</td>
   <td><tt>de673ce410a4f85796c5a12ce438a1b0da0d3a75fef7d2f56a6b7793c6dfef33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/ksnakeduel-24.08.1.tar.xz">ksnakeduel-24.08.1</a></td>
   <td align="right">564kB</td>
   <td><tt>467eebbd83f632a4f251349680c2a881654dab106712098568860f78c82ffb6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kspaceduel-24.08.1.tar.xz">kspaceduel-24.08.1</a></td>
   <td align="right">615kB</td>
   <td><tt>b8b321d89c702d6b06535250f9b1a29256ef5aacc988fba7ed610d1a0406b702</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/ksquares-24.08.1.tar.xz">ksquares-24.08.1</a></td>
   <td align="right">311kB</td>
   <td><tt>6fe0387714bdfd7b5c3834e8f6b9488f16f75efe2672b4f310a78bff3043239e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/ksudoku-24.08.1.tar.xz">ksudoku-24.08.1</a></td>
   <td align="right">1681kB</td>
   <td><tt>50e9b2e3382cefc0abf715af29cee9a7ccb0980cd530666796cf892cf46346af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/ksystemlog-24.08.1.tar.xz">ksystemlog-24.08.1</a></td>
   <td align="right">1811kB</td>
   <td><tt>a4c9d32215f83d849118e82f371bca6b3836bb50dbb6bc3afedeba310aaea99e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kteatime-24.08.1.tar.xz">kteatime-24.08.1</a></td>
   <td align="right">300kB</td>
   <td><tt>e82f0986a73c851c9c15905bc4cceb1b8ae1775599bdcddd5a2061ca0820a708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/ktimer-24.08.1.tar.xz">ktimer-24.08.1</a></td>
   <td align="right">441kB</td>
   <td><tt>6d42bfbe990de3ee45670ade1164c187115aaede950ae355d53c6fe09e047747</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/ktnef-24.08.1.tar.xz">ktnef-24.08.1</a></td>
   <td align="right">306kB</td>
   <td><tt>c05a03493de3ae0c23b2bf3a7b10cedb8112d6066e87c093b5cb25476b5bd3be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/ktorrent-24.08.1.tar.xz">ktorrent-24.08.1</a></td>
   <td align="right">2135kB</td>
   <td><tt>694f7c241175faf9125517ceb369273cdab8c91e81c4feab7a3ec3e1a7e4be61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/ktouch-24.08.1.tar.xz">ktouch-24.08.1</a></td>
   <td align="right">4670kB</td>
   <td><tt>8f1df54fb93e8b6f88c869a3bdfbb159960011315925cb2750574dfdddddb20d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/ktrip-24.08.1.tar.xz">ktrip-24.08.1</a></td>
   <td align="right">1014kB</td>
   <td><tt>5fdf7b9e442a3b72c9ee4495c73f03a72eba54eb81f002c20c86664057bd8a97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/ktuberling-24.08.1.tar.xz">ktuberling-24.08.1</a></td>
   <td align="right">69860kB</td>
   <td><tt>5b89f3a5628f3ac1f82aa57efa6977512c4c3e039004579fad0bd2a7e68b2c21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kturtle-24.08.1.tar.xz">kturtle-24.08.1</a></td>
   <td align="right">2045kB</td>
   <td><tt>394f777aed6268e89ebb6cb031a7ed5bd0e341759f49fc44067def9514aa4dbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kubrick-24.08.1.tar.xz">kubrick-24.08.1</a></td>
   <td align="right">357kB</td>
   <td><tt>80fbaaa73c739558e20cd93078ccfff111e9a2d37a5997a5c3f5de128752f7ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kwalletmanager-24.08.1.tar.xz">kwalletmanager-24.08.1</a></td>
   <td align="right">1017kB</td>
   <td><tt>d006b9bb3d4e0a3c77d2a73fbfe150f37b3c2a3fe526442031accf1dc1bb3aa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kwave-24.08.1.tar.xz">kwave-24.08.1</a></td>
   <td align="right">6398kB</td>
   <td><tt>55c5cd5d21fc035f61bae66f3916a8d7fd08c218c2793dbcf13fdc3333b1bbe5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kweather-24.08.1.tar.xz">kweather-24.08.1</a></td>
   <td align="right">406kB</td>
   <td><tt>79f56697b4f3c897b6b602e8e869edabe2ddd15cbc9d3d956128390252d2d802</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kweathercore-24.08.1.tar.xz">kweathercore-24.08.1</a></td>
   <td align="right">73kB</td>
   <td><tt>16e7520d2ff03cdc549d7fb1b18f9b4ee505f8aa59892663b966bcad02ac8621</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/kwordquiz-24.08.1.tar.xz">kwordquiz-24.08.1</a></td>
   <td align="right">3683kB</td>
   <td><tt>469ad12999b3431c97123327d5e517685f8e31d44f8e5e0e580ef8a2a3dc3a60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/libgravatar-24.08.1.tar.xz">libgravatar-24.08.1</a></td>
   <td align="right">37kB</td>
   <td><tt>8d4d103a35b10fc82641e48c5bfa56208fbd44a36c6e10aa649d5c0eace953de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/libkcddb-24.08.1.tar.xz">libkcddb-24.08.1</a></td>
   <td align="right">438kB</td>
   <td><tt>a60cde6cc94324f17e5e41e509ffaddffcb57fbc73411d2d1567c09e4c5307be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/libkcompactdisc-24.08.1.tar.xz">libkcompactdisc-24.08.1</a></td>
   <td align="right">97kB</td>
   <td><tt>45624b7252fcbe30f6e105ff8bcf8e844cb56c1cd3de26425c1bdac1e7c92eb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/libkdcraw-24.08.1.tar.xz">libkdcraw-24.08.1</a></td>
   <td align="right">36kB</td>
   <td><tt>dceda2ebbf7479ba232e9108d1cf58d613df0fa76c990106ee59dbba8c9c32f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/libkdegames-24.08.1.tar.xz">libkdegames-24.08.1</a></td>
   <td align="right">5834kB</td>
   <td><tt>48b2254a6cdf38744b6ef40ff47e4430b92633bb2003030aed8edfd497414fc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/libkdepim-24.08.1.tar.xz">libkdepim-24.08.1</a></td>
   <td align="right">276kB</td>
   <td><tt>cb76fab7ece14dc03cb090a2ca6a2972ccbc34f6a86c4c67ed29a18ff3309f6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/libkeduvocdocument-24.08.1.tar.xz">libkeduvocdocument-24.08.1</a></td>
   <td align="right">223kB</td>
   <td><tt>0e99500e4e3abf4e1795a390c3728ce9fe799b566965d58d4eb25003a1303291</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/libkexiv2-24.08.1.tar.xz">libkexiv2-24.08.1</a></td>
   <td align="right">59kB</td>
   <td><tt>27d8b61e05869cfdee685183919cb31442db785d0b440399c8ba846294a7be67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/libkgapi-24.08.1.tar.xz">libkgapi-24.08.1</a></td>
   <td align="right">331kB</td>
   <td><tt>c24edc751f66b6c468ac1e91df3f2c4114a622d93ebba900b978e9ad13db8ff3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/libkleo-24.08.1.tar.xz">libkleo-24.08.1</a></td>
   <td align="right">591kB</td>
   <td><tt>c982580f8c1bcebf1a214625dc9fff8842be62e47e8951755ff1ca7e522e2d18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/libkmahjongg-24.08.1.tar.xz">libkmahjongg-24.08.1</a></td>
   <td align="right">1654kB</td>
   <td><tt>2ffa08497608646df76929e7091755ee2f8db2ec0dfc8af2a324712a64a38a88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/libkomparediff2-24.08.1.tar.xz">libkomparediff2-24.08.1</a></td>
   <td align="right">183kB</td>
   <td><tt>fbaac3e0b955865c123c5f8306db199b2b5cbf8a4117cdf1c99bf0bbbb08d0f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/libksane-24.08.1.tar.xz">libksane-24.08.1</a></td>
   <td align="right">150kB</td>
   <td><tt>e3e703b4efa336b74a5309fd58932052b83c2a1e39ff1e8a90b5cf7cb9ba326e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/libksieve-24.08.1.tar.xz">libksieve-24.08.1</a></td>
   <td align="right">588kB</td>
   <td><tt>8588e34db882daa016f46461e5135c07ade43b5cdf65918be67cb88ad1a7af1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/libktorrent-24.08.1.tar.xz">libktorrent-24.08.1</a></td>
   <td align="right">591kB</td>
   <td><tt>730598d393f1bda6a7be0f1d7f8bf2ed2724606e925610f22202771649fc5b02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/lokalize-24.08.1.tar.xz">lokalize-24.08.1</a></td>
   <td align="right">1999kB</td>
   <td><tt>c289f3be2c6b19f5fbd54c02b91f809ff7cf372cedcbf078f1c4f1a61471f85b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/lskat-24.08.1.tar.xz">lskat-24.08.1</a></td>
   <td align="right">1194kB</td>
   <td><tt>570c837d5df6b4be079a420e725f820bf346042694365a677acbb57dd66c6372</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/mailcommon-24.08.1.tar.xz">mailcommon-24.08.1</a></td>
   <td align="right">764kB</td>
   <td><tt>2f365eb30564b49bb8fa54f413f4ef495870f244aa637bdb6d09b6f29ba433d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/mailimporter-24.08.1.tar.xz">mailimporter-24.08.1</a></td>
   <td align="right">581kB</td>
   <td><tt>5ed1dea40a646fa6c2aa21cd7058eb5c8bc53d8ac526a725cef4c1e0967ae483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/marble-24.08.1.tar.xz">marble-24.08.1</a></td>
   <td align="right">51219kB</td>
   <td><tt>7be7d040d18d5cb55f3b39ed2f16f8239c31d5ad124cd1d2bc124ae69c7a4c7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/markdownpart-24.08.1.tar.xz">markdownpart-24.08.1</a></td>
   <td align="right">33kB</td>
   <td><tt>039f63c5d962c6eef1bd14b93c9437fb5ee710448efc9a80dd89467a19e40d3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/massif-visualizer-24.08.1.tar.xz">massif-visualizer-24.08.1</a></td>
   <td align="right">272kB</td>
   <td><tt>cc8901f69ecbb97bf910df700abf5e0b4944ca45e9116b8c41d457f86019412c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/mbox-importer-24.08.1.tar.xz">mbox-importer-24.08.1</a></td>
   <td align="right">31kB</td>
   <td><tt>e3945a79c53d3262819e6b34e866d905a3754422a90d1b90ab440eaabc968665</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/merkuro-24.08.1.tar.xz">merkuro-24.08.1</a></td>
   <td align="right">747kB</td>
   <td><tt>87e7135ddd54cd7aced9ec5fc593c5e283c5c2c47a82417633688637bf3206a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/messagelib-24.08.1.tar.xz">messagelib-24.08.1</a></td>
   <td align="right">7191kB</td>
   <td><tt>741485566d56c119d9d1ab60b9a04fc28395c3f98308249ba2d506bda86efb9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/mimetreeparser-24.08.1.tar.xz">mimetreeparser-24.08.1</a></td>
   <td align="right">629kB</td>
   <td><tt>e379627c037cd7ac316c545756326ea873fac3e430380e3262377bee02a9ec4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/minuet-24.08.1.tar.xz">minuet-24.08.1</a></td>
   <td align="right">27039kB</td>
   <td><tt>8dcd34a5eb87e0b612c6bb9db778d0facc79618cb9dc8dde3cd87243974c0cd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/neochat-24.08.1.tar.xz">neochat-24.08.1</a></td>
   <td align="right">1001kB</td>
   <td><tt>a394f04cf19d5567437e558075c9f7ce5c37bf73943b13c47739ff56acde571d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/okular-24.08.1.tar.xz">okular-24.08.1</a></td>
   <td align="right">7842kB</td>
   <td><tt>b057655c13e4fa566d288730aeb96198aef8a90cb6a1d6a55f566fa5a6b02e89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/palapeli-24.08.1.tar.xz">palapeli-24.08.1</a></td>
   <td align="right">2069kB</td>
   <td><tt>ec2d1337d89493a05303fbf1e800190e2271ec7a9482b44cc77834cae16bc368</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/parley-24.08.1.tar.xz">parley-24.08.1</a></td>
   <td align="right">8223kB</td>
   <td><tt>4871f04b7398b2c50ac6a6a86395470b1787589c7494a3e8400bf0d7511189be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/partitionmanager-24.08.1.tar.xz">partitionmanager-24.08.1</a></td>
   <td align="right">2267kB</td>
   <td><tt>32e44def7e1e3e57ac81f20744afcaa585ff2269eafb6192242f0ab0f36d5cdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/picmi-24.08.1.tar.xz">picmi-24.08.1</a></td>
   <td align="right">1480kB</td>
   <td><tt>01c172ba27f5d8323836b472dc439e33b9752103ddd5d23c012b4b93325949b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/pimcommon-24.08.1.tar.xz">pimcommon-24.08.1</a></td>
   <td align="right">343kB</td>
   <td><tt>315ed55892b3c54ea5143addc7e92ec08bdf6157129643c8fd9562dc36ec5a9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/pim-data-exporter-24.08.1.tar.xz">pim-data-exporter-24.08.1</a></td>
   <td align="right">415kB</td>
   <td><tt>ab8278128f6f7057b4df8e1e4e1b86eead54067525feea7180c578420eadadc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/pim-sieve-editor-24.08.1.tar.xz">pim-sieve-editor-24.08.1</a></td>
   <td align="right">458kB</td>
   <td><tt>a23b4454dbd08caeed66992c8d1059d7a67c744aaa422dfca746293e8899d2a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/plasmatube-24.08.1.tar.xz">plasmatube-24.08.1</a></td>
   <td align="right">199kB</td>
   <td><tt>26693e5a9c2a862b72b656b48564ebb6abae2e89421cd7fe7b1ffd7f98f4f264</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/poxml-24.08.1.tar.xz">poxml-24.08.1</a></td>
   <td align="right">43kB</td>
   <td><tt>d430aa42abec1b7fa4f5470a65b4eeb53f80b4e809db22a9d0fc5c37c5cc6fb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/qmlkonsole-24.08.1.tar.xz">qmlkonsole-24.08.1</a></td>
   <td align="right">192kB</td>
   <td><tt>9f559418e1ad4fb289c0cbca3b983dcb12b506476fd0982036abfd3872345809</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/rocs-24.08.1.tar.xz">rocs-24.08.1</a></td>
   <td align="right">1529kB</td>
   <td><tt>e17b3ad2b12394153f7516d0cddd8df3b24eb2b6dfef550bd4c6f1028a2f068a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/signon-kwallet-extension-24.08.1.tar.xz">signon-kwallet-extension-24.08.1</a></td>
   <td align="right">11kB</td>
   <td><tt>b6106884b2e4e1a4b76b03ce1f064a7d1bce40e8fb1e4d8808b29a17d7cb14af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/skanlite-24.08.1.tar.xz">skanlite-24.08.1</a></td>
   <td align="right">2328kB</td>
   <td><tt>06d26840a89f9ab0a3e56318562312f23769a5bec40713901ba5d6c6e5b40f13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/skanpage-24.08.1.tar.xz">skanpage-24.08.1</a></td>
   <td align="right">1302kB</td>
   <td><tt>488db84cd2a7a1d37b821a320f23a193fe47a7fb69f45e94b8487f341966a1c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/skladnik-24.08.1.tar.xz">skladnik-24.08.1</a></td>
   <td align="right">399kB</td>
   <td><tt>a3bea2d81d81e6f5a46e9d12119b438c9947f7b9c0c57741eeecc1a3e01318e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/spectacle-24.08.1.tar.xz">spectacle-24.08.1</a></td>
   <td align="right">1511kB</td>
   <td><tt>e83518bb23c56294fc78606434137660e0273c1b7941a15bba09571354ccd4c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/step-24.08.1.tar.xz">step-24.08.1</a></td>
   <td align="right">964kB</td>
   <td><tt>68174eff92fa58a6aaf78030bec7a55d68ef54934faa527f32ca2221b1893ef6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/svgpart-24.08.1.tar.xz">svgpart-24.08.1</a></td>
   <td align="right">29kB</td>
   <td><tt>38076651c190a199ea53869f81a73347fde9048753190f2f173cb5d4b51b7574</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/sweeper-24.08.1.tar.xz">sweeper-24.08.1</a></td>
   <td align="right">373kB</td>
   <td><tt>8697b964953d84a2957107020330781d9f4b85779680db2de376d571d86a76dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/telly-skout-24.08.1.tar.xz">telly-skout-24.08.1</a></td>
   <td align="right">102kB</td>
   <td><tt>f5b8915c3da7f4762d2fdd051c9f495c3f430ab0e6eb8c9dc9c94fdaa00da4f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/tokodon-24.08.1.tar.xz">tokodon-24.08.1</a></td>
   <td align="right">554kB</td>
   <td><tt>62db86fb40a8c36f88421a09b0ddffecd8266a9c25204b9183715ddbcd74333b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/umbrello-24.08.1.tar.xz">umbrello-24.08.1</a></td>
   <td align="right">5484kB</td>
   <td><tt>5a24f8a742f8952b035df09231e479f1f4fddd359216b803db7dfefe5ef88ac2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/yakuake-24.08.1.tar.xz">yakuake-24.08.1</a></td>
   <td align="right">380kB</td>
   <td><tt>b0b6a3a0fb4e168685540e3a1a8dd2a4d03cf59ddba6fd8fc058059f155ac61b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.1/src/zanshin-24.08.1.tar.xz">zanshin-24.08.1</a></td>
   <td align="right">366kB</td>
   <td><tt>c81ee12d913c8ab60303c57c95d798dc5b9e6de3e0678325832de7096829ad4d</tt></td>
</tr>

</table>
