<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/attica-6.3.0.tar.xz">attica-6.3.0</a></td>
   <td align="right">66kB</td>
   <td><tt>abaf3a113a002d5d8435a3a75020f98c574290d2c552a5f256291d0418cc59ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/baloo-6.3.0.tar.xz">baloo-6.3.0</a></td>
   <td align="right">309kB</td>
   <td><tt>87af96e58d9303479e628b7c801665631b6e5698e1ba9526f415cf6f3755a064</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/bluez-qt-6.3.0.tar.xz">bluez-qt-6.3.0</a></td>
   <td align="right">112kB</td>
   <td><tt>3b68b83fae1032d84213692b0c908f0fd57cafe57175c62b6ce5b89bc1d4a2dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/breeze-icons-6.3.0.tar.xz">breeze-icons-6.3.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>67266378f2d7dbf13dc4f691de43f30b5aca4e4a3336e9f60f0efba2a474e626</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/extra-cmake-modules-6.3.0.tar.xz">extra-cmake-modules-6.3.0</a></td>
   <td align="right">332kB</td>
   <td><tt>1368f8fba95c475a409eff05f78baf49ccd2655889d1e94902bfc886785af818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/frameworkintegration-6.3.0.tar.xz">frameworkintegration-6.3.0</a></td>
   <td align="right">53kB</td>
   <td><tt>94700551b3373f792b27ea6ca3013c7bda8f6b63260b918b3c1eec0d83ad4c7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kapidox-6.3.0.tar.xz">kapidox-6.3.0</a></td>
   <td align="right">193kB</td>
   <td><tt>21d39c5331b5923920b6bb3ed3c65021a66250f8af9125564cb909430032d74e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/karchive-6.3.0.tar.xz">karchive-6.3.0</a></td>
   <td align="right">1008kB</td>
   <td><tt>27807f5707668f9aa41c898eba90198a3083577fdab9f4751a02fefe63674e29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kauth-6.3.0.tar.xz">kauth-6.3.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ebcf36816ff826a2cfb3ed0a0d3746d7da9a23f79901ec43b7a4e7b156af33b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kbookmarks-6.3.0.tar.xz">kbookmarks-6.3.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>f0789daaab86b0c2451a91e21327f20bf1d200491cf7744af93c262aa76cfea1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kcalendarcore-6.3.0.tar.xz">kcalendarcore-6.3.0</a></td>
   <td align="right">251kB</td>
   <td><tt>cddf76b604cb5e26320781f76ca0caba8e23e653263d2a2095e91b288a1613fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kcmutils-6.3.0.tar.xz">kcmutils-6.3.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>9998b08ce423c9e59cdcc126a7475359a0c4fbe6b0400f44410c8a5cb6928e40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kcodecs-6.3.0.tar.xz">kcodecs-6.3.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>6902531afc3d47d543feb971c2bc04901af265e6730a477af4400073b22ec6ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kcolorscheme-6.3.0.tar.xz">kcolorscheme-6.3.0</a></td>
   <td align="right">43kB</td>
   <td><tt>311730bdcf81009f5a79694f135a93040a4a83a66cb942d9617fcd6976049035</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kcompletion-6.3.0.tar.xz">kcompletion-6.3.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>3f027ac6bd285d040a5038c31b10e306bd2cb099d396e88536cd149e88ee712e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kconfig-6.3.0.tar.xz">kconfig-6.3.0</a></td>
   <td align="right">326kB</td>
   <td><tt>8d809aaf7b5151ecd797c601c7f2701bc426b66d431b52069c7ff3b4002d7979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kconfigwidgets-6.3.0.tar.xz">kconfigwidgets-6.3.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>bac86669b83c39fa0d3d45804202ed6db5aa48edc6b4d177c572a2214d262090</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kcontacts-6.3.0.tar.xz">kcontacts-6.3.0</a></td>
   <td align="right">202kB</td>
   <td><tt>229b5b1797cdc7faeb227f715c86edee8e8464f40b247432af909e3b3d30b107</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kcoreaddons-6.3.0.tar.xz">kcoreaddons-6.3.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>b8bb93bac2a1175ff60583f6fca14b8707eb878eefe074121741b3c85cc5c756</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kcrash-6.3.0.tar.xz">kcrash-6.3.0</a></td>
   <td align="right">28kB</td>
   <td><tt>65c67a0fe9b8da27d0efe8a44e16a348e7f602b29511062f263b555ebea48f41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kdav-6.3.0.tar.xz">kdav-6.3.0</a></td>
   <td align="right">66kB</td>
   <td><tt>b092a919e82553999578db1028f68ebfe6cb5f1da129722f2c6a662d0db729b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kdbusaddons-6.3.0.tar.xz">kdbusaddons-6.3.0</a></td>
   <td align="right">45kB</td>
   <td><tt>7e2d8999ef09513aaa42000acb5369b203cd5977308f6e7891cde6a8d4422002</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kdeclarative-6.3.0.tar.xz">kdeclarative-6.3.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>807d83c487759ed54085ce514a80fb3aecea04ef98ee0ea306668fb6d5a46dce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kded-6.3.0.tar.xz">kded-6.3.0</a></td>
   <td align="right">32kB</td>
   <td><tt>d4b3e55cba11b6ba12df7a3ab958e637130499a34fcc3b918a1cab7de6235e48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kdesu-6.3.0.tar.xz">kdesu-6.3.0</a></td>
   <td align="right">55kB</td>
   <td><tt>a39905a1813347777907622063fc3d515a20c3b6da0fe479aa61734126a9e7de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kdnssd-6.3.0.tar.xz">kdnssd-6.3.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>671d48d2de1a974b570eb4f5f6f6a03875fa171eade74b81396a4bb474b9712a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kdoctools-6.3.0.tar.xz">kdoctools-6.3.0</a></td>
   <td align="right">445kB</td>
   <td><tt>4b50ed15b9dbd08a5b379bd32ed1b47ee80971abbe0c7a2570b749a665c7854a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kfilemetadata-6.3.0.tar.xz">kfilemetadata-6.3.0</a></td>
   <td align="right">580kB</td>
   <td><tt>bd88e378861a03ada99c69841a81fceefd3dd220145007fbfe9113270b7d6088</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kglobalaccel-6.3.0.tar.xz">kglobalaccel-6.3.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>c08206ca39db1227a2a8a3c8c06922d5908830cb6d52ef212cb597b8c7029df1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kguiaddons-6.3.0.tar.xz">kguiaddons-6.3.0</a></td>
   <td align="right">79kB</td>
   <td><tt>e1519b1fc01ec3731c2926b69aee7a32c13e0f92178834fef484ac37d5dc3201</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kholidays-6.3.0.tar.xz">kholidays-6.3.0</a></td>
   <td align="right">247kB</td>
   <td><tt>9f99e118c73da1d53805cb38ee876115d75ad5eb5fb108a38e6ae880e7cfac5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/ki18n-6.3.0.tar.xz">ki18n-6.3.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>4d95341eba2070fec3901396eb0a68f4a8423337de5ea23fb86b0ea70c957282</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kiconthemes-6.3.0.tar.xz">kiconthemes-6.3.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>945394afc9f8207924bf07f9a6de3bee7fcd523bce87e0004d62767ab37cc303</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kidletime-6.3.0.tar.xz">kidletime-6.3.0</a></td>
   <td align="right">29kB</td>
   <td><tt>cd8f677cce6738342b88817d0e7c1803460f00e409d730c5ae0ea33b1426472d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kimageformats-6.3.0.tar.xz">kimageformats-6.3.0</a></td>
   <td align="right">15MB</td>
   <td><tt>0ed40771bd35ed53af7c4a5216111bef282275b2eb384ae0076c917db20c1210</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kio-6.3.0.tar.xz">kio-6.3.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>39e1afb324069605609c60c1d4638da886debf6159179521167b5159d79a0448</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kirigami-6.3.0.tar.xz">kirigami-6.3.0</a></td>
   <td align="right">538kB</td>
   <td><tt>dbcbfaa05b37c03501fe8f4dfaf92f6f7bf9b871b8d28897363a5678dcb2395b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kitemmodels-6.3.0.tar.xz">kitemmodels-6.3.0</a></td>
   <td align="right">388kB</td>
   <td><tt>b3a984fb62919c1f8bb3fb77a2e207e51a52f5c596415ea9fc8ffa618b56acba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kitemviews-6.3.0.tar.xz">kitemviews-6.3.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>d8657d155611631834a800a6fb0aac110b6baa4435de00fbd6048bd9f1a2d42f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kjobwidgets-6.3.0.tar.xz">kjobwidgets-6.3.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>5fee2d4b9479fac74422790c3ea2b1464b4ae3f10347fc603a41d8b167f108d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/knewstuff-6.3.0.tar.xz">knewstuff-6.3.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>a16d16b22e94cb5159a3b1a071c5785729e3052baf9e33f2ab020b9032d967d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/knotifications-6.3.0.tar.xz">knotifications-6.3.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>cced3c1a3795fedc90dc628c6b3cfff06d194eccfdca27b05938f5e941cc7877</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/knotifyconfig-6.3.0.tar.xz">knotifyconfig-6.3.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>ebf26f5e51e53eadb12e9a858aae9d55085d233c1f543879076452ac2900525d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kpackage-6.3.0.tar.xz">kpackage-6.3.0</a></td>
   <td align="right">175kB</td>
   <td><tt>811d6809e091c1eaaa07cafeacc86eb23fa55ed038f8f1a93d259e5734510b4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kparts-6.3.0.tar.xz">kparts-6.3.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>42fc276673f499889d5713d8a9c061c7f7a76885141f214d7f12f9e58ca50400</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kpeople-6.3.0.tar.xz">kpeople-6.3.0</a></td>
   <td align="right">64kB</td>
   <td><tt>967f979e56acdf546198c1950e554663c963aeec56e20405607878294772303e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kplotting-6.3.0.tar.xz">kplotting-6.3.0</a></td>
   <td align="right">32kB</td>
   <td><tt>f8e7fa347d0e6bab924f3347716eb5cc468b96b296b52974d392df030dba9521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kpty-6.3.0.tar.xz">kpty-6.3.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>63a49b39984ac18c79700cad4f8f83cbad2d006801366dc6b10429a6e00da0a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kquickcharts-6.3.0.tar.xz">kquickcharts-6.3.0</a></td>
   <td align="right">107kB</td>
   <td><tt>250e522adfbf48b3f2763f4ec378a20337a1ca2e5b0e2cd8b3615d7a3fed8fc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/krunner-6.3.0.tar.xz">krunner-6.3.0</a></td>
   <td align="right">128kB</td>
   <td><tt>6ca6fe49c9bc0d9da3395db993bfb28d5010bcbd78b0984625819d1d3631e425</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kservice-6.3.0.tar.xz">kservice-6.3.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>a0564d62c1e0f2293b0dcb39cf814c2856111242b8621b33f52a70fda1a8fe54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kstatusnotifieritem-6.3.0.tar.xz">kstatusnotifieritem-6.3.0</a></td>
   <td align="right">46kB</td>
   <td><tt>ce1f2e33d0dbe81a48f0040977b7b7aa7234f6a003173e395b3de5d783398cd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/ksvg-6.3.1.tar.xz">ksvg-6.3.1</a></td>
   <td align="right">81kB</td>
   <td><tt>d85cd66490086998e461bb2caf07e685d65a889681021e3df804f3fa21d3c796</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/ktexteditor-6.3.0.tar.xz">ktexteditor-6.3.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>979dbffaeb0a0413b3745efa180aa0be6e1ed8bf8f5a938281499b931e283776</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/ktexttemplate-6.3.0.tar.xz">ktexttemplate-6.3.0</a></td>
   <td align="right">826kB</td>
   <td><tt>9351889c589fb2fa7f33fa6f0d748edbef44863fe79eb49b12d1fa5ab349ae9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/ktextwidgets-6.3.0.tar.xz">ktextwidgets-6.3.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>9e9fb5aee6ba557ff53c5bf726cb8551efc4208038fda47ee5e9c44fd7d4385e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kunitconversion-6.3.0.tar.xz">kunitconversion-6.3.0</a></td>
   <td align="right">889kB</td>
   <td><tt>7db3f42dd0ff3df4eb748ee62883e8f23203ca32d143d3fa09deb0651095079b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kuserfeedback-6.3.0.tar.xz">kuserfeedback-6.3.0</a></td>
   <td align="right">248kB</td>
   <td><tt>3fe2ce37b92a70d604f38fa369b5fe2ea64e268c48aa450e9971fc8404e87006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kwallet-6.3.0.tar.xz">kwallet-6.3.0</a></td>
   <td align="right">343kB</td>
   <td><tt>edb6ebbfa3d90869cadfc9266da47a8b3d5b2b5b0e496b74a7ea5262392d2add</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kwidgetsaddons-6.3.0.tar.xz">kwidgetsaddons-6.3.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>0e3f9f0db9a0a6ad423cb50ffe8a01beb5feef8bc7872c35b7576180e4d1844c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kwindowsystem-6.3.0.tar.xz">kwindowsystem-6.3.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>40e33c592934bc27484b922e3dab3c9fdbe078063fa5bcaf29d50d2cd8e8aab9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/kxmlgui-6.3.0.tar.xz">kxmlgui-6.3.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>2273fdb2eb32f8cc9150c4cbcc4f7d9eb2f1268fcba7e21add27105c04e7995e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/modemmanager-qt-6.3.0.tar.xz">modemmanager-qt-6.3.0</a></td>
   <td align="right">119kB</td>
   <td><tt>9cf3029746a8b8b3740bc4de93f138664325c7f4fe8017d92e342e7bc43ec7cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/networkmanager-qt-6.3.0.tar.xz">networkmanager-qt-6.3.0</a></td>
   <td align="right">193kB</td>
   <td><tt>0ca96a3bf78f033a36be59c75d3d6382b4ef13e753419eed13ef2e33821e39e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/prison-6.3.0.tar.xz">prison-6.3.0</a></td>
   <td align="right">55kB</td>
   <td><tt>769807725787051e5e9a2f41eb7f791a9ce11be775a7eeff8d525f2a78b4bc46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/purpose-6.3.0.tar.xz">purpose-6.3.0</a></td>
   <td align="right">173kB</td>
   <td><tt>bf296f6646bdcfef4aebba4d04ec03e7e72a545552b9b765a8fbfc625ee6ec17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/qqc2-desktop-style-6.3.0.tar.xz">qqc2-desktop-style-6.3.0</a></td>
   <td align="right">83kB</td>
   <td><tt>9e7e69bb7f3646d2fcc37a24364c55d7c974c83cf6e2d906a39a8a8e14f1bcb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/solid-6.3.0.tar.xz">solid-6.3.0</a></td>
   <td align="right">304kB</td>
   <td><tt>b821999599bcee01fd190dbd92f2cec31dae15eb05db51a5bc970c24b27d93d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/sonnet-6.3.0.tar.xz">sonnet-6.3.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>6b44dd00ceaa77c3dc9f05f82ca23791cecd887820889cdf8ffc24b384974c7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/syndication-6.3.0.tar.xz">syndication-6.3.0</a></td>
   <td align="right">556kB</td>
   <td><tt>cdf057c09be35e39809040072a67b8526ee612b6d8761f96f613b350d979c8d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/syntax-highlighting-6.3.0.tar.xz">syntax-highlighting-6.3.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>38300a35c969bef5fa36b437d54342da0a0c805282a657519bd4e2f7b42df984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.3/threadweaver-6.3.0.tar.xz">threadweaver-6.3.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>81201f8f9918d6967b76a5c8c468481289e5bf56351b3e140cce532821f7d913</tt></td>
</tr>

</table>
