<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/accessibility-inspector-24.07.80.tar.xz">accessibility-inspector-24.07.80</a></td>
   <td align="right">81kB</td>
   <td><tt>2020df3bc4d961457ceb6f393de573d64a48b145087976a471e19778b20871af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/akonadi-24.07.80.tar.xz">akonadi-24.07.80</a></td>
   <td align="right">1662kB</td>
   <td><tt>018ccad5de632a0658140d9bd2c1927c9ee03a744d748102f070e6fa290e46f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/akonadi-calendar-24.07.80.tar.xz">akonadi-calendar-24.07.80</a></td>
   <td align="right">508kB</td>
   <td><tt>77a66912c0e8e5dc68ec3bc87f78432795374b2ec2b82f48829767e3d8b0141c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/akonadi-calendar-tools-24.07.80.tar.xz">akonadi-calendar-tools-24.07.80</a></td>
   <td align="right">258kB</td>
   <td><tt>a96f7a474a8e8217e55e0082383769e856fff4f52655845e2d745e28593254c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/akonadiconsole-24.07.80.tar.xz">akonadiconsole-24.07.80</a></td>
   <td align="right">297kB</td>
   <td><tt>afe4b5ca82523873f0c81c874ec514ef12fdf615fbd969d8b16f884237df49ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/akonadi-contacts-24.07.80.tar.xz">akonadi-contacts-24.07.80</a></td>
   <td align="right">422kB</td>
   <td><tt>9d8381c510476d69c46fe5416572d348aee00452f5c90de26ff636005c89f6f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/akonadi-import-wizard-24.07.80.tar.xz">akonadi-import-wizard-24.07.80</a></td>
   <td align="right">477kB</td>
   <td><tt>18ce993fc3d169a15ebb50b12c7062a13bce1299fd24c50002437532be4b7a96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/akonadi-mime-24.07.80.tar.xz">akonadi-mime-24.07.80</a></td>
   <td align="right">169kB</td>
   <td><tt>1b5f8ca05fb9feca9919f4a70f7ebf33ffd0cbec397cd7ec8bff99a8d31ae146</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/akonadi-notes-24.07.80.tar.xz">akonadi-notes-24.07.80</a></td>
   <td align="right">28kB</td>
   <td><tt>d9f1777cf3ba647458fb1e8abb133b158604a6c313522fd0bac3c2f2d58f610a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/akonadi-search-24.07.80.tar.xz">akonadi-search-24.07.80</a></td>
   <td align="right">110kB</td>
   <td><tt>6295007d88d610d7d4cac27b4573b475bc1cd8ec7ff7dd896105b00736879c81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/akregator-24.07.80.tar.xz">akregator-24.07.80</a></td>
   <td align="right">2069kB</td>
   <td><tt>0057be09e5b9350041ff51af5c00d54f0ccff2dfa9110f2eb9fb47e369bb8dbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/alligator-24.07.80.tar.xz">alligator-24.07.80</a></td>
   <td align="right">190kB</td>
   <td><tt>ed2b8c99b7ece3d6925fb7e8baa0ef93ed0ba8abb7004c97ce859f62504f5b7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/analitza-24.07.80.tar.xz">analitza-24.07.80</a></td>
   <td align="right">351kB</td>
   <td><tt>05bcf512c1883b34d35ff131b5aca2b7fa7b14d9195d9a10fb1510710319b39e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/angelfish-24.07.80.tar.xz">angelfish-24.07.80</a></td>
   <td align="right">267kB</td>
   <td><tt>ac6119aa924185b34049b0580dd1573b6562a46208ec7fdf84185237f0201bc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/arianna-24.07.80.tar.xz">arianna-24.07.80</a></td>
   <td align="right">800kB</td>
   <td><tt>1387396e921c53d6e58473f094c4192f11d20d3348381785d58e53411afcbd5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/ark-24.07.80.tar.xz">ark-24.07.80</a></td>
   <td align="right">2933kB</td>
   <td><tt>5eb9fb821cd7cc8260c9606eae4d726512154d705a0cfae5e70f49cec76cdabc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/artikulate-24.07.80.tar.xz">artikulate-24.07.80</a></td>
   <td align="right">1027kB</td>
   <td><tt>775be989beb683ffc2167a9cc3513bf9939e174b691e40b4242b451309f03de6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/audex-24.07.80.tar.xz">audex-24.07.80</a></td>
   <td align="right">691kB</td>
   <td><tt>163856fdc96b68b97fcd864a5a1e2da1dc0b2ac4ed6aad4f5169c0503130977f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/audiocd-kio-24.07.80.tar.xz">audiocd-kio-24.07.80</a></td>
   <td align="right">557kB</td>
   <td><tt>de81953980d2de72a1bc5dce98c2a5322b257ab3a007db1a77700ef69129dece</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/audiotube-24.07.80.tar.xz">audiotube-24.07.80</a></td>
   <td align="right">150kB</td>
   <td><tt>1c0ee220175141ac3ec935d5822a506709f16fb128e07ae2cba9480f8c01549c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/baloo-widgets-24.07.80.tar.xz">baloo-widgets-24.07.80</a></td>
   <td align="right">270kB</td>
   <td><tt>18aa1bd481f0f4def3f675ef9dd72ff824477243488fee938ad2004c2f1684e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/blinken-24.07.80.tar.xz">blinken-24.07.80</a></td>
   <td align="right">2534kB</td>
   <td><tt>3f0f53f9032105c1e5d9754293b0aea11fe15fa1c6a651622dddcf1725eda1ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/bomber-24.07.80.tar.xz">bomber-24.07.80</a></td>
   <td align="right">818kB</td>
   <td><tt>33b7ef0c8eec2447079f363566d20b8058a9f40c46065f37d1c42d6ab40f0cd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/bovo-24.07.80.tar.xz">bovo-24.07.80</a></td>
   <td align="right">212kB</td>
   <td><tt>1094b816bb15b0adc214063ef049d2d7ec18fbd21d2b997aff532815a70e0b38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/calendarsupport-24.07.80.tar.xz">calendarsupport-24.07.80</a></td>
   <td align="right">977kB</td>
   <td><tt>68d7fdc5f5b84c970ed15172f40dda8b8b2afaba915f8b77bff9feda0e1c5921</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/calindori-24.07.80.tar.xz">calindori-24.07.80</a></td>
   <td align="right">386kB</td>
   <td><tt>9a4500a0e529d5fb7c4633c43da47b899d2d9eecaf89acb2a0aa7202c3fb6a3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/cantor-24.07.80.tar.xz">cantor-24.07.80</a></td>
   <td align="right">10592kB</td>
   <td><tt>a41fd3ecf9f0518164dcb394d769f1ce3ac71a99f1f03fafaf47d4d7ed6d5560</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/cervisia-24.07.80.tar.xz">cervisia-24.07.80</a></td>
   <td align="right">1767kB</td>
   <td><tt>07244347991a21409b0da3b9d21336b9ce0e9ab50224f2249aecdc15a8fb1860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/colord-kde-24.07.80.tar.xz">colord-kde-24.07.80</a></td>
   <td align="right">114kB</td>
   <td><tt>33bfd201430d0d31990e3e9772fd1c67118e98fe68cbfe8eda0bc7da8322d057</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/dolphin-24.07.80.tar.xz">dolphin-24.07.80</a></td>
   <td align="right">5491kB</td>
   <td><tt>4baef7d38cef49dcd8fe42a6e3d7d13cb17b9ad9776714c8e0207c17919a01d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/dolphin-plugins-24.07.80.tar.xz">dolphin-plugins-24.07.80</a></td>
   <td align="right">309kB</td>
   <td><tt>8ff9ba6b70bc917694a6546850efc088047fefc29343d2458ed156c9b3379fb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/dragon-24.07.80.tar.xz">dragon-24.07.80</a></td>
   <td align="right">1786kB</td>
   <td><tt>d4dde21ab0e888e40f510d5aacd049378212f50aeb332500d809e0f58b55b2ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/elisa-24.07.80.tar.xz">elisa-24.07.80</a></td>
   <td align="right">1863kB</td>
   <td><tt>b97f5ec71fa6d294d57683fbe280cc1553fa47d5485f27c6a4fe098c00981e25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/eventviews-24.07.80.tar.xz">eventviews-24.07.80</a></td>
   <td align="right">478kB</td>
   <td><tt>41157cf7373542e9563ffb2faeb2e0fe92db128548a4ad3bb5924655b8d7cd1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/falkon-24.07.80.tar.xz">falkon-24.07.80</a></td>
   <td align="right">2555kB</td>
   <td><tt>8c1b268da8ad0ceed770636adf8af7523eb6607c9b1607dfdf3074b3d8f4d8c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/ffmpegthumbs-24.07.80.tar.xz">ffmpegthumbs-24.07.80</a></td>
   <td align="right">32kB</td>
   <td><tt>045de764ceae00e7aebe4770d5d57514184220aa0854dce36b00a399158761c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/filelight-24.07.80.tar.xz">filelight-24.07.80</a></td>
   <td align="right">665kB</td>
   <td><tt>f3c0ae6916b58dae4c8551cb7b370cfa4cb3ffe32047ec180e72e21ed5842f15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/francis-24.07.80.tar.xz">francis-24.07.80</a></td>
   <td align="right">111kB</td>
   <td><tt>57c9fe25d7e64fc855aa37ffa18f2ca8d113eabff35b4149aaffe78e44c28e7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/ghostwriter-24.07.80.tar.xz">ghostwriter-24.07.80</a></td>
   <td align="right">2638kB</td>
   <td><tt>df281efa5f625a9e23f60b739105f15f3892782db179da41261a090dc949a08b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/granatier-24.07.80.tar.xz">granatier-24.07.80</a></td>
   <td align="right">1962kB</td>
   <td><tt>f860efed200c86938585cc518b2435c8fe7f9c12c387cdf60b32e711b1709640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/grantlee-editor-24.07.80.tar.xz">grantlee-editor-24.07.80</a></td>
   <td align="right">120kB</td>
   <td><tt>cdb1a08800e5b3abae97d36500ce79d88fa55097824d6b32035a178b9b0c47a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/grantleetheme-24.07.80.tar.xz">grantleetheme-24.07.80</a></td>
   <td align="right">61kB</td>
   <td><tt>2775eabac76c36e139e6ab21330990291c29fb3e40c481127b8706968f3959ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/gwenview-24.07.80.tar.xz">gwenview-24.07.80</a></td>
   <td align="right">6361kB</td>
   <td><tt>5e4cf963b04cdf41f51f63c4d733ec7a613814d44125368483fe94366f0a8ff4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/incidenceeditor-24.07.80.tar.xz">incidenceeditor-24.07.80</a></td>
   <td align="right">573kB</td>
   <td><tt>9db1fafcbf1215dcf1c0ffda0377fdb8a9262c143f177cd50b38c51cae44c237</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/isoimagewriter-24.07.80.tar.xz">isoimagewriter-24.07.80</a></td>
   <td align="right">457kB</td>
   <td><tt>ceefae5154a467f8105583dc17c490d8fcdbf4163618187e248ed189f618eff0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/itinerary-24.07.80.tar.xz">itinerary-24.07.80</a></td>
   <td align="right">711kB</td>
   <td><tt>29a9ad907c5220031f7f857cfd089fa9ac898ad541516c44ad8565b69acac7cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/juk-24.07.80.tar.xz">juk-24.07.80</a></td>
   <td align="right">1852kB</td>
   <td><tt>c71463fef73fd698f2f58b8c0cbe64ddf14218685a07c049a71fd63bc8ad8e67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/k3b-24.07.80.tar.xz">k3b-24.07.80</a></td>
   <td align="right">10449kB</td>
   <td><tt>69b3d1343dc38072db1284fcdaeddc46248cbfcdeac66a1d81df598fbe84bf52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kaccounts-integration-24.07.80.tar.xz">kaccounts-integration-24.07.80</a></td>
   <td align="right">89kB</td>
   <td><tt>9912a54a598190a51526da63b1f361ce3877d07b03f1b64d4c4acb0123601b0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kaccounts-providers-24.07.80.tar.xz">kaccounts-providers-24.07.80</a></td>
   <td align="right">67kB</td>
   <td><tt>4a083b2741dc9ad8b104ac8d58149fad1b995aa5b59205e530ca69d62e484640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kaddressbook-24.07.80.tar.xz">kaddressbook-24.07.80</a></td>
   <td align="right">3330kB</td>
   <td><tt>1f71d59cb18baed5787ba6ee1f8866563405f391227c3c07c3fac39ffbacd064</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kajongg-24.07.80.tar.xz">kajongg-24.07.80</a></td>
   <td align="right">4497kB</td>
   <td><tt>e34f0d569ac8f2a0d7d12abd4dcc3ea017d86a32e62912d8ed9a2216a4fb9bdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kalarm-24.07.80.tar.xz">kalarm-24.07.80</a></td>
   <td align="right">2528kB</td>
   <td><tt>c35605c5708022966cced7208974b45eb46008ff16b8fa92b23a18b693e67a9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kalgebra-24.07.80.tar.xz">kalgebra-24.07.80</a></td>
   <td align="right">921kB</td>
   <td><tt>d2bf9626169056050ce65d0cd2a6521913217e36a7ea47b7bf0b9cc789f11d1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kalk-24.07.80.tar.xz">kalk-24.07.80</a></td>
   <td align="right">74kB</td>
   <td><tt>42ec1e06a61b2fb9e265b34fc32bec3d385f5d2374af1c351106f3e4957fe0dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kalm-24.07.80.tar.xz">kalm-24.07.80</a></td>
   <td align="right">73kB</td>
   <td><tt>75b2b809e9a2929dfd139c3c84dccac7a6a6949b898ddf0f5dd23e73cc18974b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kalzium-24.07.80.tar.xz">kalzium-24.07.80</a></td>
   <td align="right">22150kB</td>
   <td><tt>ea711378bbd22608598aa1c84e4bda5fc4ca3c7fa9bf60b0f055fa5f1203d7d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kamera-24.07.80.tar.xz">kamera-24.07.80</a></td>
   <td align="right">127kB</td>
   <td><tt>351cea4c100e03d9c70e164186e492ad9655c7140c2c5dae182029fa5257e0eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kamoso-24.07.80.tar.xz">kamoso-24.07.80</a></td>
   <td align="right">227kB</td>
   <td><tt>3ef99b35795591dda2ed3a843ccaa3f9faf0915a507f1b06a5d300328d1b9f08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kanagram-24.07.80.tar.xz">kanagram-24.07.80</a></td>
   <td align="right">7597kB</td>
   <td><tt>713ecaefdd41d94490a879c2f5d0908d835c83df3ec02c1f5068f21ed355593f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kapman-24.07.80.tar.xz">kapman-24.07.80</a></td>
   <td align="right">2093kB</td>
   <td><tt>1448ffadf9563342199e7cec494e0e9d3937ad34ac21ed2e384a028c0bf8bdd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kapptemplate-24.07.80.tar.xz">kapptemplate-24.07.80</a></td>
   <td align="right">334kB</td>
   <td><tt>505f1c866881be3f92f4db7ef2ed31161305bb22233940c5100517eaa7c9f2a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kasts-24.07.80.tar.xz">kasts-24.07.80</a></td>
   <td align="right">603kB</td>
   <td><tt>8bf207ae8858aa02842461b28852b461aec2a2673fd12574ee4940a76d346559</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kate-24.07.80.tar.xz">kate-24.07.80</a></td>
   <td align="right">7998kB</td>
   <td><tt>0fac415138fe876af690e002fc39c0a6cc69ef6f97c69a092df02904f5923a76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/katomic-24.07.80.tar.xz">katomic-24.07.80</a></td>
   <td align="right">1409kB</td>
   <td><tt>b82f72caaa32c9b4f6e1450e8b2ca0e7dfb870a8ec51dcdf29cb83e873811340</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kbackup-24.07.80.tar.xz">kbackup-24.07.80</a></td>
   <td align="right">370kB</td>
   <td><tt>09092e148e4ac7f3d97fe4c0f633ffcdf96a265d0b0e3156ae847b1341a76f5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kblackbox-24.07.80.tar.xz">kblackbox-24.07.80</a></td>
   <td align="right">534kB</td>
   <td><tt>4971c827beaf9ef36de7100cea498d336edd2aec86242125db844de427dbbd67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kblocks-24.07.80.tar.xz">kblocks-24.07.80</a></td>
   <td align="right">2051kB</td>
   <td><tt>25aeaa562a4d852eebfbd1345f6b016d03f79f6e6eb325745d848bfe9d253b85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kbounce-24.07.80.tar.xz">kbounce-24.07.80</a></td>
   <td align="right">3241kB</td>
   <td><tt>b1370d7c32a377062e6864b72789bf2c37761433b2a790ff5c980aae5b618530</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kbreakout-24.07.80.tar.xz">kbreakout-24.07.80</a></td>
   <td align="right">2492kB</td>
   <td><tt>185937a2a459e3d751ce2208ce5135ecbbb935ec277af5c6f131167fa8a9a2a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kbruch-24.07.80.tar.xz">kbruch-24.07.80</a></td>
   <td align="right">5031kB</td>
   <td><tt>549c51c6051fb38a66ed84cb43550ba20f8f84089f45bbb55c8122df29851b65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kcachegrind-24.07.80.tar.xz">kcachegrind-24.07.80</a></td>
   <td align="right">912kB</td>
   <td><tt>365d1bdc84e5cce926287850f4c427d7bac4573cee94e85aeb8251735fa42eff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kcalc-24.07.80.tar.xz">kcalc-24.07.80</a></td>
   <td align="right">460kB</td>
   <td><tt>cf702aba42dd51450700b93bcb7629a3756d764f23ddd1ebe22690c2a96335fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kcalutils-24.07.80.tar.xz">kcalutils-24.07.80</a></td>
   <td align="right">347kB</td>
   <td><tt>0f8f01a27be47330ae8ad29083c0bf632e5d826115bf44d3f580726b4d97437f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kcharselect-24.07.80.tar.xz">kcharselect-24.07.80</a></td>
   <td align="right">464kB</td>
   <td><tt>38db687391fba3385c304de058d9621257a3c475b4b96cbc29413b882016f533</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kclock-24.07.80.tar.xz">kclock-24.07.80</a></td>
   <td align="right">643kB</td>
   <td><tt>29f4490bf4cec82f1b42a853e7f26dd8c4e471a96d9427f31776c712d8d7b859</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kcolorchooser-24.07.80.tar.xz">kcolorchooser-24.07.80</a></td>
   <td align="right">34kB</td>
   <td><tt>9a0737c019b2e399550432b3f829467fc3439aacd68f961cbba97a80ecd79eba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kcron-24.07.80.tar.xz">kcron-24.07.80</a></td>
   <td align="right">856kB</td>
   <td><tt>c273105fd0278f052a50983fcfe77ffc48c1a98dc7c244bb657fc3c2844bec07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kdebugsettings-24.07.80.tar.xz">kdebugsettings-24.07.80</a></td>
   <td align="right">112kB</td>
   <td><tt>1dd6ab001665de6ca33319dd9913ddefbc3a88295176f025e29a34e17b1eb2cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kdeconnect-kde-24.07.80.tar.xz">kdeconnect-kde-24.07.80</a></td>
   <td align="right">687kB</td>
   <td><tt>fcf219117be8e4eb19e281f7ee1851eecbe8a4ad92fe256f70a33f4749e1fe43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kde-dev-scripts-24.07.80.tar.xz">kde-dev-scripts-24.07.80</a></td>
   <td align="right">363kB</td>
   <td><tt>693d3742a3924079218a57e8046294ac8619af163aeb2cdd447cc914835fb2ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kde-dev-utils-24.07.80.tar.xz">kde-dev-utils-24.07.80</a></td>
   <td align="right">73kB</td>
   <td><tt>6817801a86650108221f2c83be8aa76e0e161a8451aab9413b52114362b87a37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kdeedu-data-24.07.80.tar.xz">kdeedu-data-24.07.80</a></td>
   <td align="right">330kB</td>
   <td><tt>33dd65f8afadd85ed9deab5f8a24875e4d3a2902aad4785512ea35702cfd6d29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kdegraphics-mobipocket-24.07.80.tar.xz">kdegraphics-mobipocket-24.07.80</a></td>
   <td align="right">12kB</td>
   <td><tt>a19878e37b848bccce7abd418153ac4945b490f46daeba9ef355eb0c413b0235</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kdegraphics-thumbnailers-24.07.80.tar.xz">kdegraphics-thumbnailers-24.07.80</a></td>
   <td align="right">47kB</td>
   <td><tt>2d55e23173653bdb06169b0002e224164ddec2f90eedf00bc8a052c588c8e806</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kde-inotify-survey-24.07.80.tar.xz">kde-inotify-survey-24.07.80</a></td>
   <td align="right">230kB</td>
   <td><tt>b26f4381c9e4a8c02457411faffc28d1c02cb52f1d5d3cf6e80c362d2c42076a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kdenetwork-filesharing-24.07.80.tar.xz">kdenetwork-filesharing-24.07.80</a></td>
   <td align="right">482kB</td>
   <td><tt>2644740cbd351c04838097fc62c997d25202556134eeaa416488584ded237425</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kdenlive-24.07.80.tar.xz">kdenlive-24.07.80</a></td>
   <td align="right">12671kB</td>
   <td><tt>0f9c2b27d01ccbd217c2fce57e3804a5f5a4bc1301124d41bb4ec696e6146837</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kdepim-addons-24.07.80.tar.xz">kdepim-addons-24.07.80</a></td>
   <td align="right">2550kB</td>
   <td><tt>528c21a58585f27d8275d0722e443dc5a6a94c1c05464ffc222ab3ff9e6a0de2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kdepim-runtime-24.07.80.tar.xz">kdepim-runtime-24.07.80</a></td>
   <td align="right">1624kB</td>
   <td><tt>597e31793b5d151533635df7040a27bc64e8ebf6b99f93026bf4975fa9979635</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kdesdk-kio-24.07.80.tar.xz">kdesdk-kio-24.07.80</a></td>
   <td align="right">40kB</td>
   <td><tt>df096102861d084fe3813c2dfce14c470cccaf05d5f3e77a98500f7b25ed6928</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kdesdk-thumbnailers-24.07.80.tar.xz">kdesdk-thumbnailers-24.07.80</a></td>
   <td align="right">26kB</td>
   <td><tt>3e2058199ca8713e7406f2ee952ba80129fb55afe124da42c39e154322f92994</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kdevelop-24.07.80.tar.xz">kdevelop-24.07.80</a></td>
   <td align="right">8561kB</td>
   <td><tt>f1aafe2c710e905a75be6c0f7a348b12025e96e957f313987017b1fd53e767c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kdev-php-24.07.80.tar.xz">kdev-php-24.07.80</a></td>
   <td align="right">1065kB</td>
   <td><tt>1adae86a10017442bf5cd2874281d1d0457f5d48dd5b028895a1d32158807edc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kdev-python-24.07.80.tar.xz">kdev-python-24.07.80</a></td>
   <td align="right">1072kB</td>
   <td><tt>ac430c4f4b6cc742621afd7b8c0654b904b41ec295357eae909dd1789411d82c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kdf-24.07.80.tar.xz">kdf-24.07.80</a></td>
   <td align="right">466kB</td>
   <td><tt>7a28a5a5cb993d3e4e6bc98a7c6cd1de5f9afe8e9e8e170ea384ff5ac3ccf47a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kdialog-24.07.80.tar.xz">kdialog-24.07.80</a></td>
   <td align="right">143kB</td>
   <td><tt>e9bf3fbc06806dd54afa82f8eb467bdc4c3f866dc97ff07ad2a93f0c9f905bcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kdiamond-24.07.80.tar.xz">kdiamond-24.07.80</a></td>
   <td align="right">4560kB</td>
   <td><tt>b62874b57f2dcae7aa222391dd761f59c584482c4ac262e3b2ff4b3a3537e019</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/keditbookmarks-24.07.80.tar.xz">keditbookmarks-24.07.80</a></td>
   <td align="right">252kB</td>
   <td><tt>41f13fc6a87f40338b68f7fccff660f7863d5c288219305f566ea3fdd12dd309</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/keysmith-24.07.80.tar.xz">keysmith-24.07.80</a></td>
   <td align="right">167kB</td>
   <td><tt>67a98eee0a4e5821faa1e3468e56e53b80964c8ad8401a0f5c7d5b26e1c1b6bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kfind-24.07.80.tar.xz">kfind-24.07.80</a></td>
   <td align="right">317kB</td>
   <td><tt>54fc0ebac3cc4f734ddc0e0b78c3cc1151909aed480f3117d8f78461428f7618</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kfourinline-24.07.80.tar.xz">kfourinline-24.07.80</a></td>
   <td align="right">724kB</td>
   <td><tt>bef9fb9719f9cc8f776bde2a4fda0d30afe63070909c46697f22bb4f29d60e8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kgeography-24.07.80.tar.xz">kgeography-24.07.80</a></td>
   <td align="right">12127kB</td>
   <td><tt>598be8a5665e53e43ec483b4487fcf8272005c9d84457aef33e7c7e91e5ebeaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kget-24.07.80.tar.xz">kget-24.07.80</a></td>
   <td align="right">4796kB</td>
   <td><tt>b6b856316ff96747e7a6b4500112b905a5fbf92b6ae77067247e412b54dbcbd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kgoldrunner-24.07.80.tar.xz">kgoldrunner-24.07.80</a></td>
   <td align="right">4221kB</td>
   <td><tt>b5fbb373cbf800e10f7ba1c3ac53f24b4c23f500277af73f8e0d038bebb62b9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kgpg-24.07.80.tar.xz">kgpg-24.07.80</a></td>
   <td align="right">2951kB</td>
   <td><tt>d6a59062c40e3d987d92166d0a9841a464874a8b3b983595ac316eb0c7bcfa83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kgraphviewer-24.07.80.tar.xz">kgraphviewer-24.07.80</a></td>
   <td align="right">1545kB</td>
   <td><tt>00a182ea5878942489aee388e0df07080d65da5c3515ee2828ef52f789323186</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/khangman-24.07.80.tar.xz">khangman-24.07.80</a></td>
   <td align="right">6852kB</td>
   <td><tt>8c46a4d7adeeafe80cfc34e6547e6bd68abd250d42ea671fcf9687e0141bd3d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/khealthcertificate-24.07.80.tar.xz">khealthcertificate-24.07.80</a></td>
   <td align="right">502kB</td>
   <td><tt>d0dd18fa34247f5a680138231c342168f996a590ff4d41b9df0d765e0e5b8f73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/khelpcenter-24.07.80.tar.xz">khelpcenter-24.07.80</a></td>
   <td align="right">4121kB</td>
   <td><tt>b11df55e1941eba3f413afc83af3c822fbcfc5874e8ec2100c633924e8e9de28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kidentitymanagement-24.07.80.tar.xz">kidentitymanagement-24.07.80</a></td>
   <td align="right">190kB</td>
   <td><tt>61bfa11233cea53769db3d0086e04ec8aa9bb73fb897779a8caba0038e0d053a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kig-24.07.80.tar.xz">kig-24.07.80</a></td>
   <td align="right">3169kB</td>
   <td><tt>fcb84fce9bd535d5c77f6bc18091cdc2ea6465cffb597be236b369c5ab7a0a40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kigo-24.07.80.tar.xz">kigo-24.07.80</a></td>
   <td align="right">4714kB</td>
   <td><tt>ac37805a32d656f7e9bedd321aee6fe64d3173091f925fcdf1733d8a244cd462</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/killbots-24.07.80.tar.xz">killbots-24.07.80</a></td>
   <td align="right">1135kB</td>
   <td><tt>5a48a910365d4c602f9bcf890d2f4ec5dd315d380e63c26c4bf6751288db704a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kimagemapeditor-24.07.80.tar.xz">kimagemapeditor-24.07.80</a></td>
   <td align="right">1046kB</td>
   <td><tt>664d6891dd9ce4ca06234fcfb0c596920b0e661ab4c310da3e626a26754c16b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kimap-24.07.80.tar.xz">kimap-24.07.80</a></td>
   <td align="right">129kB</td>
   <td><tt>9a058952c1d5a8fb562550b15b1b0eb7458832f3e8dea3da1b43c300d177d15e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kio-admin-24.07.80.tar.xz">kio-admin-24.07.80</a></td>
   <td align="right">37kB</td>
   <td><tt>d0eec8bd451533a7a1df1b4aec57ad2307ab688df7378c3b1f70638afbe6ede5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kio-extras-24.07.80.tar.xz">kio-extras-24.07.80</a></td>
   <td align="right">3391kB</td>
   <td><tt>03919d2408f48f840099db53cd544d97c440487f6fcb996c7b0dccf9ccf38e3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kio-gdrive-24.07.80.tar.xz">kio-gdrive-24.07.80</a></td>
   <td align="right">78kB</td>
   <td><tt>831b2b0ffdce219296b88e983cb9580d92d71509d3d59447f3ed290baed371e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kio-zeroconf-24.07.80.tar.xz">kio-zeroconf-24.07.80</a></td>
   <td align="right">43kB</td>
   <td><tt>2a1298a77a8689780c8a290d72fc7c97090929b068ae961c78d41da2c299ffeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kirigami-gallery-24.07.80.tar.xz">kirigami-gallery-24.07.80</a></td>
   <td align="right">359kB</td>
   <td><tt>4856a5bc28a8a7131d93edf406d9baeac6da22676c3a4607f9761e043604b8f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kiriki-24.07.80.tar.xz">kiriki-24.07.80</a></td>
   <td align="right">361kB</td>
   <td><tt>0f28027068df6bba796ec6a2ce31d2d2c0a96009bd099b7ea623d57c5fd9cc5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kiten-24.07.80.tar.xz">kiten-24.07.80</a></td>
   <td align="right">11044kB</td>
   <td><tt>872da4dc1edc73f43a5486308fa0e6bff158eba1a2a7da90cfee54179cec5c3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kitinerary-24.07.80.tar.xz">kitinerary-24.07.80</a></td>
   <td align="right">1945kB</td>
   <td><tt>5e3b85a8591ab272a7a0a73652b59425c7a7d7ecda1d55f0eb894f5051f6b4cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kjournald-24.07.80.tar.xz">kjournald-24.07.80</a></td>
   <td align="right">506kB</td>
   <td><tt>cace566113e475c5a3be070818243e5a9fad978cd3559d13c2f90d0441345953</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kjumpingcube-24.07.80.tar.xz">kjumpingcube-24.07.80</a></td>
   <td align="right">332kB</td>
   <td><tt>12e02a13d77b76cdd61f9d8f2249e5cf7fc95f21ca761cbe4ad3fbbfc1b8f8c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kldap-24.07.80.tar.xz">kldap-24.07.80</a></td>
   <td align="right">184kB</td>
   <td><tt>7940fb1e4f28b58dfc60d1135bad60e4b5a16062c7bae9a2ccf5733c25294730</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kleopatra-24.07.80.tar.xz">kleopatra-24.07.80</a></td>
   <td align="right">2887kB</td>
   <td><tt>da09532831a892c2e5a3bfc6e265fa9b47e4248039ba20aab8a7894f9dfa30df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/klettres-24.07.80.tar.xz">klettres-24.07.80</a></td>
   <td align="right">46074kB</td>
   <td><tt>f04cdb570395124e86b2a4def711bfd0137c09ab8174eb42a42ea3967254cb87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/klickety-24.07.80.tar.xz">klickety-24.07.80</a></td>
   <td align="right">1350kB</td>
   <td><tt>99eea354b22c3331932142068fbb228e07b7b1a76127274e922b0d35c1def599</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/klines-24.07.80.tar.xz">klines-24.07.80</a></td>
   <td align="right">1630kB</td>
   <td><tt>4a96be340fa461ec1feefc0158581499cc50a26911e84831c9284407f6821592</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kmag-24.07.80.tar.xz">kmag-24.07.80</a></td>
   <td align="right">658kB</td>
   <td><tt>888dcebb1cc37c84dc061158564227ef9cb5db9fe707e0b294a7b0064172e5fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kmahjongg-24.07.80.tar.xz">kmahjongg-24.07.80</a></td>
   <td align="right">3628kB</td>
   <td><tt>d746ed6737516242b07807949f2b49f2121ac9521d4d45e32a428b2f59619e0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kmail-24.07.80.tar.xz">kmail-24.07.80</a></td>
   <td align="right">7553kB</td>
   <td><tt>2b686c3247a96029bc7df168831eb5e03e1f5dd024265bdaf97e446c068e897c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kmail-account-wizard-24.07.80.tar.xz">kmail-account-wizard-24.07.80</a></td>
   <td align="right">161kB</td>
   <td><tt>4e308f41c3b5620a4fa212d6073f0dc19349d86a684abfd31cec17f031aac7e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kmailtransport-24.07.80.tar.xz">kmailtransport-24.07.80</a></td>
   <td align="right">183kB</td>
   <td><tt>5796bbc1c85142558c54578a617693978b3f3a58a959bc8dd4558d5606c7d105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kmbox-24.07.80.tar.xz">kmbox-24.07.80</a></td>
   <td align="right">28kB</td>
   <td><tt>bb325f1ce61b7b90eb50d30c32b0ba1631be06eda42af09b448339453b6bdf8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kmime-24.07.80.tar.xz">kmime-24.07.80</a></td>
   <td align="right">162kB</td>
   <td><tt>f4d1484ab1f0c4b4de6a4ac8811e180ab116dae9a9fc4db913cab3a24a3f1925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kmines-24.07.80.tar.xz">kmines-24.07.80</a></td>
   <td align="right">923kB</td>
   <td><tt>205695dc0a68b67cad33d04e2dc21a27104898340c1788e9388a9c0d9f4b6c85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kmix-24.07.80.tar.xz">kmix-24.07.80</a></td>
   <td align="right">1138kB</td>
   <td><tt>d4feca58283ded72cab1ed5e19b9f92b2204d2194c398cd7a12cb90114efc44b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kmousetool-24.07.80.tar.xz">kmousetool-24.07.80</a></td>
   <td align="right">127kB</td>
   <td><tt>c60a3d1b4013a85e1fa152f26c95105f06b0094c63df81748f607fdd13c768df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kmouth-24.07.80.tar.xz">kmouth-24.07.80</a></td>
   <td align="right">1891kB</td>
   <td><tt>acad3efb6cffe0f46aba003f3a821ae50fa28fdd46f95a784910afac8412c82b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kmplot-24.07.80.tar.xz">kmplot-24.07.80</a></td>
   <td align="right">2939kB</td>
   <td><tt>7a8b8c92560e6e3162104f15d5659ff5901293150fa6f031e4acbbdb469e8267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/knavalbattle-24.07.80.tar.xz">knavalbattle-24.07.80</a></td>
   <td align="right">1020kB</td>
   <td><tt>15d72842b7c1329a18c9bcd7efcfb541036967393b90aec2b39f33ecc2dc1e69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/knetwalk-24.07.80.tar.xz">knetwalk-24.07.80</a></td>
   <td align="right">982kB</td>
   <td><tt>703dde296274706763772099535b098a7f28458272cfcd5c6ed12a4331c65fe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/knights-24.07.80.tar.xz">knights-24.07.80</a></td>
   <td align="right">2422kB</td>
   <td><tt>ec2f4b690131c0aaa313d4ce0da55ac1b545ad7f86faef92050184a5b0828a58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/koko-24.07.80.tar.xz">koko-24.07.80</a></td>
   <td align="right">8336kB</td>
   <td><tt>abb8d1fb06e8173e8f5ec0e9e52241adfb31dd043395a7f61b1f81019a21d484</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kolf-24.07.80.tar.xz">kolf-24.07.80</a></td>
   <td align="right">1048kB</td>
   <td><tt>9c27f66c8030613fadbb5abba0ffe007153a5916a89d34b03652a81ddceb1e19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kollision-24.07.80.tar.xz">kollision-24.07.80</a></td>
   <td align="right">302kB</td>
   <td><tt>3380a7bc3f74f2dc46c37108546e203bb7cc858185af2e807ffe5bd65f9dfa49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kolourpaint-24.07.80.tar.xz">kolourpaint-24.07.80</a></td>
   <td align="right">5177kB</td>
   <td><tt>d9c23af0fbb28e5bbbbd9bbaf16fd2f3781742fcf691fa83c1ee5c0d758a7e77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kompare-24.07.80.tar.xz">kompare-24.07.80</a></td>
   <td align="right">920kB</td>
   <td><tt>8b072f033198ee587c42da6bddc918caae7a850f34cac1e0ab0f57123fccefb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kongress-24.07.80.tar.xz">kongress-24.07.80</a></td>
   <td align="right">151kB</td>
   <td><tt>af2e45065038d6ae9878cd8e54aedc4bfe18ac53d4cc59bd1c0d4a47ef4d1338</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/konqueror-24.07.80.tar.xz">konqueror-24.07.80</a></td>
   <td align="right">9459kB</td>
   <td><tt>5bc351462e760a84837fae635a19ac5639552c71b22a5b29a78692882eeb6454</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/konquest-24.07.80.tar.xz">konquest-24.07.80</a></td>
   <td align="right">837kB</td>
   <td><tt>3e02f668e9a62f63e7a99726649f511621633604b612e97c3aca08fa4f4b8361</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/konsole-24.07.80.tar.xz">konsole-24.07.80</a></td>
   <td align="right">1735kB</td>
   <td><tt>8533394e4b46b05cbfb82fda95adb3d7fdceb86513141fb1fb52af3a51a7f53e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kontact-24.07.80.tar.xz">kontact-24.07.80</a></td>
   <td align="right">843kB</td>
   <td><tt>e1a3b5d06867049cb5fb05956bd6d13c7b36e7b2131a7356e8d5dd05d5b8f3fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kontactinterface-24.07.80.tar.xz">kontactinterface-24.07.80</a></td>
   <td align="right">39kB</td>
   <td><tt>bdbd1751b484884c3222b4c6c85b1aa6163a3fb95320d449b0abdf50be747faa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kontrast-24.07.80.tar.xz">kontrast-24.07.80</a></td>
   <td align="right">209kB</td>
   <td><tt>ef49058808615032ea8b75ea9504bf352f2d38e9e13fce34ed6d79969c9fb2df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/konversation-24.07.80.tar.xz">konversation-24.07.80</a></td>
   <td align="right">4289kB</td>
   <td><tt>c001723363e22b029415b1dbfba197d201075dcf3ceca591126ff82f00684568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kopeninghours-24.07.80.tar.xz">kopeninghours-24.07.80</a></td>
   <td align="right">72kB</td>
   <td><tt>ecb2851031fefd476ef71fce9bc062abc244b77a562790b323ab4a94759c245d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/korganizer-24.07.80.tar.xz">korganizer-24.07.80</a></td>
   <td align="right">2842kB</td>
   <td><tt>ccf062218be2302641358602fa655af8ed540e958ad95d9a3220e3580891f17f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kosmindoormap-24.07.80.tar.xz">kosmindoormap-24.07.80</a></td>
   <td align="right">675kB</td>
   <td><tt>496af13604f9383641b280d356f5a3df9772daee15bf0e4b34beeb59e030c6d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kpat-24.07.80.tar.xz">kpat-24.07.80</a></td>
   <td align="right">3637kB</td>
   <td><tt>1e7efa5e49ac73821e7aeecf46d0447d7fb8b30888e18ac4c594394b386dbd80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kpimtextedit-24.07.80.tar.xz">kpimtextedit-24.07.80</a></td>
   <td align="right">170kB</td>
   <td><tt>f30be0322c05f8108b0edc8a50ed5c118442f6d9211c575ec5134d7f206759b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kpkpass-24.07.80.tar.xz">kpkpass-24.07.80</a></td>
   <td align="right">28kB</td>
   <td><tt>8e7ca4dc4cd5dfe18c526d95091a24baa548706e4a0adf2eb82540a1a7bb1d07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kpmcore-24.07.80.tar.xz">kpmcore-24.07.80</a></td>
   <td align="right">631kB</td>
   <td><tt>bdc65ad75cd484e6acc0586982f5bb22e546b548b50ab592c4d3d9fce9b4c9d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kpublictransport-24.07.80.tar.xz">kpublictransport-24.07.80</a></td>
   <td align="right">707kB</td>
   <td><tt>4c988d59abf9e87ca9ad2ada40de552eb3673d72777ca212e1115509b7c48289</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kqtquickcharts-24.07.80.tar.xz">kqtquickcharts-24.07.80</a></td>
   <td align="right">30kB</td>
   <td><tt>b07cb321d3974687f92b546a8ebc487a213fa0fe0d62d47cb6a3409970f04dda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/krdc-24.07.80.tar.xz">krdc-24.07.80</a></td>
   <td align="right">1513kB</td>
   <td><tt>47849e852b5f37d22abb753f9109b888c5481cdaedff7cb109818184b783dfa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/krecorder-24.07.80.tar.xz">krecorder-24.07.80</a></td>
   <td align="right">164kB</td>
   <td><tt>adb089f948954af023e563cabfa6172351dcfd00044f47814a57706148086b9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kreversi-24.07.80.tar.xz">kreversi-24.07.80</a></td>
   <td align="right">1005kB</td>
   <td><tt>324dd7f2dfe54a38b9464299c37bc0a64c3be138fc7cfffb1c275e063a2e95b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/krfb-24.07.80.tar.xz">krfb-24.07.80</a></td>
   <td align="right">1172kB</td>
   <td><tt>d130c01a3107aed7a344087c466c6d1b985b1f7be8f0a854caa54860e71afc02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kross-interpreters-24.07.80.tar.xz">kross-interpreters-24.07.80</a></td>
   <td align="right">148kB</td>
   <td><tt>9a274738d10725c3acaad6b2bae077bbfa1774d548248410dbc5153712118351</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kruler-24.07.80.tar.xz">kruler-24.07.80</a></td>
   <td align="right">277kB</td>
   <td><tt>4bd5717f17f9ab56ff14e13fc538cd976ed588878c5d0cfa28b5fa8c203f6881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/ksanecore-24.07.80.tar.xz">ksanecore-24.07.80</a></td>
   <td align="right">49kB</td>
   <td><tt>823069c2eca165b7375f31697923e22220336272077523346b2911e53c34133f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kshisen-24.07.80.tar.xz">kshisen-24.07.80</a></td>
   <td align="right">945kB</td>
   <td><tt>d864d982bf511540fe0866ab879a8a183912572e534ccb7bf4eae668be68c8cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/ksirk-24.07.80.tar.xz">ksirk-24.07.80</a></td>
   <td align="right">6544kB</td>
   <td><tt>b5197c9d06975599f6f27973544430f96c4eb5aa6e70f8774f6885a6e4d105b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/ksmtp-24.07.80.tar.xz">ksmtp-24.07.80</a></td>
   <td align="right">51kB</td>
   <td><tt>1a1bb950e8866c05db8601ab8ca3ab8607f9eb0eb1dd6081acdcd6ea1c14e185</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/ksnakeduel-24.07.80.tar.xz">ksnakeduel-24.07.80</a></td>
   <td align="right">564kB</td>
   <td><tt>ca6a5aee149f9a05bbeebeac80e316343ae29b0d223768c87a354f6d841997b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kspaceduel-24.07.80.tar.xz">kspaceduel-24.07.80</a></td>
   <td align="right">615kB</td>
   <td><tt>53cc719694aab8b655866b3a37cd5b7f819d2b2ff90bf41b36c4fc06e283f2c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/ksquares-24.07.80.tar.xz">ksquares-24.07.80</a></td>
   <td align="right">310kB</td>
   <td><tt>8bd2891942a9ed002f2a8ccfe6895b52671a2fea8995ab1fda9fb8548b1dd3c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/ksudoku-24.07.80.tar.xz">ksudoku-24.07.80</a></td>
   <td align="right">1681kB</td>
   <td><tt>48288251d34ceb838412e2ebdc63929505887a527ad9987547bf5b7b75434cce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/ksystemlog-24.07.80.tar.xz">ksystemlog-24.07.80</a></td>
   <td align="right">1811kB</td>
   <td><tt>a0a9e142b7bc24a08761d4a7864979deb96401bc115e9bf4c4fd68800810c847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kteatime-24.07.80.tar.xz">kteatime-24.07.80</a></td>
   <td align="right">300kB</td>
   <td><tt>def45e330c10ca688116ac607f78bd5ec8951ba3b112ce130bb623b1505cb22a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/ktimer-24.07.80.tar.xz">ktimer-24.07.80</a></td>
   <td align="right">441kB</td>
   <td><tt>24dc66b662c4edd162f2153938bc1120ae62a034551d5110ee98af607efb0282</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/ktnef-24.07.80.tar.xz">ktnef-24.07.80</a></td>
   <td align="right">306kB</td>
   <td><tt>048861b057c1bb72b8334dde4bd4145ca258bda9342ab76fef47eb3558d7c22e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/ktorrent-24.07.80.tar.xz">ktorrent-24.07.80</a></td>
   <td align="right">2131kB</td>
   <td><tt>1c322e75c38c9758c687461fc51480940309cdf10b4e78333ee00e28ea58a123</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/ktouch-24.07.80.tar.xz">ktouch-24.07.80</a></td>
   <td align="right">4671kB</td>
   <td><tt>bb1cd6cdeb59979e3d1d2fbb0e4e79717ea2f7a1036b523240c448e235b7460c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/ktrip-24.07.80.tar.xz">ktrip-24.07.80</a></td>
   <td align="right">1014kB</td>
   <td><tt>d487683af643b7462b002873ea7f62b2e8929b5d615f0200cc172816477d5bf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/ktuberling-24.07.80.tar.xz">ktuberling-24.07.80</a></td>
   <td align="right">69861kB</td>
   <td><tt>0673bf8275f7f28333db4bed7e6df7b78f2b206cbe6a85f34b099240f877528f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kturtle-24.07.80.tar.xz">kturtle-24.07.80</a></td>
   <td align="right">2045kB</td>
   <td><tt>bd3d03aac6e8525bd47d60b0f5a25cba3347de577b7283d6e66202c5a5023f54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kubrick-24.07.80.tar.xz">kubrick-24.07.80</a></td>
   <td align="right">357kB</td>
   <td><tt>47131260e8e716e47df0a54adafd23e291326ac2ba552594ec008514213f86b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kwalletmanager-24.07.80.tar.xz">kwalletmanager-24.07.80</a></td>
   <td align="right">1017kB</td>
   <td><tt>1e6dd106bccf7fb780c671c6cc83186cab33990a997ba59a4357a54e4e1bcff6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kwave-24.07.80.tar.xz">kwave-24.07.80</a></td>
   <td align="right">6397kB</td>
   <td><tt>c665e193732d91f9dff88128ae0f5aa2484c936ba8ae601f4db235c69c1d4365</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kweather-24.07.80.tar.xz">kweather-24.07.80</a></td>
   <td align="right">407kB</td>
   <td><tt>4895dada40a66d633c1d4ed9afe9b867e53edab3e5f3a631abf28a7a4d92d60b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kweathercore-24.07.80.tar.xz">kweathercore-24.07.80</a></td>
   <td align="right">73kB</td>
   <td><tt>3e69d19d44e6cbb971f2f34c4505bc6adf3f0b40f7c081ffcef62ed5d1486d07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/kwordquiz-24.07.80.tar.xz">kwordquiz-24.07.80</a></td>
   <td align="right">3683kB</td>
   <td><tt>1f79a28ab82f6104520663a14831d6b79af06e0a18d253616a801c96a08070a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/libgravatar-24.07.80.tar.xz">libgravatar-24.07.80</a></td>
   <td align="right">37kB</td>
   <td><tt>977939125ebd1256cb3ba5751043058a0e5a2c3e397e06e6c95ad57127c0b1a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/libkcddb-24.07.80.tar.xz">libkcddb-24.07.80</a></td>
   <td align="right">438kB</td>
   <td><tt>965b0e9e13402f083ef04e752e3e0853a464de90b3efa9b1541a120b54c28ccc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/libkcompactdisc-24.07.80.tar.xz">libkcompactdisc-24.07.80</a></td>
   <td align="right">97kB</td>
   <td><tt>b04d3728524d6533ac2669022a55f3478ab11762a5f51d5fe8f5a0708b43b5ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/libkdcraw-24.07.80.tar.xz">libkdcraw-24.07.80</a></td>
   <td align="right">36kB</td>
   <td><tt>2b0400f4b08a4d42a705cc162a9bb767db1a393b2a529eb9ded97da42592f1e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/libkdegames-24.07.80.tar.xz">libkdegames-24.07.80</a></td>
   <td align="right">5833kB</td>
   <td><tt>465a93d579e50bccc8a670a66eef9a9bee7231938866a429a8215b8313ee5acd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/libkdepim-24.07.80.tar.xz">libkdepim-24.07.80</a></td>
   <td align="right">276kB</td>
   <td><tt>4d90a39dcf60453f6eaced7e6c26c32948334830e994920ccd2c32700bfaf0d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/libkeduvocdocument-24.07.80.tar.xz">libkeduvocdocument-24.07.80</a></td>
   <td align="right">223kB</td>
   <td><tt>be52067505bb672b38eb3c5b7d4e7e82fb1fb7312b81dff89d957f052707afe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/libkexiv2-24.07.80.tar.xz">libkexiv2-24.07.80</a></td>
   <td align="right">59kB</td>
   <td><tt>955bee829a6da2fec48be72a6f3d4276544333c59ef5ee2cae64c969d3274233</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/libkgapi-24.07.80.tar.xz">libkgapi-24.07.80</a></td>
   <td align="right">331kB</td>
   <td><tt>b58d2c99007d57a679498795ec2e865d96073257c299f5b6c106e64f10e852b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/libkleo-24.07.80.tar.xz">libkleo-24.07.80</a></td>
   <td align="right">590kB</td>
   <td><tt>24cf776b1c88067ebfef5d874c6cfb000285c3c149d8e10c4db0ead61309ca60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/libkmahjongg-24.07.80.tar.xz">libkmahjongg-24.07.80</a></td>
   <td align="right">1653kB</td>
   <td><tt>f50e4898162fcc35a9e2b0b767d47451d12eac7cc1e3ac11cec2dba181dc513c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/libkomparediff2-24.07.80.tar.xz">libkomparediff2-24.07.80</a></td>
   <td align="right">182kB</td>
   <td><tt>4a2f3a87a73ce5e9b48055cee23976cbd42edd4a63f54528d0fa715183eab37c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/libksane-24.07.80.tar.xz">libksane-24.07.80</a></td>
   <td align="right">149kB</td>
   <td><tt>ca16b0410a245239dd41324b3f0ad3e1cc2573afe06c90adf9382b1a04980a6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/libksieve-24.07.80.tar.xz">libksieve-24.07.80</a></td>
   <td align="right">588kB</td>
   <td><tt>f389bb3dcd99065a62d5c1117434ce1407e60b0a0e99572810ab111f1c95ef0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/libktorrent-24.07.80.tar.xz">libktorrent-24.07.80</a></td>
   <td align="right">591kB</td>
   <td><tt>4142cd2195b998de09a7160275ef743043a2189b70fc5295997ccc13f27ff68e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/lokalize-24.07.80.tar.xz">lokalize-24.07.80</a></td>
   <td align="right">1983kB</td>
   <td><tt>5dc3f09a6b39e3f8dceb83ee993a99efc515d83e72b4a3d50628217b87caf028</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/lskat-24.07.80.tar.xz">lskat-24.07.80</a></td>
   <td align="right">1194kB</td>
   <td><tt>611a2f97cadac5cded4311ac257ef242c5e20b2ca4d32cebedde2964d737b726</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/mailcommon-24.07.80.tar.xz">mailcommon-24.07.80</a></td>
   <td align="right">761kB</td>
   <td><tt>cc72199ba92339e032c617d91d393f0623102ecd24d47922f3a9db59dbae90f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/mailimporter-24.07.80.tar.xz">mailimporter-24.07.80</a></td>
   <td align="right">581kB</td>
   <td><tt>04da599c58eb1d8f7052c5800089ec238bee483e27a7cee26e3a78f3db3505a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/marble-24.07.80.tar.xz">marble-24.07.80</a></td>
   <td align="right">51218kB</td>
   <td><tt>86dfeab6c703e023bd7cedc07dd60d49ad426c1c31e1ff3f7c64fd95ea00caf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/markdownpart-24.07.80.tar.xz">markdownpart-24.07.80</a></td>
   <td align="right">33kB</td>
   <td><tt>5c1c3f9c22fe22abff48c231f33a1bb27fb48868950a5970b526626155827784</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/massif-visualizer-24.07.80.tar.xz">massif-visualizer-24.07.80</a></td>
   <td align="right">272kB</td>
   <td><tt>0cbbdeddc0e5d36af7862d85311dcc66b7ea0bceca74f491920b437d68e431dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/mbox-importer-24.07.80.tar.xz">mbox-importer-24.07.80</a></td>
   <td align="right">31kB</td>
   <td><tt>ddd34ee8f20c82a9bc45880a0e088214761fd71c7c8ca6a4011d4b0460c52770</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/merkuro-24.07.80.tar.xz">merkuro-24.07.80</a></td>
   <td align="right">738kB</td>
   <td><tt>8f0a4d801c2bb20ad9360bd94e68e14e11375b656a0f4ea68ff111616ad14fd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/messagelib-24.07.80.tar.xz">messagelib-24.07.80</a></td>
   <td align="right">7239kB</td>
   <td><tt>16c93cff1f61965f94a3d115ebc1b6eceaef8f544fb769bbb431d95ebc936a14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/mimetreeparser-24.07.80.tar.xz">mimetreeparser-24.07.80</a></td>
   <td align="right">629kB</td>
   <td><tt>c5ef1fc5975adcbe6ce1158dcc15831432231ed6c7eb95c0f7cd070d1725b689</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/minuet-24.07.80.tar.xz">minuet-24.07.80</a></td>
   <td align="right">27036kB</td>
   <td><tt>2de4fc96db65a39e2559215d7ed131a4ec1fdcca23d3cc8f9c6a9317892c23d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/neochat-24.07.80.tar.xz">neochat-24.07.80</a></td>
   <td align="right">987kB</td>
   <td><tt>6aac73afedbf17570c31530c6dba68611252984e561786d4b3bb45d9b5084546</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/okular-24.07.80.tar.xz">okular-24.07.80</a></td>
   <td align="right">7839kB</td>
   <td><tt>14c914bc84c0648ce5d6ccf5714bdc758b838fe2096108f36de8d9d61f095356</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/palapeli-24.07.80.tar.xz">palapeli-24.07.80</a></td>
   <td align="right">2069kB</td>
   <td><tt>a48940a9998e1581382c27655f1d6468c2fce60eb2eccea868411b3dd657f93b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/parley-24.07.80.tar.xz">parley-24.07.80</a></td>
   <td align="right">8223kB</td>
   <td><tt>d88fe2a16a2d0cbe6fe9ce6fe728906df876be26c252cffc379cd4703641b6b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/partitionmanager-24.07.80.tar.xz">partitionmanager-24.07.80</a></td>
   <td align="right">2267kB</td>
   <td><tt>e890c1250ce56f5e6d208050ceb5266cfb53c206fe0f9cc3fb99a02416069e71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/picmi-24.07.80.tar.xz">picmi-24.07.80</a></td>
   <td align="right">1480kB</td>
   <td><tt>1cca243c724e85bb4ea5cb915b751a3fb3110524a02f25e5ab995af865384731</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/pimcommon-24.07.80.tar.xz">pimcommon-24.07.80</a></td>
   <td align="right">339kB</td>
   <td><tt>bd66a94efd8bfc47e03622ce86753f983bc854f55cde42bb9cbdb817b1ae48e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/pim-data-exporter-24.07.80.tar.xz">pim-data-exporter-24.07.80</a></td>
   <td align="right">415kB</td>
   <td><tt>ab4f30d761b19507da59ea049ee56f486e845001b320e2ebba0e90d8c50a17b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/pim-sieve-editor-24.07.80.tar.xz">pim-sieve-editor-24.07.80</a></td>
   <td align="right">457kB</td>
   <td><tt>ae486ab44b3c548db3dbd5429bcaa36821bc1db2acf6a1b5048db63f28e55201</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/plasmatube-24.07.80.tar.xz">plasmatube-24.07.80</a></td>
   <td align="right">198kB</td>
   <td><tt>f8779dde144eca500170a4577531ceba15bdf954dd2401e89810ebfa9b01dd61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/poxml-24.07.80.tar.xz">poxml-24.07.80</a></td>
   <td align="right">43kB</td>
   <td><tt>775b1a7ecbba3634934cc8b058ca56871d0208f192c7bab7764b0d6e957cc6d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/qmlkonsole-24.07.80.tar.xz">qmlkonsole-24.07.80</a></td>
   <td align="right">192kB</td>
   <td><tt>95801bcefbe16dc691b81d6aa6b47487f0e2c85d89c45b4f0c0bb03b0f784e1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/rocs-24.07.80.tar.xz">rocs-24.07.80</a></td>
   <td align="right">1529kB</td>
   <td><tt>d69e16fbcde5ee669e5cd1e8d35025745d1ebeac0b153d2b09a473d6de71d181</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/signon-kwallet-extension-24.07.80.tar.xz">signon-kwallet-extension-24.07.80</a></td>
   <td align="right">11kB</td>
   <td><tt>894141584d81274400daee712dc44c682cc0da683cd8dd91949eb3803a464c53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/skanlite-24.07.80.tar.xz">skanlite-24.07.80</a></td>
   <td align="right">2327kB</td>
   <td><tt>f1d54a84942fbd057763c1958018b457929bcfe7819ea0d8ec8eac64dcc0b8eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/skanpage-24.07.80.tar.xz">skanpage-24.07.80</a></td>
   <td align="right">1302kB</td>
   <td><tt>92f3eeb0b460b3decc6acd0b99c3e80106ec9ba3e3103bbb04296cccfb58b203</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/skladnik-24.07.80.tar.xz">skladnik-24.07.80</a></td>
   <td align="right">399kB</td>
   <td><tt>7934ea8cf873d9a982dbdff056e8b7d8ae5ef9227166235a5d26d8386282e8d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/spectacle-24.07.80.tar.xz">spectacle-24.07.80</a></td>
   <td align="right">1510kB</td>
   <td><tt>c6436585930f80d04e4deeccf1dd279d28d4f9894f9f3911dc230aa8821b79ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/step-24.07.80.tar.xz">step-24.07.80</a></td>
   <td align="right">964kB</td>
   <td><tt>0d2f07cc21a88ced7becb1bf556c4f72b91aa806039819fa96c378c05c450cee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/svgpart-24.07.80.tar.xz">svgpart-24.07.80</a></td>
   <td align="right">29kB</td>
   <td><tt>489a58e47237635daa8ae82118cdd71de1c4e53053439635041ceb4195c149ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/sweeper-24.07.80.tar.xz">sweeper-24.07.80</a></td>
   <td align="right">373kB</td>
   <td><tt>4a46471f6e6ccb85b6fc066995a123b094b5d6042c47ecc35ad79720aba0f57e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/telly-skout-24.07.80.tar.xz">telly-skout-24.07.80</a></td>
   <td align="right">103kB</td>
   <td><tt>e862413da96056da05ee85cc91e4dca1d798b38d39169a792cea2f7289180e0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/tokodon-24.07.80.tar.xz">tokodon-24.07.80</a></td>
   <td align="right">535kB</td>
   <td><tt>7b2d4cc09418b78a3ec58df874761e15c69000504d9a56c4ed54546dbff33e1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/umbrello-24.07.80.tar.xz">umbrello-24.07.80</a></td>
   <td align="right">5484kB</td>
   <td><tt>8cc5d93a578c9c44dc004764fc9b73253dcce188d5968de0dfe42a87e794003b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/yakuake-24.07.80.tar.xz">yakuake-24.07.80</a></td>
   <td align="right">380kB</td>
   <td><tt>8afa6839d38f1660ae54fb51f0346be5f2fde2b655b8165790bfcbfe871f92d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.80/src/zanshin-24.07.80.tar.xz">zanshin-24.07.80</a></td>
   <td align="right">366kB</td>
   <td><tt>25ca097456a628ab60b3282fd910c0fded7e50d323a6892aef5099541908aba0</tt></td>
</tr>

</table>
