<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/bluedevil-5.11.95.tar.xz">bluedevil-5.11.95</a></td>
   <td align="right">145kB</td>
   <td><tt>8a160db611ac0a338b1d0aaffeeca47a27744388bda43a50b29a6125b60cea5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/breeze-5.11.95.tar.xz">breeze-5.11.95</a></td>
   <td align="right">21MB</td>
   <td><tt>d029a80ab4dcd492ea59f67582da0a20ded20fa260e616fb664a22395bb8256a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/breeze-grub-5.11.95.tar.xz">breeze-grub-5.11.95</a></td>
   <td align="right">2.9MB</td>
   <td><tt>f093e668dfa0fe2b026be9b1c708c229a1861fc9f350cfb8b13aed960900eb08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/breeze-gtk-5.11.95.tar.xz">breeze-gtk-5.11.95</a></td>
   <td align="right">208kB</td>
   <td><tt>3e47f31350a4b645946726c3e42854977f41d5a54fe07476fe37c5d0af5e070f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/breeze-plymouth-5.11.95.tar.xz">breeze-plymouth-5.11.95</a></td>
   <td align="right">103kB</td>
   <td><tt>1e6f4885e42d871b9ecaa3e682286954eb4d6cb67f57647b58fb87e79e1a75b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/discover-5.11.95.tar.xz">discover-5.11.95</a></td>
   <td align="right">9.7MB</td>
   <td><tt>377131f7beb435b3648003952ec65fdd7f6b99be653a3647b28150b635e05ba3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/drkonqi-5.11.95.tar.xz">drkonqi-5.11.95</a></td>
   <td align="right">719kB</td>
   <td><tt>996ad08035be763cd0f53b455cb02fd00d282ea556d1bc47fd30c2269926bb61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/kactivitymanagerd-5.11.95.tar.xz">kactivitymanagerd-5.11.95</a></td>
   <td align="right">82kB</td>
   <td><tt>9e540a9ae1fd56c5edaec5d16b0e6cf05d38ef466a68f7b4cd5f925983527cd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/kde-cli-tools-5.11.95.tar.xz">kde-cli-tools-5.11.95</a></td>
   <td align="right">564kB</td>
   <td><tt>7622ea3b98fb46b73604f50650f2d37feb814008c02c7621059bf1dda027cfa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/kdecoration-5.11.95.tar.xz">kdecoration-5.11.95</a></td>
   <td align="right">34kB</td>
   <td><tt>8900ac1e53bf2a63e4d9aebb26c6d127c69ca8cce8343ab86100638ed3829ed3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/kde-gtk-config-5.11.95.tar.xz">kde-gtk-config-5.11.95</a></td>
   <td align="right">152kB</td>
   <td><tt>4bf0352f10f42de3a9cb6b4054d7d3ed79dfc7eb75375bb17527b2961d8f47e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/kdeplasma-addons-5.11.95.tar.xz">kdeplasma-addons-5.11.95</a></td>
   <td align="right">1.3MB</td>
   <td><tt>87c7281961a37147087bee6865733c8a41f556a4d64b57d7f88363d7fe9602f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/kgamma5-5.11.95.tar.xz">kgamma5-5.11.95</a></td>
   <td align="right">58kB</td>
   <td><tt>0034e59e97de67cfeecda660991965be9d4f0efbc40f34e8bca0e750fd9bab84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/khotkeys-5.11.95.tar.xz">khotkeys-5.11.95</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d5314c64226ec74bc868edc8942211984d848414d58909a59cda1b2cc439ee2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/kinfocenter-5.11.95.tar.xz">kinfocenter-5.11.95</a></td>
   <td align="right">1.2MB</td>
   <td><tt>c11dce4bc20f47f6095d42ae50e4845a11f0e3f6d323e1603aa1cb3f31b8a483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/kmenuedit-5.11.95.tar.xz">kmenuedit-5.11.95</a></td>
   <td align="right">641kB</td>
   <td><tt>762ea1fcd178bdcfc0e913ec12a4d2ece64f6ae7f1a63d32790f9c507e98927e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/kscreen-5.11.95.tar.xz">kscreen-5.11.95</a></td>
   <td align="right">114kB</td>
   <td><tt>00a8e709920c287f7f885393c78a9f78750e5f8f1b5b44dc861729d61cdc7cf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/kscreenlocker-5.11.95.tar.xz">kscreenlocker-5.11.95</a></td>
   <td align="right">115kB</td>
   <td><tt>972a642e8d10a0b8e6220bd0816cb0343d7c590c639a2938669ac3c4b55d41e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/ksshaskpass-5.11.95.tar.xz">ksshaskpass-5.11.95</a></td>
   <td align="right">20kB</td>
   <td><tt>3df9d4aa054f7541a5031acb026f278ea44b5a50cfe55b4966b486c9c3cfcbdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/ksysguard-5.11.95.tar.xz">ksysguard-5.11.95</a></td>
   <td align="right">479kB</td>
   <td><tt>c58cac5ebf0f41ae56322108be0c633e5af905c37751d4b4ffe1e74b47442ea5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/kwallet-pam-5.11.95.tar.xz">kwallet-pam-5.11.95</a></td>
   <td align="right">18kB</td>
   <td><tt>9b7c1b42e76c22a7680c7d652412a029602860f3b782ebdb11d28460576f7856</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/kwayland-integration-5.11.95.tar.xz">kwayland-integration-5.11.95</a></td>
   <td align="right">18kB</td>
   <td><tt>e56d739ebaf335135888b5cdde472cbbf0bc1155cc7600b378869d5f043a8a4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/kwin-5.11.95.tar.xz">kwin-5.11.95</a></td>
   <td align="right">4.7MB</td>
   <td><tt>220e983d3962de0d7e3aa88cacb86c1cece9319ffa2b17f3c1aeddf13de7ef90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/kwrited-5.11.95.tar.xz">kwrited-5.11.95</a></td>
   <td align="right">19kB</td>
   <td><tt>980f8e41a44c959c2d6d0ac33a26106113fba0378af73a95d40346384622647b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/libkscreen-5.11.95.tar.xz">libkscreen-5.11.95</a></td>
   <td align="right">92kB</td>
   <td><tt>cee976fc651288e1b3f3eecb63a9f88da075aebf51ad1cd67aea2db51082667e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/libksysguard-5.11.95.tar.xz">libksysguard-5.11.95</a></td>
   <td align="right">553kB</td>
   <td><tt>5e0a0131f2b0d8e2460bc18245183c22f849db51e80e331c2c3f184834748d46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/milou-5.11.95.tar.xz">milou-5.11.95</a></td>
   <td align="right">55kB</td>
   <td><tt>c1d5c6e691fc7f25dab8946a7f617c78420209640eb6621d2d88246172aa36cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/oxygen-5.11.95.tar.xz">oxygen-5.11.95</a></td>
   <td align="right">4.2MB</td>
   <td><tt>b9e0e862b9b4a84d37b23b86b64116c1e2262e6f49dec71d68776eff8cea4035</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/plasma-desktop-5.11.95.tar.xz">plasma-desktop-5.11.95</a></td>
   <td align="right">8.0MB</td>
   <td><tt>b945f3baed3ce04704d50d18382e6ffd8d108fc615ace4f3ad29f5a82de0b3cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/plasma-integration-5.11.95.tar.xz">plasma-integration-5.11.95</a></td>
   <td align="right">51kB</td>
   <td><tt>afd7909e22faa5b68f39da10e331f5d3216f0155b56a78e3ab7983c86da0a5a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/plasma-nm-5.11.95.tar.xz">plasma-nm-5.11.95</a></td>
   <td align="right">684kB</td>
   <td><tt>3141f62d53e48e8580c48f8c785b43bff2d6e3a41c0483673acec24fdef3fdd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/plasma-pa-5.11.95.tar.xz">plasma-pa-5.11.95</a></td>
   <td align="right">84kB</td>
   <td><tt>585b411ad1e43a0d92e95f7ae1aba69e159cf7662618fa06259bcc290855b078</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/plasma-sdk-5.11.95.tar.xz">plasma-sdk-5.11.95</a></td>
   <td align="right">244kB</td>
   <td><tt>6c437265ebd4fe6bd3742e14436e0ec2995b973c771ec7d3eb44177f43bd21f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/plasma-tests-5.11.95.tar.xz">plasma-tests-5.11.95</a></td>
   <td align="right">1kB</td>
   <td><tt>50d1dae68384fd925cf39064ec21230f4f4ee2b0468dcb1932b973c8a8d69e13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/plasma-vault-5.11.95.tar.xz">plasma-vault-5.11.95</a></td>
   <td align="right">96kB</td>
   <td><tt>6418b28617d80dc23a2cd615dc1cf6258ecf60a0920cb63bdda966cfc818677c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/plasma-workspace-5.11.95.tar.xz">plasma-workspace-5.11.95</a></td>
   <td align="right">4.3MB</td>
   <td><tt>7811a2953a8effe157c578f207ca927905d9a292a1ec14df9aa2cce9221a9195</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/plasma-workspace-wallpapers-5.11.95.tar.xz">plasma-workspace-wallpapers-5.11.95</a></td>
   <td align="right">43MB</td>
   <td><tt>698aae94d1d897f9b568ccd7b6cfa8dc562cbd76f5e53c19e8d67b96968e8f66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/plymouth-kcm-5.11.95.tar.xz">plymouth-kcm-5.11.95</a></td>
   <td align="right">36kB</td>
   <td><tt>76da6c4c0dce0bafa7540ea2b824c21c61d9e7f62b6930789338a032d8a93285</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/polkit-kde-agent-1-5.11.95.tar.xz">polkit-kde-agent-1-5.11.95</a></td>
   <td align="right">40kB</td>
   <td><tt>4e2136b1aaf99976af5211e2fd3423e798c7bbf7bd5e136f6d06c82f12429dc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/powerdevil-5.11.95.tar.xz">powerdevil-5.11.95</a></td>
   <td align="right">371kB</td>
   <td><tt>7f15709d07d10192556edd0355b68deead43c2bc0782363a192eb0ce858bd34b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/sddm-kcm-5.11.95.tar.xz">sddm-kcm-5.11.95</a></td>
   <td align="right">58kB</td>
   <td><tt>2647c477e8f8babf47801995072bdab65d611f6d9ecd8cd32a3744b768a6776c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/systemsettings-5.11.95.tar.xz">systemsettings-5.11.95</a></td>
   <td align="right">169kB</td>
   <td><tt>d8d8c016408e7e893de2d216a0974d5222f7c5506b0b0c1d6a31b6157bba8557</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/user-manager-5.11.95.tar.xz">user-manager-5.11.95</a></td>
   <td align="right">532kB</td>
   <td><tt>9f2eba1c0afde40ab634f28e3e73bb26ad08c52d4dc9702aa895a4c8c15c3266</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.11.95/xdg-desktop-portal-kde-5.11.95.tar.xz">xdg-desktop-portal-kde-5.11.95</a></td>
   <td align="right">30kB</td>
   <td><tt>351875aa3ae239caad67cff158705888c580c82c28d75fffd3ec7b8c0fa8c1a4</tt></td>
</tr>

</table>
