<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/akonadi-24.01.85.tar.xz">akonadi-24.01.85</a></td>
   <td align="right">1620kB</td>
   <td><tt>232c4e4d9167cefbf29d41d878266ccf9faa15eef0157726bca991f3206a553d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/akonadi-calendar-24.01.85.tar.xz">akonadi-calendar-24.01.85</a></td>
   <td align="right">476kB</td>
   <td><tt>f359d122583f4eeec911a36d9ae06ee2465e7416b941cf25dd6eb2a94005d20d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/akonadi-calendar-tools-24.01.85.tar.xz">akonadi-calendar-tools-24.01.85</a></td>
   <td align="right">253kB</td>
   <td><tt>b74732beffcbc63477440ec196402456f532e041fe0b7ecd74e97fdda11f9e81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/akonadiconsole-24.01.85.tar.xz">akonadiconsole-24.01.85</a></td>
   <td align="right">280kB</td>
   <td><tt>ea9d11a45abafca7c968a452b519509990a47cca508d8fcf76d59d10f5b45eaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/akonadi-contacts-24.01.85.tar.xz">akonadi-contacts-24.01.85</a></td>
   <td align="right">415kB</td>
   <td><tt>91aa12ec33647a804b6bfcc7d2940a0ba2dd12c0d9da9565f4d5225035ee8fec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/akonadi-import-wizard-24.01.85.tar.xz">akonadi-import-wizard-24.01.85</a></td>
   <td align="right">504kB</td>
   <td><tt>b40e21ba0d9dbbd77f21f479ec217b099f71a494c4d5dda675a433cabdf90629</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/akonadi-mime-24.01.85.tar.xz">akonadi-mime-24.01.85</a></td>
   <td align="right">163kB</td>
   <td><tt>bf5ab08b4d22df8c8094414926afed3e7ec97ccd040e181d4893ee9bb69fb804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/akonadi-notes-24.01.85.tar.xz">akonadi-notes-24.01.85</a></td>
   <td align="right">27kB</td>
   <td><tt>5da7414905bb4d97c1711d191c7ca99886f3dca061168d6b5afb5949c622f607</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/akonadi-search-24.01.85.tar.xz">akonadi-search-24.01.85</a></td>
   <td align="right">108kB</td>
   <td><tt>0a2cba3152cd35206611680289d60bcd7fd02e04ffe3a08777faa6c7a3e40962</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/akregator-24.01.85.tar.xz">akregator-24.01.85</a></td>
   <td align="right">2269kB</td>
   <td><tt>0784c739ffd8832292d60913006554f5b2c1291f2113ad528f27bffd0216f492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/alligator-24.01.85.tar.xz">alligator-24.01.85</a></td>
   <td align="right">186kB</td>
   <td><tt>10bf74a06f89f041fab515b9f583e150d44785bb4222202b21aef10a22dcc5e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/analitza-24.01.85.tar.xz">analitza-24.01.85</a></td>
   <td align="right">350kB</td>
   <td><tt>c90048e616cc80c6fe633210722d0c34a34ed3b2b83497eb4e37467cd87f530e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/angelfish-24.01.85.tar.xz">angelfish-24.01.85</a></td>
   <td align="right">256kB</td>
   <td><tt>a620ce4024441cf60ff36635081f01e2e4f496d3bd569ff4ca7ce0bbddaf9410</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/arianna-24.01.85.tar.xz">arianna-24.01.85</a></td>
   <td align="right">796kB</td>
   <td><tt>33d97815b3af36baab408134549f5fbd335fa939226fa3245e6f5e19565c6175</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/ark-24.01.85.tar.xz">ark-24.01.85</a></td>
   <td align="right">2942kB</td>
   <td><tt>110e38ae4dd004ed394aa20c2c539e3c7cfd5afb692c70cc50f8d12f827ef31e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/artikulate-24.01.85.tar.xz">artikulate-24.01.85</a></td>
   <td align="right">1068kB</td>
   <td><tt>c59ddd8747cd118a5ad5e77b802ca58405131ecaf5db83efb4d6ae69985c29bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/audiocd-kio-24.01.85.tar.xz">audiocd-kio-24.01.85</a></td>
   <td align="right">556kB</td>
   <td><tt>525a9517268b60663c757bbdd05fa173a01df4350542300a2e4b1057a63d0fb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/audiotube-24.01.85.tar.xz">audiotube-24.01.85</a></td>
   <td align="right">146kB</td>
   <td><tt>bdfb0e9675158e653fabb695eb31b3b898356c25e10f9f5c33b8d63fcf39ed79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/baloo-widgets-24.01.85.tar.xz">baloo-widgets-24.01.85</a></td>
   <td align="right">270kB</td>
   <td><tt>74b8a9a66146e903bcf3192f33ef96b770db1c841cacf04306975c697305296d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/blinken-24.01.85.tar.xz">blinken-24.01.85</a></td>
   <td align="right">2660kB</td>
   <td><tt>fe3e60e8ab03e9333d5718f26b2ec85ee9096f1caa7d41f475d3e3a935769cb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/bomber-24.01.85.tar.xz">bomber-24.01.85</a></td>
   <td align="right">820kB</td>
   <td><tt>cbab19317f372b6b862c510bb2e300c2d841978b04788ef28fea20da7f9e151a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/bovo-24.01.85.tar.xz">bovo-24.01.85</a></td>
   <td align="right">210kB</td>
   <td><tt>4a27992c8ec51ff1366f386d2f85773175413eb865fcf54508da1ddb0c05b926</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/calendarsupport-24.01.85.tar.xz">calendarsupport-24.01.85</a></td>
   <td align="right">974kB</td>
   <td><tt>6e3a2ce7d27b47571012e051c4ef44198fa3061a6be85723b23b5f45c691d3d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/calindori-24.01.85.tar.xz">calindori-24.01.85</a></td>
   <td align="right">376kB</td>
   <td><tt>851184799e7fb79e3932b551e8fc962757b26e1737dc62d45c5725072df03905</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/cantor-24.01.85.tar.xz">cantor-24.01.85</a></td>
   <td align="right">9074kB</td>
   <td><tt>08d4466e8726dc3326ca812dcc96be0fc8961cd9b993b431bc261f0dabd115b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/cervisia-24.01.85.tar.xz">cervisia-24.01.85</a></td>
   <td align="right">1902kB</td>
   <td><tt>5339e89e7be45cfbc24f91e5cd264bd759fb99adb1d1d359639234497c7cd7c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/colord-kde-24.01.85.tar.xz">colord-kde-24.01.85</a></td>
   <td align="right">106kB</td>
   <td><tt>eba8a36482f6808d11bbf5a1eb389786283f47d87df92ac92b0052f64e5f6f26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/dolphin-24.01.85.tar.xz">dolphin-24.01.85</a></td>
   <td align="right">5664kB</td>
   <td><tt>654173a509cffbc0bc8a332e95ec8653fd2526e18e90c5cc9ab8f5b81bac2c0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/dolphin-plugins-24.01.85.tar.xz">dolphin-plugins-24.01.85</a></td>
   <td align="right">284kB</td>
   <td><tt>0842c9d3abe76d34e2c8f3728bc75d559ccb22cddac6d897be7c46e7572b4902</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/dragon-24.01.85.tar.xz">dragon-24.01.85</a></td>
   <td align="right">1631kB</td>
   <td><tt>b41c59ca6964127bcb9ba269dcff550ca5fda45aa010552d7e580648d533b8ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/elisa-24.01.85.tar.xz">elisa-24.01.85</a></td>
   <td align="right">1785kB</td>
   <td><tt>c259d3cca112fae99cc5154e2638119e0bb48a08e79575561e3c55a2e837d529</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/eventviews-24.01.85.tar.xz">eventviews-24.01.85</a></td>
   <td align="right">461kB</td>
   <td><tt>1e489aec8d93aebbc153a430730a5d2128dbb3809c1c76b7d869bb51e26a0df5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/falkon-24.01.85.tar.xz">falkon-24.01.85</a></td>
   <td align="right">2528kB</td>
   <td><tt>626d7ee49c9e74e4ac191ea94b3cfcc08b0de27a9cd58744dfeff394d089d95f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/ffmpegthumbs-24.01.85.tar.xz">ffmpegthumbs-24.01.85</a></td>
   <td align="right">32kB</td>
   <td><tt>20d68ea5ddf0467521b28fc6e457859cf3f68f35ceffacb7c21af63fbd743a9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/filelight-24.01.85.tar.xz">filelight-24.01.85</a></td>
   <td align="right">686kB</td>
   <td><tt>dcd5c5734358f75a75782216015b026b07dae1b65125a1f01adcea4e8c7c5701</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/ghostwriter-24.01.85.tar.xz">ghostwriter-24.01.85</a></td>
   <td align="right">3541kB</td>
   <td><tt>51317836b27a89a02fa04afcf10a6de4ab5070e7e23753340c11a6769570672d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/granatier-24.01.85.tar.xz">granatier-24.01.85</a></td>
   <td align="right">2064kB</td>
   <td><tt>f536359ceec15d3845c4977c32cfd499803d979f6456283b323ba6f35acb5a2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/grantlee-editor-24.01.85.tar.xz">grantlee-editor-24.01.85</a></td>
   <td align="right">116kB</td>
   <td><tt>0966f81fe3e72bc35ada99a997df07d0a51a96643bd639b3f1b4d5dc89d578f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/grantleetheme-24.01.85.tar.xz">grantleetheme-24.01.85</a></td>
   <td align="right">60kB</td>
   <td><tt>d6e1dd183f7d7817fadeb59115cebcce751362d37dbd96617e8c6baab686ce38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/gwenview-24.01.85.tar.xz">gwenview-24.01.85</a></td>
   <td align="right">6753kB</td>
   <td><tt>8579abf32fc6d8cda99cb71974143ca228e0fac7f59c61c20716680d2066f3ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/incidenceeditor-24.01.85.tar.xz">incidenceeditor-24.01.85</a></td>
   <td align="right">569kB</td>
   <td><tt>71c55e350c424393034ad989723fa9f1fb3b90930f1394dab897a47d89e9a9a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/isoimagewriter-24.01.85.tar.xz">isoimagewriter-24.01.85</a></td>
   <td align="right">448kB</td>
   <td><tt>35def6a5953208568d2286afae3956891566f2b56f7681eaef79291a673d3043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/itinerary-24.01.85.tar.xz">itinerary-24.01.85</a></td>
   <td align="right">658kB</td>
   <td><tt>ed45ecf21d587ec225c5c5aa4b0ce8530433dde0aac5500a90b59a6a8bdfe4e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/juk-24.01.85.tar.xz">juk-24.01.85</a></td>
   <td align="right">2032kB</td>
   <td><tt>3c3d77bbbf7730b49c8a27e64f10e87914f41699b17cb552dbccc9a9238bca40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/k3b-24.01.85.tar.xz">k3b-24.01.85</a></td>
   <td align="right">10710kB</td>
   <td><tt>11fde267387e9fbce200294d67ed589614df3fb4b9e1ab25e2180780c53e7702</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kaccounts-integration-24.01.85.tar.xz">kaccounts-integration-24.01.85</a></td>
   <td align="right">88kB</td>
   <td><tt>54a030741cf21f418543233980954d1937722688a63f66f529bb03503b235ebb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kaccounts-providers-24.01.85.tar.xz">kaccounts-providers-24.01.85</a></td>
   <td align="right">65kB</td>
   <td><tt>c46a8dffb6ce8db81e532611ab0a8a8b7718d3002b09b9a973f21142a322fc65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kaddressbook-24.01.85.tar.xz">kaddressbook-24.01.85</a></td>
   <td align="right">3379kB</td>
   <td><tt>89645e45bad0d45d8db1a3248ce0df770aabf592363a20d08c6a191ae61682f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kajongg-24.01.85.tar.xz">kajongg-24.01.85</a></td>
   <td align="right">4483kB</td>
   <td><tt>5fc671d3ccb9a1fd2332391ba8ce515978bc72662d6e84d86afcb11cd53f2598</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kalarm-24.01.85.tar.xz">kalarm-24.01.85</a></td>
   <td align="right">2565kB</td>
   <td><tt>6919a7e6e05a9866daf14fa11110279e2df408a4384223bc15a29a4b47a258c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kalgebra-24.01.85.tar.xz">kalgebra-24.01.85</a></td>
   <td align="right">1022kB</td>
   <td><tt>b9eb85c6e4a2dc0c63295ee6fb69ab4d542a500fa4ca9c5f1647fd8cc141e65c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kalk-24.01.85.tar.xz">kalk-24.01.85</a></td>
   <td align="right">69kB</td>
   <td><tt>a32340a121470eeaf5928fab6bc483a8c24c9032f0ea6a002a2514436824bcc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kalzium-24.01.85.tar.xz">kalzium-24.01.85</a></td>
   <td align="right">24061kB</td>
   <td><tt>150cd14ff9b31f26deb5125d3b8700d0efc0b42661e241174fcee318eb785af0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kamera-24.01.85.tar.xz">kamera-24.01.85</a></td>
   <td align="right">127kB</td>
   <td><tt>f60b5b75e86004e164b0fcfb103dce79092d373b44d771a4f220d6e2b95e2ff5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kamoso-24.01.85.tar.xz">kamoso-24.01.85</a></td>
   <td align="right">195kB</td>
   <td><tt>2298b8d5a7f4f8623e487839aff344a16bf842a877c7e6ed4dffeb5147b6f790</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kanagram-24.01.85.tar.xz">kanagram-24.01.85</a></td>
   <td align="right">7879kB</td>
   <td><tt>d6d6ec4b1f0fbc06697b4b4beb298f9f12e589effd2041a596bdaaab8fd35e5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kapman-24.01.85.tar.xz">kapman-24.01.85</a></td>
   <td align="right">2141kB</td>
   <td><tt>de93c40fa3b9d1cca962f0d7986c8d35d1cd7e615c613c090ab93e0dfc791a45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kapptemplate-24.01.85.tar.xz">kapptemplate-24.01.85</a></td>
   <td align="right">331kB</td>
   <td><tt>5cb704acf184b66762b286507748df1564525da967be00fbf77ac0c976ee20fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kasts-24.01.85.tar.xz">kasts-24.01.85</a></td>
   <td align="right">568kB</td>
   <td><tt>4df01f86675a102902a8f287a666caaee7443fc382ebfe4d1e390c8499f7c170</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kate-24.01.85.tar.xz">kate-24.01.85</a></td>
   <td align="right">8092kB</td>
   <td><tt>738c6dee23b084c0d7c91a7e4a40b908d094c92ded5baebc1282dbdcc9c0216d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/katomic-24.01.85.tar.xz">katomic-24.01.85</a></td>
   <td align="right">1419kB</td>
   <td><tt>08c07ee048b5c014a1f38857dd278806eee9a0a6a9b9856b2f9640d58476cc89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kbackup-24.01.85.tar.xz">kbackup-24.01.85</a></td>
   <td align="right">399kB</td>
   <td><tt>9236970b2a8c9de0bf38bd40bbf8c35d31e6800f8f1f2ab51bbd04b057c732bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kblackbox-24.01.85.tar.xz">kblackbox-24.01.85</a></td>
   <td align="right">542kB</td>
   <td><tt>1df3fa46c7333973865987af35336a7187dbbe1a4066cbae83eecfa377cc407c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kblocks-24.01.85.tar.xz">kblocks-24.01.85</a></td>
   <td align="right">2059kB</td>
   <td><tt>f7d3c5d7db26541d41105aa954d5ac350356de950c44ce33fbaf4c2d20addee9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kbounce-24.01.85.tar.xz">kbounce-24.01.85</a></td>
   <td align="right">3464kB</td>
   <td><tt>633f2f224fd13288402da5d36e701a7e206bb2a1c63e20c2e2a85640a66f575b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kbreakout-24.01.85.tar.xz">kbreakout-24.01.85</a></td>
   <td align="right">2500kB</td>
   <td><tt>d02c5571ad84866ac7772a829c1cdcf55835de22f420820d0f8a5dabd166264a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kbruch-24.01.85.tar.xz">kbruch-24.01.85</a></td>
   <td align="right">5529kB</td>
   <td><tt>ebd8f2b1fcba9efb8e7f6021acfb2384f24b55cf245c975f85866bff250ee91c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kcachegrind-24.01.85.tar.xz">kcachegrind-24.01.85</a></td>
   <td align="right">914kB</td>
   <td><tt>1dfee84775fdbf2a890d4f121ffabfc0ea87f26815b8677f65b9fa48a98d3aaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kcalc-24.01.85.tar.xz">kcalc-24.01.85</a></td>
   <td align="right">433kB</td>
   <td><tt>e63a28e79c5aaad2348f9dac3d19d98c2ea5087dc6f90885256da1eb09311159</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kcalutils-24.01.85.tar.xz">kcalutils-24.01.85</a></td>
   <td align="right">346kB</td>
   <td><tt>dedb3b1a79550ed35fe3c9d772d3a8f221af193d5065230a6dd1ff840e50fe5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kcharselect-24.01.85.tar.xz">kcharselect-24.01.85</a></td>
   <td align="right">376kB</td>
   <td><tt>64b68fee991f8b9b9edc18768d6a1e02ac01eb52ea2b8ec3bf20362d7bd00998</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kclock-24.01.85.tar.xz">kclock-24.01.85</a></td>
   <td align="right">630kB</td>
   <td><tt>d28ef390381c468c0f96063f8793fcd58504e6e1da2727ce3a25c03fc72a9159</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kcolorchooser-24.01.85.tar.xz">kcolorchooser-24.01.85</a></td>
   <td align="right">33kB</td>
   <td><tt>63abc8e01ea8f1f399b163276946adbdbaab335f1b5f8156d13ebbcb3eae833f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kcron-24.01.85.tar.xz">kcron-24.01.85</a></td>
   <td align="right">920kB</td>
   <td><tt>4d8df4b8bbb3df40b2ffdc7653a3a06df627637eeca89839b024a66c0c12b93f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kdebugsettings-24.01.85.tar.xz">kdebugsettings-24.01.85</a></td>
   <td align="right">106kB</td>
   <td><tt>4d50c6913c81a710de69bd37e50d49e8a292a50c8348eb871caeb64db39c66ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kdeconnect-kde-24.01.85.tar.xz">kdeconnect-kde-24.01.85</a></td>
   <td align="right">656kB</td>
   <td><tt>c2a19cc36e6fdab7caf8697c997ef35e93853123faabfa58b034f2fe28f5bac1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kde-dev-scripts-24.01.85.tar.xz">kde-dev-scripts-24.01.85</a></td>
   <td align="right">363kB</td>
   <td><tt>b6422d15c47dd32c2e6ab02191ada5a3fdf8e3f02878f2303d38c95e7a1c4200</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kde-dev-utils-24.01.85.tar.xz">kde-dev-utils-24.01.85</a></td>
   <td align="right">72kB</td>
   <td><tt>15d6c98b20060a16be5507d11790861c75f887ad99c8b8674ef90d3fef43607a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kdeedu-data-24.01.85.tar.xz">kdeedu-data-24.01.85</a></td>
   <td align="right">330kB</td>
   <td><tt>368ee390f9f3f4c691fbe5a0cd151dacd11c4b28e55b628b8b058fc9f1a9ca3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kdegraphics-mobipocket-24.01.85.tar.xz">kdegraphics-mobipocket-24.01.85</a></td>
   <td align="right">12kB</td>
   <td><tt>a0e1db6c7cacf622a44cef99bee6a2b19954a9f5a0aa0557d0bb2cb04413a89d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kdegraphics-thumbnailers-24.01.85.tar.xz">kdegraphics-thumbnailers-24.01.85</a></td>
   <td align="right">48kB</td>
   <td><tt>0be572bd69489668f07851b5e61ef3d211350ef7b6764861e7ce4e26cf1ba372</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kde-inotify-survey-24.01.85.tar.xz">kde-inotify-survey-24.01.85</a></td>
   <td align="right">224kB</td>
   <td><tt>3438b5964cde382760a56eaf61b6c79c6c4c3d32145349315dd8b91c904c6386</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kdenetwork-filesharing-24.01.85.tar.xz">kdenetwork-filesharing-24.01.85</a></td>
   <td align="right">475kB</td>
   <td><tt>bd83fe8df1b1052121faa6ceb4d1f1aca1a05b41d91d5831c3cb700037fd36e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kdenlive-24.01.85.tar.xz">kdenlive-24.01.85</a></td>
   <td align="right">12496kB</td>
   <td><tt>bf64f840f115a806ee118211715cabb7d6fe23398bca02e5ec61f1f7446070c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kdepim-addons-24.01.85.tar.xz">kdepim-addons-24.01.85</a></td>
   <td align="right">2578kB</td>
   <td><tt>f00bb13ef67b11540534e0c45f2f3bcc95f7a55de3c4993b49d7b5595c7e56bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kdepim-runtime-24.01.85.tar.xz">kdepim-runtime-24.01.85</a></td>
   <td align="right">1633kB</td>
   <td><tt>b6360aa6116bca4d6c4f685a9509bdb09ad1892b15972d8300feb19d4053aed3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kdesdk-kio-24.01.85.tar.xz">kdesdk-kio-24.01.85</a></td>
   <td align="right">39kB</td>
   <td><tt>23711a635ef3c79e11b1d47ed17b692c8c7481a8286d65e12cf8c20f90eeb846</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kdesdk-thumbnailers-24.01.85.tar.xz">kdesdk-thumbnailers-24.01.85</a></td>
   <td align="right">26kB</td>
   <td><tt>1bae736ea9c0f70ae8164b9c9ebd86a09cd658af977c303021156df798b396d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kdevelop-24.01.85.tar.xz">kdevelop-24.01.85</a></td>
   <td align="right">8544kB</td>
   <td><tt>68de3047f491049937c6eb31fc3eff7f9adbe63fb24eae8dcc2cbd59e6f42485</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kdev-php-24.01.85.tar.xz">kdev-php-24.01.85</a></td>
   <td align="right">1064kB</td>
   <td><tt>d5ee850c6adbfc0783655d1eb9840e9b67a81800a300e01ef5992437162d6dd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kdev-python-24.01.85.tar.xz">kdev-python-24.01.85</a></td>
   <td align="right">1072kB</td>
   <td><tt>ad4490d3aa1ce22395ba909c4e9c6acd9caed024a7b4a25be2d2343bb2975ee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kdf-24.01.85.tar.xz">kdf-24.01.85</a></td>
   <td align="right">482kB</td>
   <td><tt>3fe0033072608cf1944bfda410c6505d72795f68c2400e2d24369eb3ccde83df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kdialog-24.01.85.tar.xz">kdialog-24.01.85</a></td>
   <td align="right">141kB</td>
   <td><tt>3734b72953ed1ec95eebad88988cd8d3190c3bf05b0fb4cb70bfa3945d096491</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kdiamond-24.01.85.tar.xz">kdiamond-24.01.85</a></td>
   <td align="right">4558kB</td>
   <td><tt>715a1b35334b781e3dcad89ae33cc6dd6cfbf3b77fb9b89bfc7118b3c76e624a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/keditbookmarks-24.01.85.tar.xz">keditbookmarks-24.01.85</a></td>
   <td align="right">238kB</td>
   <td><tt>c9daa8ec64e9f96ac2bfa655fe98d9f76fdc169a5dc5ab18e745c3e2fe43f0a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/keysmith-24.01.85.tar.xz">keysmith-24.01.85</a></td>
   <td align="right">165kB</td>
   <td><tt>b0d153a58829f2e5ba77c35effb4ff11c985fd9806180073e7bcae0459496318</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kfind-24.01.85.tar.xz">kfind-24.01.85</a></td>
   <td align="right">315kB</td>
   <td><tt>e6f12b7663dc2052a6c774c9b44c86aadb787e584df69f52d56ba70c4972bf18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kfourinline-24.01.85.tar.xz">kfourinline-24.01.85</a></td>
   <td align="right">722kB</td>
   <td><tt>5b94b591559150344c70ae7194b6bbd8922afe905d1637f0a0b2616dac863769</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kgeography-24.01.85.tar.xz">kgeography-24.01.85</a></td>
   <td align="right">12316kB</td>
   <td><tt>a7c98f58784a9f61935697b80441bc3da5f01ba59091262426bbfbbb613fb861</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kget-24.01.85.tar.xz">kget-24.01.85</a></td>
   <td align="right">5434kB</td>
   <td><tt>944a7c805692c490eb19559f89f7dbb1c24072636f777036c9cad31c4c88bf53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kgoldrunner-24.01.85.tar.xz">kgoldrunner-24.01.85</a></td>
   <td align="right">4262kB</td>
   <td><tt>56fe0f02054c67275c9162cb89a6780be207079d50ccbb45e99aff601f8d3200</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kgpg-24.01.85.tar.xz">kgpg-24.01.85</a></td>
   <td align="right">2981kB</td>
   <td><tt>37d252b06fa230ac14f8cfad101a39f24d61b06fc898de91ee3bdff88422828f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/khangman-24.01.85.tar.xz">khangman-24.01.85</a></td>
   <td align="right">7194kB</td>
   <td><tt>4773ef0692529ea9e1faf1d748f28eb673852dffc08ffc6ac2dd3ad8a972b8ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/khealthcertificate-24.01.85.tar.xz">khealthcertificate-24.01.85</a></td>
   <td align="right">502kB</td>
   <td><tt>de0bb6f33aa751c06af746c940fa7358164546057376a35dc8bdeb3c0eab0553</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/khelpcenter-24.01.85.tar.xz">khelpcenter-24.01.85</a></td>
   <td align="right">4282kB</td>
   <td><tt>4dd1e92041f64bfe1a411e9d45d06b1d54f2fa45f32d068611c4e8453dfb46c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kidentitymanagement-24.01.85.tar.xz">kidentitymanagement-24.01.85</a></td>
   <td align="right">176kB</td>
   <td><tt>28648edac291c0b50675adac711d75b3d800bf85f681d2318c9627c01e1a79df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kig-24.01.85.tar.xz">kig-24.01.85</a></td>
   <td align="right">3220kB</td>
   <td><tt>fdc1891424c9b2de9e315fc9bcb4cf7abae56114c2715af090a9fedf1a65319b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kigo-24.01.85.tar.xz">kigo-24.01.85</a></td>
   <td align="right">5036kB</td>
   <td><tt>7c913d97d25522f7a482e3bb684911e77c91bcdf539998d9df68a57403e5aaac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/killbots-24.01.85.tar.xz">killbots-24.01.85</a></td>
   <td align="right">1134kB</td>
   <td><tt>3381face9c2350f9534ffe26fd7d4674290c2fc24e1350ccbe2ba665613457e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kimagemapeditor-24.01.85.tar.xz">kimagemapeditor-24.01.85</a></td>
   <td align="right">1080kB</td>
   <td><tt>dd32b825ec18db330c880ca4cfc2239466522a6091f6b187ea13bfea6ced7c3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kimap-24.01.85.tar.xz">kimap-24.01.85</a></td>
   <td align="right">127kB</td>
   <td><tt>641ec055a8217525529501e8d1d896505dd52dfad2c7878787a9fca030f4047e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kio-admin-24.01.85.tar.xz">kio-admin-24.01.85</a></td>
   <td align="right">34kB</td>
   <td><tt>e971f2be0ada0e6895efb3a963be69e4410e13c376900acb04528639efd42193</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kio-extras-24.01.85.tar.xz">kio-extras-24.01.85</a></td>
   <td align="right">3468kB</td>
   <td><tt>201db858e7efee876abef5fd6ab51156f35de6d506fc632ee7546fea9dc10da3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kio-extras-kf5-24.01.85.tar.xz">kio-extras-kf5-24.01.85</a></td>
   <td align="right">1432kB</td>
   <td><tt>db2e63a01bf2c08a097f6ad56d0dbf0e497f32d1ecff3f561c0f6626b4629efe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kio-gdrive-24.01.85.tar.xz">kio-gdrive-24.01.85</a></td>
   <td align="right">78kB</td>
   <td><tt>473bffa2213dc48da09ac10de1f5ceefdb61cc0460d8acf539d6d10c9527f818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kio-zeroconf-24.01.85.tar.xz">kio-zeroconf-24.01.85</a></td>
   <td align="right">43kB</td>
   <td><tt>76fc95226fef8b4bf268378eadfc66f21bf84184f270421847ac96a41b6351ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kipi-plugins-24.01.85.tar.xz">kipi-plugins-24.01.85</a></td>
   <td align="right">1533kB</td>
   <td><tt>c48a358e87b98dd5fe42343b6b82845a3a8e98f2b70cb91660f2356b74a6c373</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kirigami-gallery-24.01.85.tar.xz">kirigami-gallery-24.01.85</a></td>
   <td align="right">344kB</td>
   <td><tt>a1163da7993e88cabe7f64ab212367f38742a047f55f0c66760e4458d84b6b88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kiriki-24.01.85.tar.xz">kiriki-24.01.85</a></td>
   <td align="right">361kB</td>
   <td><tt>525a110bdce22f592f695247b1d60457dd190e8d89801a810142c1a0db98839e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kiten-24.01.85.tar.xz">kiten-24.01.85</a></td>
   <td align="right">11067kB</td>
   <td><tt>32cebfa4d2af54f65aedb0ba310a06812f8401634bf806a5ac1bd20496d3bdf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kitinerary-24.01.85.tar.xz">kitinerary-24.01.85</a></td>
   <td align="right">1905kB</td>
   <td><tt>59aca46cff8b259429d8d746d3aff3b416f246e87de22ee005f25c05732a4a66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kjournald-24.01.85.tar.xz">kjournald-24.01.85</a></td>
   <td align="right">504kB</td>
   <td><tt>ca87f3b5c75c15f9ded09e08fc98bf0af6c34a9f2d4aa91a4cf077c7ba332e1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kjumpingcube-24.01.85.tar.xz">kjumpingcube-24.01.85</a></td>
   <td align="right">329kB</td>
   <td><tt>ab93591f8d79a8f082e1f8e7f855cc6c96825c72a08e409ee593ca1ef95b746b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kldap-24.01.85.tar.xz">kldap-24.01.85</a></td>
   <td align="right">178kB</td>
   <td><tt>25c2e3892c0cc8afcf697d8048656e967e899423835572bdcbae8a4d28a609fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kleopatra-24.01.85.tar.xz">kleopatra-24.01.85</a></td>
   <td align="right">2707kB</td>
   <td><tt>6b452b91906d942b28b780dec9a80567ae6bafa420ad6774d5b64083d9b7a347</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/klettres-24.01.85.tar.xz">klettres-24.01.85</a></td>
   <td align="right">46720kB</td>
   <td><tt>f3b9d97804f10a22c16a9f7fe5fd6abf07974dc6de68048bc9a59d1d67035826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/klickety-24.01.85.tar.xz">klickety-24.01.85</a></td>
   <td align="right">1466kB</td>
   <td><tt>8657bc41a4feed49be650e8e4c260f5d3bfd047e84221799981a1a8703c90eb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/klines-24.01.85.tar.xz">klines-24.01.85</a></td>
   <td align="right">1698kB</td>
   <td><tt>70d134388f66ecee8442130c7cf671d4e2885c2d22a1223cb0d060934bdba07f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kmag-24.01.85.tar.xz">kmag-24.01.85</a></td>
   <td align="right">709kB</td>
   <td><tt>2a5cbab6f7995eda2957d0655086348e7525bcadc6b85b67c611d4a3caa2360c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kmahjongg-24.01.85.tar.xz">kmahjongg-24.01.85</a></td>
   <td align="right">4004kB</td>
   <td><tt>a6762ef37aa3ce129682881fc0efa0ff08096a12d2c620c648efc077e049bb49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kmail-24.01.85.tar.xz">kmail-24.01.85</a></td>
   <td align="right">7512kB</td>
   <td><tt>693f833851578774cf5ddbc60360db351a05127a3fdc589eb785ac81e804e20d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kmail-account-wizard-24.01.85.tar.xz">kmail-account-wizard-24.01.85</a></td>
   <td align="right">170kB</td>
   <td><tt>f65d3e67a4a320835bb73d0da1a1304fb52fe06ee3a6a5655448b7e5598c6247</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kmailtransport-24.01.85.tar.xz">kmailtransport-24.01.85</a></td>
   <td align="right">168kB</td>
   <td><tt>1690358292e5dfa062d36089437faaeb738ec03496cdc57e601239d8373e9cbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kmbox-24.01.85.tar.xz">kmbox-24.01.85</a></td>
   <td align="right">28kB</td>
   <td><tt>c15b1827a1c8651a1167dbe7185225358d286d2b342d5a771c94580a7651dc98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kmime-24.01.85.tar.xz">kmime-24.01.85</a></td>
   <td align="right">157kB</td>
   <td><tt>d0b3caf0155cfa706d3510c314236a1d7a50ca287e669b9058e868705058bd7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kmines-24.01.85.tar.xz">kmines-24.01.85</a></td>
   <td align="right">1061kB</td>
   <td><tt>3925d5ffba29b13be6b625d8eb4f6e56e58a0343c5c24d680dce616d51a6f487</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kmix-24.01.85.tar.xz">kmix-24.01.85</a></td>
   <td align="right">1181kB</td>
   <td><tt>b9d240c2bc916be45391c2b354704b89162b192490f88ef334f0658d309b7cdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kmousetool-24.01.85.tar.xz">kmousetool-24.01.85</a></td>
   <td align="right">126kB</td>
   <td><tt>105a87c914c03e8c3168978a9b4ac086cda702136d3be722821b1584e34c568a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kmouth-24.01.85.tar.xz">kmouth-24.01.85</a></td>
   <td align="right">2041kB</td>
   <td><tt>b141ed82fefb9906b1c51462fbc9f8a8d0e43781e2985d174aea741f0b4feb72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kmplot-24.01.85.tar.xz">kmplot-24.01.85</a></td>
   <td align="right">3027kB</td>
   <td><tt>12e5b77cd8872b38f5d69b94a7d580298bbb2bddd6aae14b850225305af153ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/knavalbattle-24.01.85.tar.xz">knavalbattle-24.01.85</a></td>
   <td align="right">1367kB</td>
   <td><tt>b7d4085ce2485dd3b607ba56a5152db613c304ca58e80f070bd41d56ffa1cffe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/knetwalk-24.01.85.tar.xz">knetwalk-24.01.85</a></td>
   <td align="right">1036kB</td>
   <td><tt>f6c157d9a2e4d5a585c5e1741d91a95621138fbe5bccbcf1806a75b27269979c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/knights-24.01.85.tar.xz">knights-24.01.85</a></td>
   <td align="right">2436kB</td>
   <td><tt>b8c0243699ca90a26fcbbf0f74043580be856f7d3fb0d7664e7a027f633ca4bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/knotes-24.01.85.tar.xz">knotes-24.01.85</a></td>
   <td align="right">369kB</td>
   <td><tt>5d184f728b88f8354deeba77524a12c9aa50ce535a2fed3bb53bfda2a62f7de8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/koko-24.01.85.tar.xz">koko-24.01.85</a></td>
   <td align="right">8325kB</td>
   <td><tt>e1426f7c04a8db5b14945de0b17c2cd4124382a093a47e49d075a3b6e8942d10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kolf-24.01.85.tar.xz">kolf-24.01.85</a></td>
   <td align="right">1046kB</td>
   <td><tt>9dab11866b0e93ec9bf2cae44bdf5ecc653f3d8bdb571d9046d44da3c9e24c97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kollision-24.01.85.tar.xz">kollision-24.01.85</a></td>
   <td align="right">300kB</td>
   <td><tt>30502ea5399fdcf53367acaaf01e58df7bd4c903a873b15645793ca4ff0d06e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kolourpaint-24.01.85.tar.xz">kolourpaint-24.01.85</a></td>
   <td align="right">5659kB</td>
   <td><tt>10631f71a5e1e2bf4a1a053515bfd209111f77e10b275ca2e2eb2b2a21ecb431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kompare-24.01.85.tar.xz">kompare-24.01.85</a></td>
   <td align="right">960kB</td>
   <td><tt>d2bc2b375dbce4787d66eb19c90b9f30e730630e3a9a4c5d08d11515a2f4caea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kongress-24.01.85.tar.xz">kongress-24.01.85</a></td>
   <td align="right">576kB</td>
   <td><tt>9ec9e21f171f478b17783febc73e375ab5d95d3eea601683fa5060ba3d12166d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/konqueror-24.01.85.tar.xz">konqueror-24.01.85</a></td>
   <td align="right">9890kB</td>
   <td><tt>c954eb7733b6d381b9b8b6a252e017b39d03dff44b64d55c3bb63d79a0c6885f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/konquest-24.01.85.tar.xz">konquest-24.01.85</a></td>
   <td align="right">855kB</td>
   <td><tt>1868de6e8d1ef546671dae990214176f19f4c1c71c6151712d5264b63d2cd0a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/konsole-24.01.85.tar.xz">konsole-24.01.85</a></td>
   <td align="right">1704kB</td>
   <td><tt>691e96f07c3654cd8ff08276c2d01a24c4ad2d96c3265d4d6da2de9b05bf5d14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kontact-24.01.85.tar.xz">kontact-24.01.85</a></td>
   <td align="right">838kB</td>
   <td><tt>40342038f4c1eea45ad7883590694db64cc2f84e541dbbd6f832efebbf54641e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kontactinterface-24.01.85.tar.xz">kontactinterface-24.01.85</a></td>
   <td align="right">39kB</td>
   <td><tt>13b0fb197f2694a0a225862ae322eeecb7a8b6aee7ca602ab98d7fb297bb3a86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kontrast-24.01.85.tar.xz">kontrast-24.01.85</a></td>
   <td align="right">206kB</td>
   <td><tt>00f2af29f3e5dfb72cc7e90f88aa5c4ca2a754ee9fb7562df7766e49f531be7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/konversation-24.01.85.tar.xz">konversation-24.01.85</a></td>
   <td align="right">4306kB</td>
   <td><tt>56965066942995254c63874927893433bff941ee9d4765c75ad9214098ee1ec1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kopeninghours-24.01.85.tar.xz">kopeninghours-24.01.85</a></td>
   <td align="right">70kB</td>
   <td><tt>1118bf6301f9d5a8777801e241b1a4dc953ea322e3e429b8259ff1c5920eddf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/korganizer-24.01.85.tar.xz">korganizer-24.01.85</a></td>
   <td align="right">2511kB</td>
   <td><tt>deab647163bfca4fa7358059a8184f329eda4937fc24e8b0f1299f6bba677316</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kosmindoormap-24.01.85.tar.xz">kosmindoormap-24.01.85</a></td>
   <td align="right">608kB</td>
   <td><tt>309b343126c4b0cb050408fed0d7d9696932b2044fc0b0b7d51d343d36a83f54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kpat-24.01.85.tar.xz">kpat-24.01.85</a></td>
   <td align="right">3625kB</td>
   <td><tt>fc80e52babc5f12bf15669d26cc7119d2ceb93d4de369c734901caff5635d773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kpimtextedit-24.01.85.tar.xz">kpimtextedit-24.01.85</a></td>
   <td align="right">163kB</td>
   <td><tt>caaca75cf705247c05829175dff1ed61d4c4dc7639520584a861d97e4b04c8b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kpkpass-24.01.85.tar.xz">kpkpass-24.01.85</a></td>
   <td align="right">28kB</td>
   <td><tt>443c0cdb7405d14962602aec919144032d1320ff3a023d2ee1c357390fb9f905</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kpmcore-24.01.85.tar.xz">kpmcore-24.01.85</a></td>
   <td align="right">614kB</td>
   <td><tt>a0557f227026ff75d1f7587a3c018bf1262b3fbf1423adfd9ad7af5f9977f4cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kpublictransport-24.01.85.tar.xz">kpublictransport-24.01.85</a></td>
   <td align="right">563kB</td>
   <td><tt>93104897d2e857dde1312c8f7c72cde00ee775a0e5edaa8a757c1ce9460853aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kqtquickcharts-24.01.85.tar.xz">kqtquickcharts-24.01.85</a></td>
   <td align="right">30kB</td>
   <td><tt>ded9a4eb5f79fe600625f9ab49323ba41786b8f6a77b74aa5c2b5258605f4b03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/krdc-24.01.85.tar.xz">krdc-24.01.85</a></td>
   <td align="right">1600kB</td>
   <td><tt>9af5114b28b89d54ce181c8bdb8044703252b935d7091497ecf97aa26c746452</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/krecorder-24.01.85.tar.xz">krecorder-24.01.85</a></td>
   <td align="right">157kB</td>
   <td><tt>79fe4986b414967416094791f2592fe7405af3b8afb63533532c25c0a9170731</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kreversi-24.01.85.tar.xz">kreversi-24.01.85</a></td>
   <td align="right">1054kB</td>
   <td><tt>4b3b7758308222cfa211f685e803167f4451af8568845f1aec0d93a1bd51f349</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/krfb-24.01.85.tar.xz">krfb-24.01.85</a></td>
   <td align="right">1290kB</td>
   <td><tt>ca5aadbb3409966b1e833ab33f087d600335eff46a6111a4494c54fe48003abf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kross-interpreters-24.01.85.tar.xz">kross-interpreters-24.01.85</a></td>
   <td align="right">148kB</td>
   <td><tt>a2cb58597d00c7cbbfae9af2cff18300512b39e5230e16ad2dc2c35af98c6e5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kruler-24.01.85.tar.xz">kruler-24.01.85</a></td>
   <td align="right">282kB</td>
   <td><tt>9a37c0fc0d0b27f34557d8640a5eeaf52d5127d0ae28b025ac17e3c20244367c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/ksanecore-24.01.85.tar.xz">ksanecore-24.01.85</a></td>
   <td align="right">50kB</td>
   <td><tt>ff6910c9a8fb669293c86832d697692b8cb584f13fddb07815cef2cbcd70207d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kshisen-24.01.85.tar.xz">kshisen-24.01.85</a></td>
   <td align="right">985kB</td>
   <td><tt>2cfda7fe50a3c817467fe598e8678692731d80998a086c10bd22b71ef013192a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/ksirk-24.01.85.tar.xz">ksirk-24.01.85</a></td>
   <td align="right">6908kB</td>
   <td><tt>55e135e1b7ca0ca0100e2313fdeca1cc0dd498b16f07fc1ebc797c762289b68d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/ksmtp-24.01.85.tar.xz">ksmtp-24.01.85</a></td>
   <td align="right">49kB</td>
   <td><tt>5f858a89cc911cef5f0191dcd3b3ada423f48ef49b7032e9325becdf77c34524</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/ksnakeduel-24.01.85.tar.xz">ksnakeduel-24.01.85</a></td>
   <td align="right">588kB</td>
   <td><tt>704b41a3769b3548f38f0bb45feac2bfa3ebc879eba47d7969bc5a19d034b0df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kspaceduel-24.01.85.tar.xz">kspaceduel-24.01.85</a></td>
   <td align="right">645kB</td>
   <td><tt>5a858805935e96c8201fefaaf436fa464e6adfe46dce7856532ed1764b128a4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/ksquares-24.01.85.tar.xz">ksquares-24.01.85</a></td>
   <td align="right">310kB</td>
   <td><tt>ab224a1ed75561fb4371c1309269e42f579db02a218e4aa3cf81761e6887791b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/ksudoku-24.01.85.tar.xz">ksudoku-24.01.85</a></td>
   <td align="right">1669kB</td>
   <td><tt>f3ad40a600e2e8622cda4395bc923af3153bac8053fc24bae66072d4af86c899</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/ksystemlog-24.01.85.tar.xz">ksystemlog-24.01.85</a></td>
   <td align="right">1966kB</td>
   <td><tt>23c70d6d983097bc5962f8f1695b56a8c400affa0232e7b45c23af7de8280326</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kteatime-24.01.85.tar.xz">kteatime-24.01.85</a></td>
   <td align="right">307kB</td>
   <td><tt>275cbe97431d537bfd8d150cc49939318462a023bb9d9f10cded8bb936f5d29c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/ktimer-24.01.85.tar.xz">ktimer-24.01.85</a></td>
   <td align="right">396kB</td>
   <td><tt>4a14ba9fe879ba2ec10535c3d502b5fdf588320116014bfdc40fa743bf3041ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/ktnef-24.01.85.tar.xz">ktnef-24.01.85</a></td>
   <td align="right">304kB</td>
   <td><tt>285f30550ce7e01b58ede1304956a55ad26585d2552f1e8274b3b84475f78abf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/ktorrent-24.01.85.tar.xz">ktorrent-24.01.85</a></td>
   <td align="right">2122kB</td>
   <td><tt>779499224df55b7a5c409ef7e4ad49f1cae91f36f079943b75997f80b7a12248</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/ktouch-24.01.85.tar.xz">ktouch-24.01.85</a></td>
   <td align="right">4923kB</td>
   <td><tt>3eafec67e0abd202322122f36f99c6532335a7d18e6e834edbd1dce0c1b92e0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/ktrip-24.01.85.tar.xz">ktrip-24.01.85</a></td>
   <td align="right">249kB</td>
   <td><tt>bae586cc9eacbedaa181c9297cf92f51c265af35715f9b8b6b56f98c4475b9a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/ktuberling-24.01.85.tar.xz">ktuberling-24.01.85</a></td>
   <td align="right">69897kB</td>
   <td><tt>c13ec12aa6fcb9c6f18fd9ad1f3dcda9ed1b6f8267110d562f1641d679a1f8a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kturtle-24.01.85.tar.xz">kturtle-24.01.85</a></td>
   <td align="right">2195kB</td>
   <td><tt>00d9bbee42d3a24cf48416d1e6daca5f09f07d4f38a1b04dd81395738e04e5c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kubrick-24.01.85.tar.xz">kubrick-24.01.85</a></td>
   <td align="right">345kB</td>
   <td><tt>b5a73f5dd4fdba4faa309102ec78189181a46d7becd965028349d9e18c84250a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kwalletmanager-24.01.85.tar.xz">kwalletmanager-24.01.85</a></td>
   <td align="right">835kB</td>
   <td><tt>bafc5ca3b3b6bed5f31edbf28be9ca078ac63692bf741fc04ac6033a6393c18b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kwave-24.01.85.tar.xz">kwave-24.01.85</a></td>
   <td align="right">6817kB</td>
   <td><tt>61e2e5da6a8db7337d7ee760dc9c7738b00a82eced38c6be2966de08437386ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kweather-24.01.85.tar.xz">kweather-24.01.85</a></td>
   <td align="right">925kB</td>
   <td><tt>deae738bd801a22283c78b40b2713e51b835675d6a616fc6e7a3c3dc25fabee5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/kwordquiz-24.01.85.tar.xz">kwordquiz-24.01.85</a></td>
   <td align="right">3977kB</td>
   <td><tt>bd52e63507aee42a38af8d26fe55c6151daebfb2eaf2bc10c962f75741574453</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/libgravatar-24.01.85.tar.xz">libgravatar-24.01.85</a></td>
   <td align="right">35kB</td>
   <td><tt>4b696957a2909887fcef58e150af83fcbc5bfc61cee85b02cdc89764e4155ef6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/libkcddb-24.01.85.tar.xz">libkcddb-24.01.85</a></td>
   <td align="right">441kB</td>
   <td><tt>4b510795a0e9c4fd27243436fd00c6edfe5c3336644940cd9d8e80620076a8d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/libkcompactdisc-24.01.85.tar.xz">libkcompactdisc-24.01.85</a></td>
   <td align="right">97kB</td>
   <td><tt>a70cae2a889a92bb1d28bab2303b0142f5addb761e9cb216c7f36c68740a2940</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/libkdcraw-24.01.85.tar.xz">libkdcraw-24.01.85</a></td>
   <td align="right">36kB</td>
   <td><tt>f2b77dbf3eb363653a16dc3646201b2fc300dd0af511a89000512dd3e8942248</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/libkdegames-24.01.85.tar.xz">libkdegames-24.01.85</a></td>
   <td align="right">5834kB</td>
   <td><tt>96af1ac83828fd75bb4799294ddb4ab19b2c933c69134652f1c6df3dfbad47af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/libkdepim-24.01.85.tar.xz">libkdepim-24.01.85</a></td>
   <td align="right">278kB</td>
   <td><tt>7a2121e0a0a72866cd53bfa8fcaeddedc045f87fd7fd8977dd53218c4577e7d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/libkeduvocdocument-24.01.85.tar.xz">libkeduvocdocument-24.01.85</a></td>
   <td align="right">224kB</td>
   <td><tt>276909c0484573ce718b5b2ba3a2d607f35e038aedbbf513d7637d8884b20e75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/libkexiv2-24.01.85.tar.xz">libkexiv2-24.01.85</a></td>
   <td align="right">59kB</td>
   <td><tt>e48db192d0f77a154e834d0f35d0b19f6767b974e34a2dd88bdd2542c3d08a04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/libkgapi-24.01.85.tar.xz">libkgapi-24.01.85</a></td>
   <td align="right">327kB</td>
   <td><tt>50c4a0b21b9f90ae7304781fea7a8b032da91e18a395d4db7b7f9c9c23072f04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/libkipi-24.01.85.tar.xz">libkipi-24.01.85</a></td>
   <td align="right">86kB</td>
   <td><tt>b4e1db5a56ca0608a645f8e5a667e51e9a56fbf0e417eed0dac40851705afa92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/libkleo-24.01.85.tar.xz">libkleo-24.01.85</a></td>
   <td align="right">556kB</td>
   <td><tt>87bcdbd2d9644808686fcca26b48590a7c8f35949dfc0d30de391f5b3f9369c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/libkmahjongg-24.01.85.tar.xz">libkmahjongg-24.01.85</a></td>
   <td align="right">1652kB</td>
   <td><tt>0302fdc19f15523a160fa500aeb31258a845d03317dbd11d44a29bc24b45d783</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/libkomparediff2-24.01.85.tar.xz">libkomparediff2-24.01.85</a></td>
   <td align="right">183kB</td>
   <td><tt>d350684e4f61c9e0e664857cfc549331fd10e9cca38aa0c72979b48a1e4f4c67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/libksane-24.01.85.tar.xz">libksane-24.01.85</a></td>
   <td align="right">149kB</td>
   <td><tt>4fbd47778d4f8e1001b84e43774b9d35dc0c858d3abb0ce207f6c18efedf6e41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/libksieve-24.01.85.tar.xz">libksieve-24.01.85</a></td>
   <td align="right">567kB</td>
   <td><tt>24410c9bf271049c399d54da399857fa7098013844249b7314766f1ca56274c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/libktorrent-24.01.85.tar.xz">libktorrent-24.01.85</a></td>
   <td align="right">588kB</td>
   <td><tt>e364d48d4a09ac451c01f02c26faf6bca5f25ece964abd6ba987eb1165b1643d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/lokalize-24.01.85.tar.xz">lokalize-24.01.85</a></td>
   <td align="right">2089kB</td>
   <td><tt>17a09d99962a6b0234d9caaef21614bb8009c206c77422b65012790513f92051</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/lskat-24.01.85.tar.xz">lskat-24.01.85</a></td>
   <td align="right">1220kB</td>
   <td><tt>0d3c13b679163071b0f52415618d9078a4c26c312130320f4f7faf1d9bf8c549</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/mailcommon-24.01.85.tar.xz">mailcommon-24.01.85</a></td>
   <td align="right">752kB</td>
   <td><tt>4fa7c56cee09783e9244400d1d766c27222d243dc8b8b61d11c69e00b88dc5db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/mailimporter-24.01.85.tar.xz">mailimporter-24.01.85</a></td>
   <td align="right">579kB</td>
   <td><tt>4e1b6d610a2bf354d74a18647bec8921a04f6bc6b162b350a4837e8a73fa9ab9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/marble-24.01.85.tar.xz">marble-24.01.85</a></td>
   <td align="right">52556kB</td>
   <td><tt>d534016f14d2408290ebf3c89bbbc911b310284df26c0a278560415589849343</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/markdownpart-24.01.85.tar.xz">markdownpart-24.01.85</a></td>
   <td align="right">31kB</td>
   <td><tt>e89f8e8523ed2f94ca1671b396e1a0e709316e97cfbb8314d4184d6e97b5aba9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/mbox-importer-24.01.85.tar.xz">mbox-importer-24.01.85</a></td>
   <td align="right">29kB</td>
   <td><tt>423cfbf8c10cb6e98b86a580cb929bda4b10cadec5877bce2a43cb22747cd86c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/merkuro-24.01.85.tar.xz">merkuro-24.01.85</a></td>
   <td align="right">702kB</td>
   <td><tt>df0c3d3ca374c01e08fa414909629bd52325008328fd505aa43ecb3b353684d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/messagelib-24.01.85.tar.xz">messagelib-24.01.85</a></td>
   <td align="right">11090kB</td>
   <td><tt>010d8bcb6d0d9d73e4b74dbc64ee5ed718fff34deebfe3a099e7e91974f18b08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/mimetreeparser-24.01.85.tar.xz">mimetreeparser-24.01.85</a></td>
   <td align="right">616kB</td>
   <td><tt>1acbc16a815cffcfc66ac5025a5d3a086ba4786e0357d30142273665cdac2bf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/minuet-24.01.85.tar.xz">minuet-24.01.85</a></td>
   <td align="right">27052kB</td>
   <td><tt>b6444738dc558e9b3c73294492da022df8e4c8b1c30c121ac91ee9a740bc0e8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/neochat-24.01.85.tar.xz">neochat-24.01.85</a></td>
   <td align="right">854kB</td>
   <td><tt>b9d2b8b5ee3c52d1e03941ee28aa549f590eddf39b9e1881d42873d81fec0c04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/okular-24.01.85.tar.xz">okular-24.01.85</a></td>
   <td align="right">8339kB</td>
   <td><tt>121d08375238e10e32ae0b14aefa29f1c7763d79e404574732f87e49ae06253a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/palapeli-24.01.85.tar.xz">palapeli-24.01.85</a></td>
   <td align="right">2070kB</td>
   <td><tt>46feeccbcabca1db7497325c677fec7556a57d62085b65b978209f55dd0c2fad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/parley-24.01.85.tar.xz">parley-24.01.85</a></td>
   <td align="right">8412kB</td>
   <td><tt>a2ac604b718e51eaff0e4905272d36547fef004ce9b0bdcd87a7136cf4f7b24e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/partitionmanager-24.01.85.tar.xz">partitionmanager-24.01.85</a></td>
   <td align="right">2096kB</td>
   <td><tt>793f1fd426098a9a5f5db5f4e53d2007daa6edb050d80e4018a726be2eef1944</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/picmi-24.01.85.tar.xz">picmi-24.01.85</a></td>
   <td align="right">1505kB</td>
   <td><tt>c76cdc5d8189e43353051ee3fb54c22c972b2f1ef9d95fe7cb3e89900ac35b65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/pimcommon-24.01.85.tar.xz">pimcommon-24.01.85</a></td>
   <td align="right">339kB</td>
   <td><tt>ced63c56981e30a7225720ad3611b25593d814306eb5ca51a4d7838e9d0dbc25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/pim-data-exporter-24.01.85.tar.xz">pim-data-exporter-24.01.85</a></td>
   <td align="right">417kB</td>
   <td><tt>f912d958be588faf041d68d20ecf1e7b43d387234e719f80bd2029cc4b98aca4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/pim-sieve-editor-24.01.85.tar.xz">pim-sieve-editor-24.01.85</a></td>
   <td align="right">455kB</td>
   <td><tt>eeb34317a1556012a278be4adbdf65c61f8d61e42789da0ef046d1075fe1a1b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/plasmatube-24.01.85.tar.xz">plasmatube-24.01.85</a></td>
   <td align="right">127kB</td>
   <td><tt>68367b4c5771cc43ade4e927ce164bf55f4d01d375897560aae1980705d20976</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/poxml-24.01.85.tar.xz">poxml-24.01.85</a></td>
   <td align="right">43kB</td>
   <td><tt>87f66f5615832d960ce990616410f1d7f6822fd26c20e6c633a2b261d767c87c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/qmlkonsole-24.01.85.tar.xz">qmlkonsole-24.01.85</a></td>
   <td align="right">60kB</td>
   <td><tt>ac0a15101a9bff1227dbf424fdcc40f1fdc87b67065acf45115bc7311379a6b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/rocs-24.01.85.tar.xz">rocs-24.01.85</a></td>
   <td align="right">1533kB</td>
   <td><tt>543845dbe1e70ada238840f2541e5ad34d2f634e3c4268e02b8d3e30ea6d0a0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/signon-kwallet-extension-24.01.85.tar.xz">signon-kwallet-extension-24.01.85</a></td>
   <td align="right">10kB</td>
   <td><tt>970604005458b529f3f9f0c1cf623891e52818d3ab2e38b0435979d6e98969ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/skanlite-24.01.85.tar.xz">skanlite-24.01.85</a></td>
   <td align="right">2393kB</td>
   <td><tt>b1fd9870db6d15ed1fb886b2881189aadde3b78f434a40f5607636905ef2604b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/skanpage-24.01.85.tar.xz">skanpage-24.01.85</a></td>
   <td align="right">1286kB</td>
   <td><tt>682f90767b91d8450f19a98bbc2790d1c93c7483ff01ad0fbf74e1e4a0ca39e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/spectacle-24.01.85.tar.xz">spectacle-24.01.85</a></td>
   <td align="right">1368kB</td>
   <td><tt>bc150108f192a92b1698ede213af9717f42ecbd05e437d44be3e34226c1fc78f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/step-24.01.85.tar.xz">step-24.01.85</a></td>
   <td align="right">971kB</td>
   <td><tt>9a5ce921593701b98db0a5ba97380a5dce1fd746522dbcab3b26b157b57e59b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/svgpart-24.01.85.tar.xz">svgpart-24.01.85</a></td>
   <td align="right">28kB</td>
   <td><tt>f1a098768a00bc140037a04fb9b2dafc7903171014b6fedf0f2400d17450b09c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/sweeper-24.01.85.tar.xz">sweeper-24.01.85</a></td>
   <td align="right">390kB</td>
   <td><tt>b22a8895bc9f7ac73243210928d5ed2834608ad243411331ae735a6c78878b59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/telly-skout-24.01.85.tar.xz">telly-skout-24.01.85</a></td>
   <td align="right">94kB</td>
   <td><tt>44b41178bcf566b5fd0e2a24821892959ea55b54fa07e39b4ad1cdbf9f82b5bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/tokodon-24.01.85.tar.xz">tokodon-24.01.85</a></td>
   <td align="right">479kB</td>
   <td><tt>202f80fc3029da619556855a845ca910e69754436ad79d9a5ba14b64a0e2b263</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/umbrello-24.01.85.tar.xz">umbrello-24.01.85</a></td>
   <td align="right">5641kB</td>
   <td><tt>80bbfacb6bba3eb8aaca787088a6382555c7267bbce69ea5de38116fbc8b4616</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/yakuake-24.01.85.tar.xz">yakuake-24.01.85</a></td>
   <td align="right">429kB</td>
   <td><tt>e5f54eb8cdb7b10dd6ca38cf2ef99922e7e2807085d42b899a45c0a85cf0f003</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.85/src/zanshin-24.01.85.tar.xz">zanshin-24.01.85</a></td>
   <td align="right">358kB</td>
   <td><tt>3f5097ccb37755b578a36f0753df0a6ea886b871fc166bde057ea4a032af4468</tt></td>
</tr>

</table>
