<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/attica-6.7.0.tar.xz">attica-6.7.0</a></td>
   <td align="right">66kB</td>
   <td><tt>daa5c07b474899e16b42710e03d0590936bce0f54800239d633d48caa3be0d7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/baloo-6.7.0.tar.xz">baloo-6.7.0</a></td>
   <td align="right">309kB</td>
   <td><tt>ce8c18a21ed7acd5912c7d273cac5f6cb1adb524a0415d56c6fdde2e967f67cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/bluez-qt-6.7.0.tar.xz">bluez-qt-6.7.0</a></td>
   <td align="right">113kB</td>
   <td><tt>b0640106986213e1b28f2cba13d9cc22ee3d259755f27521f2e861634338f93b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/breeze-icons-6.7.0.tar.xz">breeze-icons-6.7.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>39037e3fcbbb7a65011685c498cae31ff496a5f2493269c955bb29c94a688b74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/extra-cmake-modules-6.7.0.tar.xz">extra-cmake-modules-6.7.0</a></td>
   <td align="right">333kB</td>
   <td><tt>d81de82692d3d2bb77110332a65c8266252becc2c3f307ce814990ce5607b8dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/frameworkintegration-6.7.0.tar.xz">frameworkintegration-6.7.0</a></td>
   <td align="right">53kB</td>
   <td><tt>890101854bbbb3937d321f2ac35b2a0a8f3ce833422297ddda59bda8c8cac69d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kapidox-6.7.0.tar.xz">kapidox-6.7.0</a></td>
   <td align="right">193kB</td>
   <td><tt>7338f1e318eb2d24cb95b56d5306a61d0a192e90977bead60517741c8305e240</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/karchive-6.7.0.tar.xz">karchive-6.7.0</a></td>
   <td align="right">1009kB</td>
   <td><tt>eb4243e627f51f1224a99af5d0a6f8e309f9e5dbb7478f7a78e34e2b8541398a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kauth-6.7.0.tar.xz">kauth-6.7.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>173654eee2891acd41538d31ace8b9d7ae60863bc7faef1cacec7e21c7eb1223</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kbookmarks-6.7.0.tar.xz">kbookmarks-6.7.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>bd41a39df76515ee34e7df07b2600e1e5b67b1812cc959ec51585f2ebcc56573</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kcalendarcore-6.7.0.tar.xz">kcalendarcore-6.7.0</a></td>
   <td align="right">304kB</td>
   <td><tt>8e5282d8d7a0ce0a1a1bdb32133ba4102d06070105513e712dafe76e32647dfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kcmutils-6.7.0.tar.xz">kcmutils-6.7.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>4118388f8f62aa5f1139ed78823b58b009e9ebf7f3755e9a94ab5f9eba644cbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kcodecs-6.7.0.tar.xz">kcodecs-6.7.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>9ab494055e06bdce45568b7c47edb2aa9ecaa9dec0c0fb152367b4321921b9f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kcolorscheme-6.7.0.tar.xz">kcolorscheme-6.7.0</a></td>
   <td align="right">44kB</td>
   <td><tt>1b4c6e84f1dd96b2ee62be755f60da60d61ba80d6709eeb3186d8882e72e2130</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kcompletion-6.7.0.tar.xz">kcompletion-6.7.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>7ed5a96ab0d2ab17bb521ecaaf44d6ec6b7c9a3d6e09403360ba49b24d94560f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kconfig-6.7.0.tar.xz">kconfig-6.7.0</a></td>
   <td align="right">337kB</td>
   <td><tt>be2d5ddb63e56703bc097e5d9912b39abc513ac51654de2e0d83a1aed2c54b1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kconfigwidgets-6.7.0.tar.xz">kconfigwidgets-6.7.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>c079c67c578930baafae241bb4f252c63fdd125e44f1fb952e39bae3c9859cd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kcontacts-6.7.0.tar.xz">kcontacts-6.7.0</a></td>
   <td align="right">203kB</td>
   <td><tt>292f8104f9f31d62c59289a3a821766d1ec540f4fc513ffc3b6f7197602d42c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kcoreaddons-6.7.0.tar.xz">kcoreaddons-6.7.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>48511e9dab1f2e80b3c4822bb87c2e981186de3b8977d92082d34d003b1283c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kcrash-6.7.0.tar.xz">kcrash-6.7.0</a></td>
   <td align="right">27kB</td>
   <td><tt>1dc2c65d8ef62ef98457f8ab423b7686de3e713766c06e64d6322aa9db26eea4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kdav-6.7.0.tar.xz">kdav-6.7.0</a></td>
   <td align="right">66kB</td>
   <td><tt>6629f2af0042eb1e0dc0c08b5180ac7b48dae6b5999e1dd0b678aed8b874c1d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kdbusaddons-6.7.0.tar.xz">kdbusaddons-6.7.0</a></td>
   <td align="right">45kB</td>
   <td><tt>e87d08f6d0037d8fa33f1e7d16a4e3aa17d7d0b12c6aa96f76323f78344e151b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kdeclarative-6.7.0.tar.xz">kdeclarative-6.7.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>f1f804f6bac2b229503cfd165ebd8ae093533888ae15e0e61474c6e328d535b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kded-6.7.0.tar.xz">kded-6.7.0</a></td>
   <td align="right">34kB</td>
   <td><tt>22aa1b6543b40e094346138516131c0f7eb78a70e87296938457fd1386680a2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kdesu-6.7.0.tar.xz">kdesu-6.7.0</a></td>
   <td align="right">55kB</td>
   <td><tt>41091ea45c6e22e1411d89d1538b2c8bd98bdc1f38d59df3e9c423aac0224e28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kdnssd-6.7.0.tar.xz">kdnssd-6.7.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>e9140475fc6e4ee1e0fe39a21816a3c003fcb1092222079f422fd02ad2a902a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kdoctools-6.7.0.tar.xz">kdoctools-6.7.0</a></td>
   <td align="right">447kB</td>
   <td><tt>9fe539dffed01836940fa4f06f953ac4ed0cd4fb5f0232fe5b66c22364c1692f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kfilemetadata-6.7.0.tar.xz">kfilemetadata-6.7.0</a></td>
   <td align="right">580kB</td>
   <td><tt>a6242a79e672b523ebf1b2554ebf83aca7a9d5065929b6f152731e9851d008d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kglobalaccel-6.7.0.tar.xz">kglobalaccel-6.7.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>2a35b9e06c6601d602b3a45e278c49e11e4627939cfacffb1fdee0826a6f6e0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kguiaddons-6.7.0.tar.xz">kguiaddons-6.7.0</a></td>
   <td align="right">83kB</td>
   <td><tt>ac437ca6baf50b0178bc8bf0b4dd1e6e70e0e4ef1ac770259738a1c42d035bcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kholidays-6.7.0.tar.xz">kholidays-6.7.0</a></td>
   <td align="right">249kB</td>
   <td><tt>2b543dfdeb6a52f4101fdf9f14802dd759d0a9fff060ea371f1f3b900dd335ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/ki18n-6.7.0.tar.xz">ki18n-6.7.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>555b5bc19546c3a791c69724e238c5d1710a9575cf8740012f8fc546f354122b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kiconthemes-6.7.0.tar.xz">kiconthemes-6.7.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>be25bff1f5f65edd45b24ff9beda44b04c0e22d193e72458c96a5c591b70b968</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kidletime-6.7.0.tar.xz">kidletime-6.7.0</a></td>
   <td align="right">30kB</td>
   <td><tt>60a6c70387b63e61147029ce57f170237271411630a3372a0e8d7240b8006aaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kimageformats-6.7.0.tar.xz">kimageformats-6.7.0</a></td>
   <td align="right">17MB</td>
   <td><tt>722850648ac167e4c0ee631571fde49e9fd15d004a127dd804a14f9f579b731f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kio-6.7.0.tar.xz">kio-6.7.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>df235019a07acd579920f6c655050e02dacf847c706f4b8279e755be46f9d990</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kirigami-6.7.0.tar.xz">kirigami-6.7.0</a></td>
   <td align="right">540kB</td>
   <td><tt>4d645a0374d33b9465e79e3e17170882e2cbda1526f45bc5b6b176dadda77d76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kitemmodels-6.7.0.tar.xz">kitemmodels-6.7.0</a></td>
   <td align="right">387kB</td>
   <td><tt>0aa0205323baf2d519ebb8f96ce7ed5524a8164a7440d905f977418bfbe6d349</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kitemviews-6.7.0.tar.xz">kitemviews-6.7.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>5e635162993c9f1e15f3a1109ca3227d0d2ce57cf7070615651b65cf790db049</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kjobwidgets-6.7.0.tar.xz">kjobwidgets-6.7.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>16d7e7ab54235d6fa1eb213d3d637182e22fcbdbcb7b4b14032430a02a2f888a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/knewstuff-6.7.0.tar.xz">knewstuff-6.7.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>a4184622d430b64ec7cc4c77113df67c886f359cc89cc6313fbcc71764d23fa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/knotifications-6.7.0.tar.xz">knotifications-6.7.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>9e972f015d9b31b3283bf842a32d270096224d127c13a6e79450f4f0452de5e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/knotifyconfig-6.7.0.tar.xz">knotifyconfig-6.7.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>4227da7a18f9ba83b34bf54b6d3fc168dc0726bca149d2f89585bb54ab138295</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kpackage-6.7.0.tar.xz">kpackage-6.7.0</a></td>
   <td align="right">176kB</td>
   <td><tt>916c11f5972760d9a5039643fbc55cde9d11ec18f278d3d63793336ffa442865</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kparts-6.7.0.tar.xz">kparts-6.7.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>0b1b305050d61fcbefa7026b096dc6b47709d7435c69b18ab56a7e2ea57d759e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kpeople-6.7.0.tar.xz">kpeople-6.7.0</a></td>
   <td align="right">65kB</td>
   <td><tt>d36246bac50f5bf406f683fe61c92cb5e623a51de9ffed1104665e5f135ef888</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kplotting-6.7.0.tar.xz">kplotting-6.7.0</a></td>
   <td align="right">32kB</td>
   <td><tt>130eedc234f0fedaf2c415de895c979454f64c3b049043327d43cd509e2386b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kpty-6.7.0.tar.xz">kpty-6.7.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>42cc1b1f70ee0bdacd26812857d31047d218e1f585ac35fe9165908501a9946a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kquickcharts-6.7.0.tar.xz">kquickcharts-6.7.0</a></td>
   <td align="right">107kB</td>
   <td><tt>664047e7b622c0b865d7466817179455fb3851cbb15a8f2c38b8ab9cf85098a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/krunner-6.7.0.tar.xz">krunner-6.7.0</a></td>
   <td align="right">128kB</td>
   <td><tt>187ffe9180e98e83fbac5bd3644ec6671ba1e8066ca6013a98b4f1d7439cff3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kservice-6.7.0.tar.xz">kservice-6.7.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>39d2542e38fb3434c5405c92d5b45e0d5ba650d265309adf93c787a741d57fa1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kstatusnotifieritem-6.7.0.tar.xz">kstatusnotifieritem-6.7.0</a></td>
   <td align="right">47kB</td>
   <td><tt>80eae2693cdb5da669b4ed6a8228bddc39816aca0fde928f231e4894827d1de0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/ksvg-6.7.0.tar.xz">ksvg-6.7.0</a></td>
   <td align="right">81kB</td>
   <td><tt>bbdf7c786c959707cd9c67c04a67e51a15dbcdd6eff7ab52b03c09544e66f184</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/ktexteditor-6.7.0.tar.xz">ktexteditor-6.7.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>ed76f72324225a926e00c2c970d48d7f11a576e942e48d092e9837bda79d6991</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/ktexttemplate-6.7.0.tar.xz">ktexttemplate-6.7.0</a></td>
   <td align="right">826kB</td>
   <td><tt>d6b75f193f4d8d817cf374872a57427489c61736121c72a69c4dd7ee62e1e233</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/ktextwidgets-6.7.0.tar.xz">ktextwidgets-6.7.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>23bb71450e39f437c06bd9af48e7893253c31ad10649b0901d0a8ec1ee18ae01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kunitconversion-6.7.0.tar.xz">kunitconversion-6.7.0</a></td>
   <td align="right">889kB</td>
   <td><tt>b303601c623cd66edb66a66fd72e957415b8dd33e70305be8136fa6b43b1a40a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kuserfeedback-6.7.0.tar.xz">kuserfeedback-6.7.0</a></td>
   <td align="right">250kB</td>
   <td><tt>4def8d0d6ef227807b6066cb762cec352452a18e0e28b56aecce8ef3ceb52761</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kwallet-6.7.0.tar.xz">kwallet-6.7.0</a></td>
   <td align="right">345kB</td>
   <td><tt>ffb319ce0dfeea95389e1a2f4833d1099b894c81f1df7ab50dcfb796ea87ffa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kwidgetsaddons-6.7.0.tar.xz">kwidgetsaddons-6.7.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>bd36342893863e6110c5f1245f8ae0b3a338275f4eaf124b15585d2fe492329a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kwindowsystem-6.7.0.tar.xz">kwindowsystem-6.7.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>62c0f0b4a9507939d84aeeda55bbd4300b88c04e37953e5189b139003310a8f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/kxmlgui-6.7.0.tar.xz">kxmlgui-6.7.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>a451c16d70a591de13973079115f35905e3c42302f5c8c8ae3ec75d76a06fca1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/modemmanager-qt-6.7.0.tar.xz">modemmanager-qt-6.7.0</a></td>
   <td align="right">119kB</td>
   <td><tt>fc45dcd8ada243baf7900099062f312b677bf694f88f36746d534afe907bf8f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/networkmanager-qt-6.7.0.tar.xz">networkmanager-qt-6.7.0</a></td>
   <td align="right">193kB</td>
   <td><tt>563231644587918c950bcbe5fda0bf6a35e97a12f6b0e9bf9eaa4ce3141d3122</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/prison-6.7.0.tar.xz">prison-6.7.0</a></td>
   <td align="right">55kB</td>
   <td><tt>0a053a80beae232cef5da3f6525b14ee649b275cea64de0c0ffad41c3f2ec260</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/purpose-6.7.0.tar.xz">purpose-6.7.0</a></td>
   <td align="right">173kB</td>
   <td><tt>4f8bbf19022c70df1dc345a4abd81677a505a2e8fef643311287fe8e9212d56a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/qqc2-desktop-style-6.7.0.tar.xz">qqc2-desktop-style-6.7.0</a></td>
   <td align="right">85kB</td>
   <td><tt>b6602d21ba891a63461827aa4513946aef0d8e0141f4a831aafb2c4d2e3fb329</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/solid-6.7.0.tar.xz">solid-6.7.0</a></td>
   <td align="right">305kB</td>
   <td><tt>3673f17776c30d9523fe40b8f38e62be1037610050f782c136da1ac04b20e6e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/sonnet-6.7.0.tar.xz">sonnet-6.7.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>2f970d490effd668e64dd93ffef344a80db7e63130bb23df4fa0d6b14150e588</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/syndication-6.7.0.tar.xz">syndication-6.7.0</a></td>
   <td align="right">556kB</td>
   <td><tt>c2a485229d8a430858d7f473fe8b133737d93d33a776e46eedfa77bb9e30ba24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/syntax-highlighting-6.7.0.tar.xz">syntax-highlighting-6.7.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>6ef527a941740b9ddfe053eb08ead7e11c12a283aa88a5ddf1a18520cd9d2ca7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.7/threadweaver-6.7.0.tar.xz">threadweaver-6.7.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>1ac3fc8051f31ac4f76dfd5d157e5c375d183bc0762152a44e1831cf5816a956</tt></td>
</tr>

</table>
