<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/accessibility-inspector-24.05.0.tar.xz">accessibility-inspector-24.05.0</a></td>
   <td align="right">79kB</td>
   <td><tt>6c8830aaadc610dd1412a4fe428d444c4e5a3f9fe4e1cd037ed9334f0646ea98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/akonadi-24.05.0.tar.xz">akonadi-24.05.0</a></td>
   <td align="right">1662kB</td>
   <td><tt>e981836fb3ce57485ed3b5c4ed46131bc12c0d4cd7c378d8cb628f9c5f538d99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/akonadi-calendar-24.05.0.tar.xz">akonadi-calendar-24.05.0</a></td>
   <td align="right">498kB</td>
   <td><tt>2efd39284ea9dbe63ce9d4a96e62055250370cb0389319f587a9b0ecff48d2d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/akonadi-calendar-tools-24.05.0.tar.xz">akonadi-calendar-tools-24.05.0</a></td>
   <td align="right">258kB</td>
   <td><tt>aa3324a00be61b9a7a0021b3ce71a0cab30c9ade8fc8f89d2451e9f6faa3e542</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/akonadiconsole-24.05.0.tar.xz">akonadiconsole-24.05.0</a></td>
   <td align="right">290kB</td>
   <td><tt>f35ff6348debbd30271f41d73d3f03657a1956738ff2984173286b448194dd91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/akonadi-contacts-24.05.0.tar.xz">akonadi-contacts-24.05.0</a></td>
   <td align="right">416kB</td>
   <td><tt>f003217344952477b7dfdf57a0bda23ca173a52ecef748d31723c59309fed942</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/akonadi-import-wizard-24.05.0.tar.xz">akonadi-import-wizard-24.05.0</a></td>
   <td align="right">476kB</td>
   <td><tt>2f570795e1a457f751422ee43f5dad24479b09ae3699fa15af660fdbbd21658d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/akonadi-mime-24.05.0.tar.xz">akonadi-mime-24.05.0</a></td>
   <td align="right">168kB</td>
   <td><tt>a65820d7d275079b479cb20f0fc516f59f846c29b5dcd0a89d3350c6972800fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/akonadi-notes-24.05.0.tar.xz">akonadi-notes-24.05.0</a></td>
   <td align="right">27kB</td>
   <td><tt>9976f66e60c0bca25a7b33eec8711f43c14a97db1e659cdea914968ed2431990</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/akonadi-search-24.05.0.tar.xz">akonadi-search-24.05.0</a></td>
   <td align="right">110kB</td>
   <td><tt>d95b15190f8c3f6d320586362673cf239afd349c57c8e0292c982b734dc7e35d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/akregator-24.05.0.tar.xz">akregator-24.05.0</a></td>
   <td align="right">2061kB</td>
   <td><tt>a95fa7f5e1ead24e56c7b500c5fdfe3111995484c181deb813b3002212099bb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/alligator-24.05.0.tar.xz">alligator-24.05.0</a></td>
   <td align="right">189kB</td>
   <td><tt>47389194d41f195e1b23d8b0ab88315f3d2071e2352962659dd3326cf7f3c5e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/analitza-24.05.0.tar.xz">analitza-24.05.0</a></td>
   <td align="right">351kB</td>
   <td><tt>b49a814dc41d3ebeb27579aa936c0cb4db7c4976248657b92018f999616545ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/angelfish-24.05.0.tar.xz">angelfish-24.05.0</a></td>
   <td align="right">263kB</td>
   <td><tt>ca5b4315fb4f3f6562b045f2f31241ce8ff5c7bbe0cab80c534942dfcd380a7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/arianna-24.05.0.tar.xz">arianna-24.05.0</a></td>
   <td align="right">799kB</td>
   <td><tt>395f965f1788b42faf15c5dbd18c94ffe06bf9026022bba9087f98c69600b284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/ark-24.05.0.tar.xz">ark-24.05.0</a></td>
   <td align="right">2932kB</td>
   <td><tt>70b149f0226eb404c9d957971e86a94bc4c071c1aa1a4d233c491e5fdb63f9d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/artikulate-24.05.0.tar.xz">artikulate-24.05.0</a></td>
   <td align="right">1027kB</td>
   <td><tt>91406704a7315d7be59d84348b85be3006a0e2d6a0b5b6e655dcb4f6b42cf519</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/audex-24.05.0.tar.xz">audex-24.05.0</a></td>
   <td align="right">677kB</td>
   <td><tt>58108cc3f1a6e10c21bd15c443bff304b2d65240a25b98c54dc487b0d1187ce9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/audiocd-kio-24.05.0.tar.xz">audiocd-kio-24.05.0</a></td>
   <td align="right">557kB</td>
   <td><tt>574ee5d809f6de2e8bec5edc318ab30f901d0fb156600a5aa7d25daf0dbf3274</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/audiotube-24.05.0.tar.xz">audiotube-24.05.0</a></td>
   <td align="right">149kB</td>
   <td><tt>cf19461db226b6e6f6d29e4e4acc2023f6381982a3b73db8877d53c204e5a3b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/baloo-widgets-24.05.0.tar.xz">baloo-widgets-24.05.0</a></td>
   <td align="right">270kB</td>
   <td><tt>3d21efd641c2b7cdeecebc4a4b938cdd3b4f3c87cc260014e3da711d22a9f6b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/blinken-24.05.0.tar.xz">blinken-24.05.0</a></td>
   <td align="right">2532kB</td>
   <td><tt>58bd0dc72d20e70d2d2501518e6e10cc9ec3fa9c024aa6d09a7b28ca55842844</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/bomber-24.05.0.tar.xz">bomber-24.05.0</a></td>
   <td align="right">820kB</td>
   <td><tt>e3126695147bd61038fd2b911f7b04a0a643452dbd378df7dee006d308ed822d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/bovo-24.05.0.tar.xz">bovo-24.05.0</a></td>
   <td align="right">211kB</td>
   <td><tt>d3d11abc538da1cb5cdbca399ad0dfa064e395a3bc3ec2860c6bb6c7eb41d125</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/calendarsupport-24.05.0.tar.xz">calendarsupport-24.05.0</a></td>
   <td align="right">977kB</td>
   <td><tt>50c85b665ad9ef3b7a514216add5265fbf242362379267549a3ed723848cbcc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/calindori-24.05.0.tar.xz">calindori-24.05.0</a></td>
   <td align="right">380kB</td>
   <td><tt>1359cec9a78a2e52c930fdcf99f99237f5b9f51a5aa36f9ba08f05e29d06f636</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/cantor-24.05.0.tar.xz">cantor-24.05.0</a></td>
   <td align="right">8981kB</td>
   <td><tt>7511045dda1020e7779b6dcefbf94f6115aefe1f8dea22e2a58cd0ac0ae1e1a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/cervisia-24.05.0.tar.xz">cervisia-24.05.0</a></td>
   <td align="right">1767kB</td>
   <td><tt>fb9ba8f6bce9dce9949d487c67ba8371fa82ff0b9d4ca7a787414530aaf39992</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/colord-kde-24.05.0.tar.xz">colord-kde-24.05.0</a></td>
   <td align="right">114kB</td>
   <td><tt>9491924c8bcc089a64cdd4f684b6b7831ef05399795eb2b109420eb1ecd5dc75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/dolphin-24.05.0.tar.xz">dolphin-24.05.0</a></td>
   <td align="right">5436kB</td>
   <td><tt>e009ce734355481a08ffff13e6f6a7db8b6b74fa320030b35d9180a1d9ca0794</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/dolphin-plugins-24.05.0.tar.xz">dolphin-plugins-24.05.0</a></td>
   <td align="right">297kB</td>
   <td><tt>715329f75eb22d6f59baabc5defa1aa37c73ea16d62141c0eae695325c01ac2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/dragon-24.05.0.tar.xz">dragon-24.05.0</a></td>
   <td align="right">1785kB</td>
   <td><tt>b4e821104d3bb63bfbd44f6dd37141b423e64ce5db2d4e95915214860150df8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/elisa-24.05.0.tar.xz">elisa-24.05.0</a></td>
   <td align="right">2031kB</td>
   <td><tt>2d377125cb3432d7a220b0e907133348e67d251c8cda60c25e04bba0d24e8df7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/eventviews-24.05.0.tar.xz">eventviews-24.05.0</a></td>
   <td align="right">462kB</td>
   <td><tt>803351e7b855fa1790ebfc1e98eab345fb6b70558d4af97b37aa34404025791f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/falkon-24.05.0.tar.xz">falkon-24.05.0</a></td>
   <td align="right">2523kB</td>
   <td><tt>9208313d88b0f5fba84e77e99f428d82bde3d38039b8f12620032c75e644919d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/ffmpegthumbs-24.05.0.tar.xz">ffmpegthumbs-24.05.0</a></td>
   <td align="right">32kB</td>
   <td><tt>a337c4f19c133ef472b7c364d4812d979c078b559a51b9c7d6df1aa1eca70467</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/filelight-24.05.0.tar.xz">filelight-24.05.0</a></td>
   <td align="right">664kB</td>
   <td><tt>0c776ff0db323d47dfb96772cef63b2311eceede940494943b0f3e8bf8a9ab8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/francis-24.05.0.tar.xz">francis-24.05.0</a></td>
   <td align="right">97kB</td>
   <td><tt>6647f55660b1d0c325c0d5aa3da516f00aced0f7b657a7d2bbfa6aa05d72dff3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/ghostwriter-24.05.0.tar.xz">ghostwriter-24.05.0</a></td>
   <td align="right">3545kB</td>
   <td><tt>ae1b826417dc50af1bdba8a03acb86ceaa630c4b3ed0bf6d3c8116d0d4f65c38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/granatier-24.05.0.tar.xz">granatier-24.05.0</a></td>
   <td align="right">1961kB</td>
   <td><tt>b1c6664f87d0a3c7676b63cac4772e1e5009bc756b8ab8e50330dd720971dd96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/grantlee-editor-24.05.0.tar.xz">grantlee-editor-24.05.0</a></td>
   <td align="right">119kB</td>
   <td><tt>66a9ece8075b8a2bf3cf3d08618d98223a954a1af7ca4556a60edf4ef089141f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/grantleetheme-24.05.0.tar.xz">grantleetheme-24.05.0</a></td>
   <td align="right">61kB</td>
   <td><tt>ba8e79b0fd460074dfb9f24cedfb606c3c8bde5901e28334967960776f292798</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/gwenview-24.05.0.tar.xz">gwenview-24.05.0</a></td>
   <td align="right">6360kB</td>
   <td><tt>b1ed8270ca4f7967c7636967a18a8b9bf1728970f6cf8a7e11b423d0bceae4b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/incidenceeditor-24.05.0.tar.xz">incidenceeditor-24.05.0</a></td>
   <td align="right">571kB</td>
   <td><tt>2ba85846031fa0e55c3bef5976cea44c4f6d5c5c8f99e7b2b1aa8ee021e1182a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/isoimagewriter-24.05.0.tar.xz">isoimagewriter-24.05.0</a></td>
   <td align="right">456kB</td>
   <td><tt>365f66a3ea8f2b1f6c8c09f87f2893ec6737af96e575013643558655ade501e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/itinerary-24.05.0.tar.xz">itinerary-24.05.0</a></td>
   <td align="right">696kB</td>
   <td><tt>b631c8179e3ea53f48d68a48583470a2f94a475d3c893725e8d241f7d76f971b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/juk-24.05.0.tar.xz">juk-24.05.0</a></td>
   <td align="right">1854kB</td>
   <td><tt>984c405bd5507176f2bc31324db9687b6ddee4ca52e9b37dbd27978f8cae5773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/k3b-24.05.0.tar.xz">k3b-24.05.0</a></td>
   <td align="right">10440kB</td>
   <td><tt>8e0c47f6f2c8d3c2e3895dc8e9b0205b1a8ce037293b20c47cd37d4246453ad0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kaccounts-integration-24.05.0.tar.xz">kaccounts-integration-24.05.0</a></td>
   <td align="right">90kB</td>
   <td><tt>8f2022c1e97d5a0d054aab73a738d56ad25800aff145cc837ff65ca95026c3e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kaccounts-providers-24.05.0.tar.xz">kaccounts-providers-24.05.0</a></td>
   <td align="right">67kB</td>
   <td><tt>32bb21d0dacb8db95fb2cd9651290f04e0d91acdadb46763eeca81b351b4584a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kaddressbook-24.05.0.tar.xz">kaddressbook-24.05.0</a></td>
   <td align="right">3327kB</td>
   <td><tt>b1d27df875f5ac17b996bdc668af340582dc235852b358a475f002f185241351</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kajongg-24.05.0.tar.xz">kajongg-24.05.0</a></td>
   <td align="right">4494kB</td>
   <td><tt>5f421eebccee8f76aeeb28c45ebea7d6567694c7a6f7faf23f36ce5f154ea172</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kalarm-24.05.0.tar.xz">kalarm-24.05.0</a></td>
   <td align="right">2525kB</td>
   <td><tt>b8b4acfd4511deb1d04bfcf3c17fc3995a4ad37348e3fae947e44999c4a10d66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kalgebra-24.05.0.tar.xz">kalgebra-24.05.0</a></td>
   <td align="right">921kB</td>
   <td><tt>bf8e9c862f4e283090f013299effbe59541e403f9c88be2bafef928224b48562</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kalk-24.05.0.tar.xz">kalk-24.05.0</a></td>
   <td align="right">74kB</td>
   <td><tt>119958b50d6e103b219c11381a9f666a4c7f509000c35ff33aa8aa5ac6430091</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kalm-24.05.0.tar.xz">kalm-24.05.0</a></td>
   <td align="right">71kB</td>
   <td><tt>55999d5872e7b4569f5c31b893f19f91a2fdf0d89a8ba4e672d9b69e45a1bab6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kalzium-24.05.0.tar.xz">kalzium-24.05.0</a></td>
   <td align="right">22133kB</td>
   <td><tt>b81dff6e3cee40bdb58c0a296bb0eb9f469b607316f88e60420dfb2a32b99f86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kamera-24.05.0.tar.xz">kamera-24.05.0</a></td>
   <td align="right">127kB</td>
   <td><tt>b71278ce0ab44212373a43d16553cfa99b407f71a6c69209c536f704a253906f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kamoso-24.05.0.tar.xz">kamoso-24.05.0</a></td>
   <td align="right">227kB</td>
   <td><tt>011243de1aefa203f78510d75eb5128c1bdee435d45117a642efe26f99a2090e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kanagram-24.05.0.tar.xz">kanagram-24.05.0</a></td>
   <td align="right">7597kB</td>
   <td><tt>c7edc682574f486c4aaddc0468336d838fdfbef33befd6a3afcd16d9ea651d9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kapman-24.05.0.tar.xz">kapman-24.05.0</a></td>
   <td align="right">2093kB</td>
   <td><tt>72783d05020e5874f395ea3fba375cd4b87ae1dfc70696ad92126dbf8d39d373</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kapptemplate-24.05.0.tar.xz">kapptemplate-24.05.0</a></td>
   <td align="right">334kB</td>
   <td><tt>8d0a09932437e677477d2a7dcea0b61d32c5befe6feaaeada883f1d66838560e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kasts-24.05.0.tar.xz">kasts-24.05.0</a></td>
   <td align="right">592kB</td>
   <td><tt>fa1ecf184c71acb88b1983d6b1c72d812e2cf3c937ccc79fc885de97cb8b6082</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kate-24.05.0.tar.xz">kate-24.05.0</a></td>
   <td align="right">7954kB</td>
   <td><tt>d2dc5fdf099068d315be9562d334c980c80ef6df7cd7400013abc38d4a4ed626</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/katomic-24.05.0.tar.xz">katomic-24.05.0</a></td>
   <td align="right">1408kB</td>
   <td><tt>d1e529afa3ab85bae47e48448e17b8fb0b9717f0d5f13597f140f4f268b7261c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kbackup-24.05.0.tar.xz">kbackup-24.05.0</a></td>
   <td align="right">365kB</td>
   <td><tt>9d5f30c11b0d8ee8cc1f0cb1ffe4b15abf47e4e230bcd2039b3ba5a71158be6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kblackbox-24.05.0.tar.xz">kblackbox-24.05.0</a></td>
   <td align="right">532kB</td>
   <td><tt>2d59819dbcd740aa50fe5ae178e1d99bb786383a7aba5799205c1b4760de6c80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kblocks-24.05.0.tar.xz">kblocks-24.05.0</a></td>
   <td align="right">2049kB</td>
   <td><tt>b7c6a1cef8f130b04363105371f773bd551c8afc0e68f8fdf49d82100f42b4e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kbounce-24.05.0.tar.xz">kbounce-24.05.0</a></td>
   <td align="right">3241kB</td>
   <td><tt>a4dad75a98b9313f20b118b8fba1608e5d891ca4ab64e543ba1c0e275ce0455d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kbreakout-24.05.0.tar.xz">kbreakout-24.05.0</a></td>
   <td align="right">2491kB</td>
   <td><tt>93bbcdd26e63991adeed4506e9d338a8d35d480c014c321898244a98a5dc614b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kbruch-24.05.0.tar.xz">kbruch-24.05.0</a></td>
   <td align="right">5027kB</td>
   <td><tt>65c03fa002e11b6292afd5ff01873b1c6fb56360c2ff5dbc2c5d280d9a2d0eb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kcachegrind-24.05.0.tar.xz">kcachegrind-24.05.0</a></td>
   <td align="right">913kB</td>
   <td><tt>22b1958cfc3ea635e08ac52247e35f7d20cfaea41c7ae8d65297f3e4f05a7cb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kcalc-24.05.0.tar.xz">kcalc-24.05.0</a></td>
   <td align="right">450kB</td>
   <td><tt>a0609181c5adcdd4ded36fcc6185e5099a97ab13846543f581c04e0c7baa8964</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kcalutils-24.05.0.tar.xz">kcalutils-24.05.0</a></td>
   <td align="right">346kB</td>
   <td><tt>8c6f992f76362d5409fd28a3e99d5c36da3320340d70e096c9c66e66bb90172d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kcharselect-24.05.0.tar.xz">kcharselect-24.05.0</a></td>
   <td align="right">463kB</td>
   <td><tt>ce91274b6622f8affb15a5c29d49f9e45875bfced0197e045b0d9b39fe2f6cd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kclock-24.05.0.tar.xz">kclock-24.05.0</a></td>
   <td align="right">639kB</td>
   <td><tt>96debe05eb4118ba4a8064e4357c75d54716ad0d7e4bb6b96b291beadc8eb9c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kcolorchooser-24.05.0.tar.xz">kcolorchooser-24.05.0</a></td>
   <td align="right">34kB</td>
   <td><tt>e46c0be9458c232a2105e9165d8dfc582499f7b072c1234ef65739657bba2ba5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kcron-24.05.0.tar.xz">kcron-24.05.0</a></td>
   <td align="right">855kB</td>
   <td><tt>26590d9fb7cff9228a2b14dcb824d7e22d86c0a42042d6c9924fdadbf0efb23e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kdebugsettings-24.05.0.tar.xz">kdebugsettings-24.05.0</a></td>
   <td align="right">109kB</td>
   <td><tt>d9c1f895173d11ad72665047813074781006bdac0868c9fa0f159b3d9ec3fa81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kdeconnect-kde-24.05.0.tar.xz">kdeconnect-kde-24.05.0</a></td>
   <td align="right">678kB</td>
   <td><tt>b05f5ee164160a7ffaa1269a27fd2a55006dd009f66c6bf10530bce2d9d980cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kde-dev-scripts-24.05.0.tar.xz">kde-dev-scripts-24.05.0</a></td>
   <td align="right">363kB</td>
   <td><tt>8573cfe76f0dc9c49cccd1a30c35d2a86485b99b30905dd953a8b788472c94df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kde-dev-utils-24.05.0.tar.xz">kde-dev-utils-24.05.0</a></td>
   <td align="right">73kB</td>
   <td><tt>49b0338217b58670e43d3dae5e130f2eb9f525d97fdc852d9dd04f9935041089</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kdeedu-data-24.05.0.tar.xz">kdeedu-data-24.05.0</a></td>
   <td align="right">330kB</td>
   <td><tt>6bde55cf75872b39f634e39ce4d2bf0f58682e7a0734c7ecb0e9c263687e96a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kdegraphics-mobipocket-24.05.0.tar.xz">kdegraphics-mobipocket-24.05.0</a></td>
   <td align="right">12kB</td>
   <td><tt>709467829c1b9d9f746549bd3a7894824229c0aa63052fb66f865e2a77b5ac04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kdegraphics-thumbnailers-24.05.0.tar.xz">kdegraphics-thumbnailers-24.05.0</a></td>
   <td align="right">47kB</td>
   <td><tt>5325cee1325bf564b07067d6a666585d1ac78741288f45f628f5ed427081610c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kde-inotify-survey-24.05.0.tar.xz">kde-inotify-survey-24.05.0</a></td>
   <td align="right">229kB</td>
   <td><tt>db9fa5ab6664ab2ee0eafeee5c9667e917d28e1fac02bcce6d2c2529437d79bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kdenetwork-filesharing-24.05.0.tar.xz">kdenetwork-filesharing-24.05.0</a></td>
   <td align="right">482kB</td>
   <td><tt>04a7d91e7106b0b9e01b742ed9fcb5c8c5fe7e147cb0fc3f6bec0353f9cca7bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kdenlive-24.05.0.tar.xz">kdenlive-24.05.0</a></td>
   <td align="right">12598kB</td>
   <td><tt>d848a4d33120b39e81e6c279da091d213b93d7bfc9aa57274a253a73409668ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kdepim-addons-24.05.0.tar.xz">kdepim-addons-24.05.0</a></td>
   <td align="right">2577kB</td>
   <td><tt>0387b360aa4f1c14461728d95d4f25b608874be3da812dff224cfbeebf8e8ef4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kdepim-runtime-24.05.0.tar.xz">kdepim-runtime-24.05.0</a></td>
   <td align="right">1640kB</td>
   <td><tt>ca07f7acedf0faf7fb3b8bf103ab2deccc73d7fdf2ba179e1c2f791587c64512</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kdesdk-kio-24.05.0.tar.xz">kdesdk-kio-24.05.0</a></td>
   <td align="right">40kB</td>
   <td><tt>5c5f903bb0c0bd4039decad03392d8305f0befbdbd837eb57ffff30748d35e3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kdesdk-thumbnailers-24.05.0.tar.xz">kdesdk-thumbnailers-24.05.0</a></td>
   <td align="right">26kB</td>
   <td><tt>bf20dc15a5c8a6a0adacb545edac556cc026628a953a8780839c6cb5cb2d7a76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kdevelop-24.05.0.tar.xz">kdevelop-24.05.0</a></td>
   <td align="right">8560kB</td>
   <td><tt>ad8f11c0571c82d0d6bb0b8149110dda7e72f68fecf6296682df9aa9d92f9a9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kdev-php-24.05.0.tar.xz">kdev-php-24.05.0</a></td>
   <td align="right">1064kB</td>
   <td><tt>99623501819d6d6be5f4d72bc9f518909a9b1910aa71de3acd05b5341a4c21b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kdev-python-24.05.0.tar.xz">kdev-python-24.05.0</a></td>
   <td align="right">1072kB</td>
   <td><tt>18383c301a3f8ffae6642104f6b40f24ce45b23236ea22fb3f194cd4e558bf94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kdf-24.05.0.tar.xz">kdf-24.05.0</a></td>
   <td align="right">465kB</td>
   <td><tt>9e285aa10665ceedd5371a2c506968bb51aa4d031a469d1390c22b7667df1ca6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kdialog-24.05.0.tar.xz">kdialog-24.05.0</a></td>
   <td align="right">143kB</td>
   <td><tt>8b7d922affbb415af0cfd43de8612e1dad8eb3e5b8d3f43284f1bd50dee0b240</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kdiamond-24.05.0.tar.xz">kdiamond-24.05.0</a></td>
   <td align="right">4559kB</td>
   <td><tt>5f6a1727caff84413711f196f67dd8e4b7dc19ff882ca8d4702484610ac4ae5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/keditbookmarks-24.05.0.tar.xz">keditbookmarks-24.05.0</a></td>
   <td align="right">238kB</td>
   <td><tt>ab6888ad68ff3b9dd4f3496e155278e7286f68629acfd65112d87a989fa7ad70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/keysmith-24.05.0.tar.xz">keysmith-24.05.0</a></td>
   <td align="right">167kB</td>
   <td><tt>27f323bb279599301ac8e71e57f462fdc6bec026f8748bf80a7e55481cd6eda3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kfind-24.05.0.tar.xz">kfind-24.05.0</a></td>
   <td align="right">316kB</td>
   <td><tt>fda477d5a48c7f94180922f94a18d0000de2263505d3bc2d46587008bdca6728</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kfourinline-24.05.0.tar.xz">kfourinline-24.05.0</a></td>
   <td align="right">721kB</td>
   <td><tt>93c54d182ba210e558f58b8b5c4e0ccce51a0fa9d922b5e6858623e8f61850ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kgeography-24.05.0.tar.xz">kgeography-24.05.0</a></td>
   <td align="right">12144kB</td>
   <td><tt>7e214e026f017d060fcc650b4aba0e36819ad7038bd6124fad53ea60e6a90763</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kget-24.05.0.tar.xz">kget-24.05.0</a></td>
   <td align="right">4793kB</td>
   <td><tt>cf1083953211499902ddab4e8adab59f18a3a8b8388fd4c13bd01175f2ad8fc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kgoldrunner-24.05.0.tar.xz">kgoldrunner-24.05.0</a></td>
   <td align="right">4193kB</td>
   <td><tt>5786ef12067fa253582fae3e83b27df232303848476e84bebab052a04a89a7e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kgpg-24.05.0.tar.xz">kgpg-24.05.0</a></td>
   <td align="right">2951kB</td>
   <td><tt>a7fe37dfd9018c0769320074731b7b400438976a2428c5604508340cb5449564</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/khangman-24.05.0.tar.xz">khangman-24.05.0</a></td>
   <td align="right">6853kB</td>
   <td><tt>3ac652b77736b4a885f1984575f60daaf9b25f80a48741226c29ef0423508ce3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/khealthcertificate-24.05.0.tar.xz">khealthcertificate-24.05.0</a></td>
   <td align="right">502kB</td>
   <td><tt>3e497238fece77050c177d7c4701362dac2a358cc2aa2264150c6424bea94c12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/khelpcenter-24.05.0.tar.xz">khelpcenter-24.05.0</a></td>
   <td align="right">4121kB</td>
   <td><tt>c4c500bd461c5a326415b137a8da32c097426d2ab707ca9cd50c277a11a77b12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kidentitymanagement-24.05.0.tar.xz">kidentitymanagement-24.05.0</a></td>
   <td align="right">189kB</td>
   <td><tt>78dcecb9f938ccaccff2572b951bf03321ce6b29a05aa9d97120f1c0df3b0212</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kig-24.05.0.tar.xz">kig-24.05.0</a></td>
   <td align="right">3174kB</td>
   <td><tt>d42c7a0e14a9377b35664c4c9aa0b7b1f01980c8bf8737531080a3fe1dd60fe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kigo-24.05.0.tar.xz">kigo-24.05.0</a></td>
   <td align="right">4712kB</td>
   <td><tt>e6472050fe862e63a9da6606d825e993071ae0e82c3832fec47f4308ac5ceb47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/killbots-24.05.0.tar.xz">killbots-24.05.0</a></td>
   <td align="right">1132kB</td>
   <td><tt>e30b59fbfc8e65fc1c362f0e9151e02779be579b95c37da79a0fa8a6de4ce347</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kimagemapeditor-24.05.0.tar.xz">kimagemapeditor-24.05.0</a></td>
   <td align="right">1043kB</td>
   <td><tt>de5aaa66b0a6129189cba8b528ce3a3a9d62cf8d7e23cb97dacbb7f437d5bff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kimap-24.05.0.tar.xz">kimap-24.05.0</a></td>
   <td align="right">128kB</td>
   <td><tt>63f114165a0b207ba04785950965e29bccb814d1a1b2026baf1900dcc172fdcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kio-admin-24.05.0.tar.xz">kio-admin-24.05.0</a></td>
   <td align="right">37kB</td>
   <td><tt>bd1a0e06a9ddfa71ca1cea325fc4f95a9db038dadaf8eb55378fd1a586082be2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kio-extras-24.05.0.tar.xz">kio-extras-24.05.0</a></td>
   <td align="right">3388kB</td>
   <td><tt>c2b4636133b7580ceb9c34a4c77de65b62e4e0d95d7f23d3b6f0cb2dc761559f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kio-gdrive-24.05.0.tar.xz">kio-gdrive-24.05.0</a></td>
   <td align="right">78kB</td>
   <td><tt>9197e22f74addfb88b1c8825b12cf30792f2ea302bb9684cbcd00cb305059284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kio-zeroconf-24.05.0.tar.xz">kio-zeroconf-24.05.0</a></td>
   <td align="right">43kB</td>
   <td><tt>a4e78d09a255b05134282e913bdf1d00bd5befb028ac68585021aa88285ed681</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kipi-plugins-24.05.0.tar.xz">kipi-plugins-24.05.0</a></td>
   <td align="right">1536kB</td>
   <td><tt>8330d8db0eec48113192b4a643f4db3e416cf28d823bc6415e66cb52a4bdde50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kirigami-gallery-24.05.0.tar.xz">kirigami-gallery-24.05.0</a></td>
   <td align="right">349kB</td>
   <td><tt>9d7f984cd97fa81bc4dd02ca43ec08e6c7d3fffbbfce4871fc68c0c8a4e7472f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kiriki-24.05.0.tar.xz">kiriki-24.05.0</a></td>
   <td align="right">359kB</td>
   <td><tt>2a10fd60087bfc2664b909212dd9562d85713b21bc4d3596ad90ad39b1339625</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kiten-24.05.0.tar.xz">kiten-24.05.0</a></td>
   <td align="right">11044kB</td>
   <td><tt>0fbc303aace2d89ad49e12a3d5031d0be016ffcf36b1c7dc80fb08399bcbe244</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kitinerary-24.05.0.tar.xz">kitinerary-24.05.0</a></td>
   <td align="right">1936kB</td>
   <td><tt>f4fd921417ce9c982af1bdc1afdf713b6ff0f80eabc2781e5ab573f57ed525a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kjournald-24.05.0.tar.xz">kjournald-24.05.0</a></td>
   <td align="right">506kB</td>
   <td><tt>29b5d35084be681597dda7d6d30036d36c0b973ccd6a1680ff138ab6f371f0fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kjumpingcube-24.05.0.tar.xz">kjumpingcube-24.05.0</a></td>
   <td align="right">332kB</td>
   <td><tt>e99ad25af237bca1f819adb850363665f37548aba51b39dfbef2566e07cdfd81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kldap-24.05.0.tar.xz">kldap-24.05.0</a></td>
   <td align="right">180kB</td>
   <td><tt>8a29b797ac9200ece5ec753b1dbfec54d4da5a8e0f82d5823c6f3ec08dea1eae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kleopatra-24.05.0.tar.xz">kleopatra-24.05.0</a></td>
   <td align="right">2806kB</td>
   <td><tt>acedec1238f5c20feca92d505d1ba8183c2f72ceb12788ec959e3a3336453840</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/klettres-24.05.0.tar.xz">klettres-24.05.0</a></td>
   <td align="right">46079kB</td>
   <td><tt>d6235d6f93a0d9c86dfdd7aef833e0e3d9dd292b5154cf5f28cbba9b50641eca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/klickety-24.05.0.tar.xz">klickety-24.05.0</a></td>
   <td align="right">1348kB</td>
   <td><tt>137335eaf06474d6185148c9c1f9fc63cd6099af637385394b50e3effcb1355c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/klines-24.05.0.tar.xz">klines-24.05.0</a></td>
   <td align="right">1629kB</td>
   <td><tt>5008b0f3e4e176305c935bc75d490bf174c1d3ee67e13eb43ece6bcc911871d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kmag-24.05.0.tar.xz">kmag-24.05.0</a></td>
   <td align="right">658kB</td>
   <td><tt>aae41fa3875ee3693df6e98ba51d2363df17522a34ef5e809376d616ba5a5651</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kmahjongg-24.05.0.tar.xz">kmahjongg-24.05.0</a></td>
   <td align="right">3626kB</td>
   <td><tt>08907c10ee3e05c20cfb2c1555186943e5c10774276afe58088afacee6687494</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kmail-24.05.0.tar.xz">kmail-24.05.0</a></td>
   <td align="right">8235kB</td>
   <td><tt>a98a04afbd0feadbeeb5eda5960c902b84c93ee8d2615dad90e04d87ab062bf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kmail-account-wizard-24.05.0.tar.xz">kmail-account-wizard-24.05.0</a></td>
   <td align="right">158kB</td>
   <td><tt>440209528700fe648fffbe143cb657d0bc8c6275776aef6a4e35d5f45385c3ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kmailtransport-24.05.0.tar.xz">kmailtransport-24.05.0</a></td>
   <td align="right">182kB</td>
   <td><tt>8ec64192df8af5389ae6901f760acf9630c4be3e53e970d410d86ed2b1fffd41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kmbox-24.05.0.tar.xz">kmbox-24.05.0</a></td>
   <td align="right">28kB</td>
   <td><tt>d9de14bf135ab5fbc7f33915a2bab22533169688c6d0fd113e7b51e6d7440e9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kmime-24.05.0.tar.xz">kmime-24.05.0</a></td>
   <td align="right">157kB</td>
   <td><tt>7c044974ac1f3acde01804766b24ebe17b7413201e78ea4ff9f4f0d77e3bb8b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kmines-24.05.0.tar.xz">kmines-24.05.0</a></td>
   <td align="right">922kB</td>
   <td><tt>a4386ace8164e81ebb294a5587302d691086c2ab39b2bbac46320222da459441</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kmix-24.05.0.tar.xz">kmix-24.05.0</a></td>
   <td align="right">1137kB</td>
   <td><tt>8296abefd38983d8ce014b13d89c752bc676817b2eaed8bae449b389b0338295</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kmousetool-24.05.0.tar.xz">kmousetool-24.05.0</a></td>
   <td align="right">127kB</td>
   <td><tt>f84f6b1e56ee262f3f768e5757a4b7623ebf3fc66486a0a91a5c18617f769fdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kmouth-24.05.0.tar.xz">kmouth-24.05.0</a></td>
   <td align="right">1890kB</td>
   <td><tt>2058081c46e3415798939dcd0ca6b949893aa75e54dfc87b6153c7304eb15ecc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kmplot-24.05.0.tar.xz">kmplot-24.05.0</a></td>
   <td align="right">2933kB</td>
   <td><tt>340f64ff504b246851a4099886757bb9596581f71ab8ea460e53861558569760</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/knavalbattle-24.05.0.tar.xz">knavalbattle-24.05.0</a></td>
   <td align="right">1018kB</td>
   <td><tt>1baad65a8b487aebe0246fd32fa45cc4d5d54cca71d3bf5d0768ed739a52bd19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/knetwalk-24.05.0.tar.xz">knetwalk-24.05.0</a></td>
   <td align="right">980kB</td>
   <td><tt>100cfe198db85e59710bae48d034e9efd41c7034e119c866a1635c6dfd94a618</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/knights-24.05.0.tar.xz">knights-24.05.0</a></td>
   <td align="right">2412kB</td>
   <td><tt>ed90619f79e344ceb6100fd9d706f858bdab0b89d9aa8020ec95c9180d604af2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/knotes-24.05.0.tar.xz">knotes-24.05.0</a></td>
   <td align="right">372kB</td>
   <td><tt>43240842ae8203b5aa67a1d135c680c7de4cfa741599c4cb8e5b748219345bf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/koko-24.05.0.tar.xz">koko-24.05.0</a></td>
   <td align="right">8332kB</td>
   <td><tt>80379b51d1c3eb5becde1d03263c24fcae98d4d2e88b8b6d057ca9cfeb10a9b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kolf-24.05.0.tar.xz">kolf-24.05.0</a></td>
   <td align="right">1040kB</td>
   <td><tt>9803d21efe4aca2ac792dbcd133d75d2d33905734ad064c3bf8ccdaa0c108fa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kollision-24.05.0.tar.xz">kollision-24.05.0</a></td>
   <td align="right">301kB</td>
   <td><tt>c30d701aca05175fb5bbc5187ed4ed686a4ef900cd060fc4145e18a2ff021b6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kolourpaint-24.05.0.tar.xz">kolourpaint-24.05.0</a></td>
   <td align="right">5170kB</td>
   <td><tt>649e5fd549c5484695ff50a196dc60f9f61c3de3546eff0b52ea9f4229f9215e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kompare-24.05.0.tar.xz">kompare-24.05.0</a></td>
   <td align="right">920kB</td>
   <td><tt>f6fe60e6b3ad9e10deb53718148481ce1a83bbfff32a1edbe1e98217998a6770</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kongress-24.05.0.tar.xz">kongress-24.05.0</a></td>
   <td align="right">579kB</td>
   <td><tt>3c68875d9a2386218fd214281c53e2f17ac277d467ec3be70095954e1ebe88c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/konqueror-24.05.0.tar.xz">konqueror-24.05.0</a></td>
   <td align="right">9485kB</td>
   <td><tt>508942c79fb65a023157cdc26bbfcc7451c506fa5f8cd06efeb1da9d8262242d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/konquest-24.05.0.tar.xz">konquest-24.05.0</a></td>
   <td align="right">834kB</td>
   <td><tt>987ec88d7bcc1cb52ce95a131aa9efad9b953fb27398bdcd2534c645a42484b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/konsole-24.05.0.tar.xz">konsole-24.05.0</a></td>
   <td align="right">1728kB</td>
   <td><tt>53efd25c1d574448db57f446f423328c7f2f08889f67defc1ed5c783c9ef47f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kontact-24.05.0.tar.xz">kontact-24.05.0</a></td>
   <td align="right">842kB</td>
   <td><tt>184a37465583d67878254dc9e19fbfd8cbf49b451bd8613a1a11824f9ebf10a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kontactinterface-24.05.0.tar.xz">kontactinterface-24.05.0</a></td>
   <td align="right">39kB</td>
   <td><tt>3da085ef2db977f214a75efd426d4af065f0ba602a1a4cd501e06ab8d513b3b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kontrast-24.05.0.tar.xz">kontrast-24.05.0</a></td>
   <td align="right">209kB</td>
   <td><tt>618bd02e14bc9241e3b7ba7b5baa0653b3ccbd9545cd849820402d76f98948d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/konversation-24.05.0.tar.xz">konversation-24.05.0</a></td>
   <td align="right">4284kB</td>
   <td><tt>f38e56bb5b99d3d15870ecf39419031862e6781cd16266dc33625434124b1f9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kopeninghours-24.05.0.tar.xz">kopeninghours-24.05.0</a></td>
   <td align="right">72kB</td>
   <td><tt>cacc6097d8e6dcdfc33e80ee4148a68c97de2ec0116c7f47ef897801f17151fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/korganizer-24.05.0.tar.xz">korganizer-24.05.0</a></td>
   <td align="right">2509kB</td>
   <td><tt>e12a4be341ba322d666e846d3814efb658fb8c359a8bf89b48369eb803930ad7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kosmindoormap-24.05.0.tar.xz">kosmindoormap-24.05.0</a></td>
   <td align="right">630kB</td>
   <td><tt>f3995fd899b70f70bcff22d91596d414303473ceafe24aa4e8d05b0436efc536</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kpat-24.05.0.tar.xz">kpat-24.05.0</a></td>
   <td align="right">3627kB</td>
   <td><tt>b4ab56de3ab7c4fa6773739d3dd9bccaa94ca5633a6c2f2c3fb54e66348f767a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kpimtextedit-24.05.0.tar.xz">kpimtextedit-24.05.0</a></td>
   <td align="right">165kB</td>
   <td><tt>9091ad74332ddbb98837253c7d5be6319ae25eb0a99a282682fdbe991882449b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kpkpass-24.05.0.tar.xz">kpkpass-24.05.0</a></td>
   <td align="right">28kB</td>
   <td><tt>b370dc112507dbf87033d5a04914beeae9e653820374fd1b48b476f467d8ad28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kpmcore-24.05.0.tar.xz">kpmcore-24.05.0</a></td>
   <td align="right">623kB</td>
   <td><tt>09062b0c41af029437e8ca4ea4f1ab2d1cc62bf66acd0300ee704e484238123e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kpublictransport-24.05.0.tar.xz">kpublictransport-24.05.0</a></td>
   <td align="right">652kB</td>
   <td><tt>a9a25ad3398a2dc928bb69add1947c839d73ce8e00957b7bbd6b985477f437bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kqtquickcharts-24.05.0.tar.xz">kqtquickcharts-24.05.0</a></td>
   <td align="right">30kB</td>
   <td><tt>1e48f6684e7dbb3212409273c75beab95054b46698665a2fa1eb5392c3a054ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/krdc-24.05.0.tar.xz">krdc-24.05.0</a></td>
   <td align="right">1505kB</td>
   <td><tt>4ce4d25520d4dc137bdea7d99cd8e6fe6ea2b457389db5fa65902ce6c270de72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/krecorder-24.05.0.tar.xz">krecorder-24.05.0</a></td>
   <td align="right">162kB</td>
   <td><tt>39352f8aa380abaef5ce93cf9c3b4ef3e35dffa69ceb824091e42d8bf7138f32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kreversi-24.05.0.tar.xz">kreversi-24.05.0</a></td>
   <td align="right">1001kB</td>
   <td><tt>1b3de03443be2b62a4281fe6b6781c594aa9f42f72522b26c0ffbf0b64e3df4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/krfb-24.05.0.tar.xz">krfb-24.05.0</a></td>
   <td align="right">1168kB</td>
   <td><tt>aa8f7281d3a3e44ab7e2087b7e567e3fed125e45d35509c03a8afbd4ee0dda95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kross-interpreters-24.05.0.tar.xz">kross-interpreters-24.05.0</a></td>
   <td align="right">148kB</td>
   <td><tt>9186b437e1fcdd2ee9cc83586c732a3930d55ffefd392aab41f8d43c9df891f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kruler-24.05.0.tar.xz">kruler-24.05.0</a></td>
   <td align="right">277kB</td>
   <td><tt>5323feef00b77a8754b7e68a0de99c516040834ff7f8d626e051b6a0e1490a4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/ksanecore-24.05.0.tar.xz">ksanecore-24.05.0</a></td>
   <td align="right">49kB</td>
   <td><tt>ca4f80b9b7d7c26483d3ebd7279a7f6b0e08d17c9419dde061780b3bfbc115bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kshisen-24.05.0.tar.xz">kshisen-24.05.0</a></td>
   <td align="right">945kB</td>
   <td><tt>06792ce0d1ae366692914576a1ead187a6c452e8cf4fc01beacd2402e484a04e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/ksirk-24.05.0.tar.xz">ksirk-24.05.0</a></td>
   <td align="right">6903kB</td>
   <td><tt>8863ec05366a7754f3a799ad619756cc17bb956f4fef7fd33d73ce6084557f1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/ksmtp-24.05.0.tar.xz">ksmtp-24.05.0</a></td>
   <td align="right">51kB</td>
   <td><tt>06acfb397b2ad5b3b7b3175abf65b32c49d56d5c14c90ec290ec9b01a559d52f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/ksnakeduel-24.05.0.tar.xz">ksnakeduel-24.05.0</a></td>
   <td align="right">562kB</td>
   <td><tt>17aa278b4862ea4d219c3de78ec827dec058ccaeb2026ee2317a50b66e4d3cd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kspaceduel-24.05.0.tar.xz">kspaceduel-24.05.0</a></td>
   <td align="right">613kB</td>
   <td><tt>01ba1d02c24665499c28c78f6494f9addbd0a61c3942e36b757e79f29030d89b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/ksquares-24.05.0.tar.xz">ksquares-24.05.0</a></td>
   <td align="right">310kB</td>
   <td><tt>ccd1050bd9bc1f02b3fe550fc012ef5eb6bf14c25a10b9f7052c2738c2237e32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/ksudoku-24.05.0.tar.xz">ksudoku-24.05.0</a></td>
   <td align="right">1678kB</td>
   <td><tt>4ac778ac12e95feb5aacc9fde323f94058e8ba5c7b496adbd62f518c12c4c453</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/ksystemlog-24.05.0.tar.xz">ksystemlog-24.05.0</a></td>
   <td align="right">1811kB</td>
   <td><tt>b5dbf0bb218dc3927c4d885625bbe2227f4ff76a83418d08daad0e40e4d7704a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kteatime-24.05.0.tar.xz">kteatime-24.05.0</a></td>
   <td align="right">300kB</td>
   <td><tt>8790d57f1ccefa21011a10880ab2ec0f0aa66488bdf144acd8c18ad4b74bdb40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/ktimer-24.05.0.tar.xz">ktimer-24.05.0</a></td>
   <td align="right">440kB</td>
   <td><tt>bec0da67c35574044c74e27a98ba5fa730a92db841df958f7b1e8dac3812e820</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/ktnef-24.05.0.tar.xz">ktnef-24.05.0</a></td>
   <td align="right">304kB</td>
   <td><tt>86d845160c2a59bef191f0ac35e11630e921239efc6c6fef98ea540f74ee07aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/ktorrent-24.05.0.tar.xz">ktorrent-24.05.0</a></td>
   <td align="right">2131kB</td>
   <td><tt>53f7e8c9c0c592ee2ce0286cda3b579a124f979057ae3b0aacdc13e26e94a1a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/ktouch-24.05.0.tar.xz">ktouch-24.05.0</a></td>
   <td align="right">4669kB</td>
   <td><tt>7560e80a21f5cac4c680aa314f7c00d0d8cb6c1c292c4db783993513389dd162</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/ktrip-24.05.0.tar.xz">ktrip-24.05.0</a></td>
   <td align="right">1013kB</td>
   <td><tt>1b43d57fedc2b013c91a0a21e44a89965acd611ad11997f24314264eef719a7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/ktuberling-24.05.0.tar.xz">ktuberling-24.05.0</a></td>
   <td align="right">69872kB</td>
   <td><tt>2080dc5fe732f5e2e4d260eb83da05702ac1d946aabfbe05da8523a0ca8ffcc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kturtle-24.05.0.tar.xz">kturtle-24.05.0</a></td>
   <td align="right">2045kB</td>
   <td><tt>6485e49cb49baed935fc3c412b67c681d55a1e156ca658fbc0aea1a826373e74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kubrick-24.05.0.tar.xz">kubrick-24.05.0</a></td>
   <td align="right">347kB</td>
   <td><tt>e2c05213435231746bf5462827ea207cacbc20666535d77e1b68a4bce5eb3f6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kwalletmanager-24.05.0.tar.xz">kwalletmanager-24.05.0</a></td>
   <td align="right">1016kB</td>
   <td><tt>aaac7fe378824b5ddd731b46a31432acbb42f3cd080b8c9830303a52762466a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kwave-24.05.0.tar.xz">kwave-24.05.0</a></td>
   <td align="right">6398kB</td>
   <td><tt>a67b4860567d61be2514c780641747ea884d4f44ddba08229b84c2dd5790e434</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kweather-24.05.0.tar.xz">kweather-24.05.0</a></td>
   <td align="right">926kB</td>
   <td><tt>faff3add4005d04c338847ae9b7a1bc2e5c6d5f45b6f5a96ec806da91b9e4bbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/kwordquiz-24.05.0.tar.xz">kwordquiz-24.05.0</a></td>
   <td align="right">3682kB</td>
   <td><tt>6a4879b79dee390a01f41a14cc0e50427d83a230d9773ade4adfaf9a4740358d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/libgravatar-24.05.0.tar.xz">libgravatar-24.05.0</a></td>
   <td align="right">36kB</td>
   <td><tt>53c459927a00b4504a03684a6f06b0f801c66f31b0f7202ce64d7d905977f4fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/libkcddb-24.05.0.tar.xz">libkcddb-24.05.0</a></td>
   <td align="right">438kB</td>
   <td><tt>2a7b8440dad760dd04becc6fba703443648ec4adf1cf43d1c1f28a495506776b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/libkcompactdisc-24.05.0.tar.xz">libkcompactdisc-24.05.0</a></td>
   <td align="right">97kB</td>
   <td><tt>c2c610d3f820c24d52ab988d47fa44484a9cceace5bbdf41575981323e613366</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/libkdcraw-24.05.0.tar.xz">libkdcraw-24.05.0</a></td>
   <td align="right">36kB</td>
   <td><tt>5376dd46ad21a345a739c9129510f3cd8be46b3af958e4b722e6a81649a77889</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/libkdegames-24.05.0.tar.xz">libkdegames-24.05.0</a></td>
   <td align="right">5856kB</td>
   <td><tt>8cbb3bbfbcc4e9c5fd15cb61ff542de17c1f5a668407a950d47a311ea0dd7ee4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/libkdepim-24.05.0.tar.xz">libkdepim-24.05.0</a></td>
   <td align="right">275kB</td>
   <td><tt>62fedf50c99296fb076c9f4ea0d907228a3f912c8f927c459156cb5c8950ba8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/libkeduvocdocument-24.05.0.tar.xz">libkeduvocdocument-24.05.0</a></td>
   <td align="right">222kB</td>
   <td><tt>fa854d7dbf314895f42cb1f7ee114a945ef763c5f8a3f32d3804f8f647fab7f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/libkexiv2-24.05.0.tar.xz">libkexiv2-24.05.0</a></td>
   <td align="right">59kB</td>
   <td><tt>0ceed68ae17cc225c915d74e7b67e77d7912d56613c0a842cfe00dd17d054d74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/libkgapi-24.05.0.tar.xz">libkgapi-24.05.0</a></td>
   <td align="right">331kB</td>
   <td><tt>d878b8521aa83276f8807f97cfa5b307988a6094cec0556147faca5ae9173981</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/libkipi-24.05.0.tar.xz">libkipi-24.05.0</a></td>
   <td align="right">86kB</td>
   <td><tt>935aa1c0da5cec488b7b087a67dde32fdf1480a7492c4cc4fc08fec17b2511c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/libkleo-24.05.0.tar.xz">libkleo-24.05.0</a></td>
   <td align="right">572kB</td>
   <td><tt>3d09fa27cd0f6a0410764db1207e757b7216b9e6af39bca1a330ce1378e166cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/libkmahjongg-24.05.0.tar.xz">libkmahjongg-24.05.0</a></td>
   <td align="right">1652kB</td>
   <td><tt>95d3564ee6becb381f49844c0a47c1f67b4c9d755307af04ff6e09ebdcea7d2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/libkomparediff2-24.05.0.tar.xz">libkomparediff2-24.05.0</a></td>
   <td align="right">184kB</td>
   <td><tt>22ba287702dc448b3c9f457ab60c6e4cbf68fb541cd83a67bd287aa05732300e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/libksane-24.05.0.tar.xz">libksane-24.05.0</a></td>
   <td align="right">149kB</td>
   <td><tt>e73c6f1a65ae40daecd994c29aae0e879b9832f00783ea229a5c8970691711c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/libksieve-24.05.0.tar.xz">libksieve-24.05.0</a></td>
   <td align="right">571kB</td>
   <td><tt>552e05a6a132b71a78bcb5a81ccebd829b9d59cea4e09e43f4805d97df92cb43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/libktorrent-24.05.0.tar.xz">libktorrent-24.05.0</a></td>
   <td align="right">591kB</td>
   <td><tt>73613eb9cf8fdb1bff0ddf397769887132344f7eb056ff4127c307f1ac408f81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/lokalize-24.05.0.tar.xz">lokalize-24.05.0</a></td>
   <td align="right">2027kB</td>
   <td><tt>1276f8a369255db16f2d01c9b378bd93c2d6680fa3f529fc5a4489accaad24ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/lskat-24.05.0.tar.xz">lskat-24.05.0</a></td>
   <td align="right">1192kB</td>
   <td><tt>931f80f9e3cb3c651a074c37a249c4193a64d3de8625bb3dd0fe82c8a370fde8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/mailcommon-24.05.0.tar.xz">mailcommon-24.05.0</a></td>
   <td align="right">754kB</td>
   <td><tt>e1377e47d6f9c6026b4321b806039bfdf9cc4aa190cf1c335930b1d01a143e83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/mailimporter-24.05.0.tar.xz">mailimporter-24.05.0</a></td>
   <td align="right">581kB</td>
   <td><tt>29d6701f683a247866b59490eb2605544abe85d79953dccf3ff28386356d3f4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/marble-24.05.0.tar.xz">marble-24.05.0</a></td>
   <td align="right">51220kB</td>
   <td><tt>e17a2a087cda4203d858d0cbae54dd4c8d1238014afa4e532fb80dbe3f1ba9a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/markdownpart-24.05.0.tar.xz">markdownpart-24.05.0</a></td>
   <td align="right">33kB</td>
   <td><tt>3f4176f3cf41b15fced251ee7211eacf4b7863e89ccce3a793229124a3162aa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/mbox-importer-24.05.0.tar.xz">mbox-importer-24.05.0</a></td>
   <td align="right">30kB</td>
   <td><tt>7f167c9019ca99ff1c5a74c8164b336f3dca44e280f5cda0ee0eefc536a09149</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/merkuro-24.05.0.tar.xz">merkuro-24.05.0</a></td>
   <td align="right">730kB</td>
   <td><tt>eb632e5a181eafd7f0712531b1accaf755d81c80eb9bf8fedd8c59fd4305cae2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/messagelib-24.05.0.tar.xz">messagelib-24.05.0</a></td>
   <td align="right">11047kB</td>
   <td><tt>c0ea0303d39f016fac39a8a89a9ed74fd8f491579997de39325342bd0c12cdc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/mimetreeparser-24.05.0.tar.xz">mimetreeparser-24.05.0</a></td>
   <td align="right">624kB</td>
   <td><tt>09400e4ac9cb590906c5a0a7196b9be8debd12f656f1ff845537bb447c04755e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/minuet-24.05.0.tar.xz">minuet-24.05.0</a></td>
   <td align="right">27038kB</td>
   <td><tt>411477e4b2bafbf78156b6f9404a8675334a716af43c773320acc664f577363a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/neochat-24.05.0.tar.xz">neochat-24.05.0</a></td>
   <td align="right">953kB</td>
   <td><tt>900eceef45f578cd87cad92b4736d86e5c181c5f9330a6f77956fd2a6423d1b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/okular-24.05.0.tar.xz">okular-24.05.0</a></td>
   <td align="right">7829kB</td>
   <td><tt>6f322f78de2aa0a4079351fe4651c080bd98d27eeb7f9dcc37765271b4a3ac80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/palapeli-24.05.0.tar.xz">palapeli-24.05.0</a></td>
   <td align="right">2065kB</td>
   <td><tt>5e57d6856527b5838d1660bdda905d76122849d3938a31c71b72748f78d2797c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/parley-24.05.0.tar.xz">parley-24.05.0</a></td>
   <td align="right">8223kB</td>
   <td><tt>3ca1b2e1d923b6ae7c361577a4c5e481ff19680f4d552b4b1e2f1905b4c51760</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/partitionmanager-24.05.0.tar.xz">partitionmanager-24.05.0</a></td>
   <td align="right">2259kB</td>
   <td><tt>682f0302213d95b628064226cfcced6aa299bc81b7ed46a6e705e811031fba66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/picmi-24.05.0.tar.xz">picmi-24.05.0</a></td>
   <td align="right">1479kB</td>
   <td><tt>f63e7bc5f272eba84dace71308e86d9614ff6e1090cae4e1a25d6019262924f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/pimcommon-24.05.0.tar.xz">pimcommon-24.05.0</a></td>
   <td align="right">340kB</td>
   <td><tt>62e5a741d085632b20638282a04e2ccd2aaca887c360e22444b5dcbb1f961c1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/pim-data-exporter-24.05.0.tar.xz">pim-data-exporter-24.05.0</a></td>
   <td align="right">411kB</td>
   <td><tt>e6c5b1d5eb5cf024fb3692fa24f978ac4f4c4bdbe0f3d0fc234fce8c2469f2eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/pim-sieve-editor-24.05.0.tar.xz">pim-sieve-editor-24.05.0</a></td>
   <td align="right">453kB</td>
   <td><tt>0fc00c9a531a9998f031a8e6517c3b9a7577b139f40a1ed3f4c8a36f68b7b54f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/plasmatube-24.05.0.tar.xz">plasmatube-24.05.0</a></td>
   <td align="right">188kB</td>
   <td><tt>3121bbdeb0e38f88f86f0e07cf47c7b88b8213bdc1f57489a37dd27928c111c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/poxml-24.05.0.tar.xz">poxml-24.05.0</a></td>
   <td align="right">43kB</td>
   <td><tt>272088e1becd84ff0b0904a37bff000d8b85aaf24ffa6ef5ef04f2f0e9e34802</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/qmlkonsole-24.05.0.tar.xz">qmlkonsole-24.05.0</a></td>
   <td align="right">190kB</td>
   <td><tt>4e3145fddb2df121793a8f52c35590a968759f611a798d8f44a9dda01d1d4242</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/rocs-24.05.0.tar.xz">rocs-24.05.0</a></td>
   <td align="right">1529kB</td>
   <td><tt>834688519a2430b9e367c38d7e6d5c6364a0505944d0e574d51300a72b939140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/signon-kwallet-extension-24.05.0.tar.xz">signon-kwallet-extension-24.05.0</a></td>
   <td align="right">11kB</td>
   <td><tt>b22e062c73de3f8707c08db9388415e27c40c05e70f5258c4b5fedd04ed8afc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/skanlite-24.05.0.tar.xz">skanlite-24.05.0</a></td>
   <td align="right">2327kB</td>
   <td><tt>a6ef7b7a8eb4a60edfa5fcb392b827f490389ea0364ed69360f69c723d6b3fcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/skanpage-24.05.0.tar.xz">skanpage-24.05.0</a></td>
   <td align="right">1300kB</td>
   <td><tt>2c741e5f476f7013e832f996b79a74eeeca25b56e92d152cecc5ded85d483b61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/skladnik-24.05.0.tar.xz">skladnik-24.05.0</a></td>
   <td align="right">398kB</td>
   <td><tt>c22970dbedc9855195f07e87e554083cd0034c4142d37b209cdff45b964a7aff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/spectacle-24.05.0.tar.xz">spectacle-24.05.0</a></td>
   <td align="right">1323kB</td>
   <td><tt>def2851e8db3cc00eab0810d988014b15b8f23b474b932b1cdf3c6144326d5aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/step-24.05.0.tar.xz">step-24.05.0</a></td>
   <td align="right">959kB</td>
   <td><tt>5f4ae8af05854c9cca4256925d7784a4153b9281ec442141f299a653c320ccc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/svgpart-24.05.0.tar.xz">svgpart-24.05.0</a></td>
   <td align="right">29kB</td>
   <td><tt>7d02438ac3b0d88e59a653f2302d1dbc7a2535ce627d49eb50a3a33852db42d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/sweeper-24.05.0.tar.xz">sweeper-24.05.0</a></td>
   <td align="right">373kB</td>
   <td><tt>6901c20f60fef3afdd32b256a062554198424447da760697061b75c104325656</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/telly-skout-24.05.0.tar.xz">telly-skout-24.05.0</a></td>
   <td align="right">99kB</td>
   <td><tt>70a679902dae3caf74940f3424a0e6d219d50d8b0c6e5ddf9c8cf6f7f77ece1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/tokodon-24.05.0.tar.xz">tokodon-24.05.0</a></td>
   <td align="right">522kB</td>
   <td><tt>575cc7d3cfe6d28b69390b6cc20a4fa541d320cd8cfc84afc192fe094e1d9eea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/umbrello-24.05.0.tar.xz">umbrello-24.05.0</a></td>
   <td align="right">5484kB</td>
   <td><tt>e554ad72d65df29dffb172cc6851167a3894cb20a8d3bef054ed2788fc1abeba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/yakuake-24.05.0.tar.xz">yakuake-24.05.0</a></td>
   <td align="right">369kB</td>
   <td><tt>113c2d0ee354a12ab6ca3469fe68c086217688dc2ee680335fffe4c79d9afba2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.0/src/zanshin-24.05.0.tar.xz">zanshin-24.05.0</a></td>
   <td align="right">365kB</td>
   <td><tt>3d213e5c27c88b31f7c78e847b172599fb32a1d86f14c9ac099138ea72b21e1a</tt></td>
</tr>

</table>
