<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/akonadi-23.08.0.tar.xz">akonadi-23.08.0</a></td>
   <td align="right">1623kB</td>
   <td><tt>0298f8231337a393eb93408c9e98577b07ef25307be7ddc9759c775c257761e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/akonadi-calendar-23.08.0.tar.xz">akonadi-calendar-23.08.0</a></td>
   <td align="right">461kB</td>
   <td><tt>6e6a0a2cd7651fc46b7b23c864bc6a5411964648893a403b0f1114285a2efaa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/akonadi-calendar-tools-23.08.0.tar.xz">akonadi-calendar-tools-23.08.0</a></td>
   <td align="right">248kB</td>
   <td><tt>a473bd326a0b4d8a371f0c4a52d689b3f0b1ce74750a0b22317c19d3995db20a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/akonadiconsole-23.08.0.tar.xz">akonadiconsole-23.08.0</a></td>
   <td align="right">274kB</td>
   <td><tt>de50e05a7f76401421c42af7396eeb78d5d3bf7d78ab9d11a26f17cbe5d0c0a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/akonadi-contacts-23.08.0.tar.xz">akonadi-contacts-23.08.0</a></td>
   <td align="right">411kB</td>
   <td><tt>77923b46bde908fa22927ac21eedbeea9948191485d3e2e4a7044bdc5b812707</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/akonadi-import-wizard-23.08.0.tar.xz">akonadi-import-wizard-23.08.0</a></td>
   <td align="right">503kB</td>
   <td><tt>55373b559d233d46820270ceafb3c351821a2940e708ab7ce49154b78b603a07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/akonadi-mime-23.08.0.tar.xz">akonadi-mime-23.08.0</a></td>
   <td align="right">162kB</td>
   <td><tt>8aef15168ee4fa31de2a217842373d3581fc7fb790f15abe17eb6628f0f37351</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/akonadi-notes-23.08.0.tar.xz">akonadi-notes-23.08.0</a></td>
   <td align="right">27kB</td>
   <td><tt>ac580c77102c91e3b4a56e1f726ee46b4948d71d8b6fa3dbb10411589bbf683d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/akonadi-search-23.08.0.tar.xz">akonadi-search-23.08.0</a></td>
   <td align="right">105kB</td>
   <td><tt>a9d07c25e7cad492dcf303592acabf3d3cdf414bea7d7916ccea832454316bef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/akregator-23.08.0.tar.xz">akregator-23.08.0</a></td>
   <td align="right">2266kB</td>
   <td><tt>284b959993a11cb6c6fae8323a6fa0147322b382c533f08236c43fdf5063de50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/alligator-23.08.0.tar.xz">alligator-23.08.0</a></td>
   <td align="right">185kB</td>
   <td><tt>2dcc2ec4960d81da4ab195a5d1c4be8c3d21c3f3ab75697e0d8262b5e3208d04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/analitza-23.08.0.tar.xz">analitza-23.08.0</a></td>
   <td align="right">344kB</td>
   <td><tt>dbc46f560342bce65d0e9cd96693527d72fb9b1c7e9a4805b19007afe7636201</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/angelfish-23.08.0.tar.xz">angelfish-23.08.0</a></td>
   <td align="right">239kB</td>
   <td><tt>f2a6656e4675fb59d5f634fc1e4577c1e151c9caa1d20fc7ed0fa92547bcbb03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/arianna-23.08.0.tar.xz">arianna-23.08.0</a></td>
   <td align="right">790kB</td>
   <td><tt>442723d788caa222fea4eac83f4f10221a4543f81a56420bf70d940382d2dfc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/ark-23.08.0.tar.xz">ark-23.08.0</a></td>
   <td align="right">2945kB</td>
   <td><tt>41fcf916a973beade18f043bbbd49bcf8329ae64fcf161e907e30d643f442526</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/artikulate-23.08.0.tar.xz">artikulate-23.08.0</a></td>
   <td align="right">1067kB</td>
   <td><tt>095de677000668a624f96d82451941131dac5140bbb5b4ea68d52d02cfeb9ee7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/audiocd-kio-23.08.0.tar.xz">audiocd-kio-23.08.0</a></td>
   <td align="right">550kB</td>
   <td><tt>a22f676eca7f92fc5e3b0a4115b3348a1b6d7a53cb7e602431ea34dc8cb76cce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/audiotube-23.08.0.tar.xz">audiotube-23.08.0</a></td>
   <td align="right">141kB</td>
   <td><tt>1b6cadf58e6286c67f0682f2eb5dfad43c25ad738a4bde04a55505ea316006f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/baloo-widgets-23.08.0.tar.xz">baloo-widgets-23.08.0</a></td>
   <td align="right">270kB</td>
   <td><tt>f47b6ddcded425137007c882c684dbe835057147a0ffa1b56d6865917601d65c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/blinken-23.08.0.tar.xz">blinken-23.08.0</a></td>
   <td align="right">2660kB</td>
   <td><tt>648ce632d42590ccae026920c5758c847dc434bba94380a3730c8b1ef6f29ef2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/bomber-23.08.0.tar.xz">bomber-23.08.0</a></td>
   <td align="right">819kB</td>
   <td><tt>82693d6f8bf3888f0c5255cbeaf7e8eadc2820a4bef0329c2c3d65492ab1c0a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/bovo-23.08.0.tar.xz">bovo-23.08.0</a></td>
   <td align="right">210kB</td>
   <td><tt>68c47cad1e908dcbffc68ecb14f57fab37d11fc81cc3ca0dbe953487c7c7f405</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/calendarsupport-23.08.0.tar.xz">calendarsupport-23.08.0</a></td>
   <td align="right">964kB</td>
   <td><tt>b9752c407b4280fc26f477eb16f26fe24d10c59865725931f807bdb403ae1233</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/calindori-23.08.0.tar.xz">calindori-23.08.0</a></td>
   <td align="right">372kB</td>
   <td><tt>ae8dfc11e6204c40d3c49c7f59bbafe05e04b787cf3083552480143bf4a3bf9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/cantor-23.08.0.tar.xz">cantor-23.08.0</a></td>
   <td align="right">9062kB</td>
   <td><tt>e5d359cf385d1733b8a7fa6eb3310ebf487925c4c0e77871d040da602282df13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/cervisia-23.08.0.tar.xz">cervisia-23.08.0</a></td>
   <td align="right">1900kB</td>
   <td><tt>c8c0fb109b176b7085e0db85f55ae0a2440f9358e477c9f22eaee769e94c3b62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/colord-kde-23.08.0.tar.xz">colord-kde-23.08.0</a></td>
   <td align="right">106kB</td>
   <td><tt>fff0b711379f5dc9ea3bcb4158b243d82925f05283e9d1a5949befe76734e75b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/dolphin-23.08.0.tar.xz">dolphin-23.08.0</a></td>
   <td align="right">5624kB</td>
   <td><tt>4ab0f3ee83c0c62f7346031780d46a57d4002f6585c2de3fadfa6708e4ff59de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/dolphin-plugins-23.08.0.tar.xz">dolphin-plugins-23.08.0</a></td>
   <td align="right">267kB</td>
   <td><tt>c443084976ac84b2e29e1ada97f526da9cb924220f2b3fddb0558bdfb1243fde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/dragon-23.08.0.tar.xz">dragon-23.08.0</a></td>
   <td align="right">1630kB</td>
   <td><tt>1758e39c991adfa1961a25d292d16020c80fd227db29f6f3b257274241e4b9a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/elisa-23.08.0.tar.xz">elisa-23.08.0</a></td>
   <td align="right">1770kB</td>
   <td><tt>64b2799c2a7a2ece4f95bc702da47d4639fd0d61ca89159567fb0ece1c646da6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/eventviews-23.08.0.tar.xz">eventviews-23.08.0</a></td>
   <td align="right">448kB</td>
   <td><tt>6285105047d11955292aeb7a25ee9e36bc5cbe25811ae62b9802a39a36a3113e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/falkon-23.08.0.tar.xz">falkon-23.08.0</a></td>
   <td align="right">2511kB</td>
   <td><tt>62a586e8f8c25402400a38d002e8cf70b6f45377dada02bf54cb87a847b1e571</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/ffmpegthumbs-23.08.0.tar.xz">ffmpegthumbs-23.08.0</a></td>
   <td align="right">32kB</td>
   <td><tt>d0e25a90109416636d50a015e2d91c3745bb7cfe1fc2d80f124f05914be5beed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/filelight-23.08.0.tar.xz">filelight-23.08.0</a></td>
   <td align="right">682kB</td>
   <td><tt>2c16cff975b8d292061524c28700c641da7ce129e9937c984af5ef288bb776e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/ghostwriter-23.08.0.tar.xz">ghostwriter-23.08.0</a></td>
   <td align="right">3537kB</td>
   <td><tt>c4f7ef72de068b2e57abb35e1b6ea2fc8503f09f784c3ec2a6c0f5d15b58acaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/granatier-23.08.0.tar.xz">granatier-23.08.0</a></td>
   <td align="right">2063kB</td>
   <td><tt>99cb6347669303541da9bcd2232c1951834a0154172e245aa5b1b205b61cdb43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/grantlee-editor-23.08.0.tar.xz">grantlee-editor-23.08.0</a></td>
   <td align="right">114kB</td>
   <td><tt>eb08c3ee3afcf6b4118639571d73b510960b42842e1659b69e2c541faca06d5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/grantleetheme-23.08.0.tar.xz">grantleetheme-23.08.0</a></td>
   <td align="right">61kB</td>
   <td><tt>fa944bab73881da5dcfc2f55c25766d5511f3a5b6d4eddeedca2c587bf5300d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/gwenview-23.08.0.tar.xz">gwenview-23.08.0</a></td>
   <td align="right">6739kB</td>
   <td><tt>027fde3f87cd8aba6ba4214031afbf7797dc23b5831293ed6a85cc1df2188aa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/incidenceeditor-23.08.0.tar.xz">incidenceeditor-23.08.0</a></td>
   <td align="right">554kB</td>
   <td><tt>f6ba29f4cddd2e536e0c00ecaba5752d452406c175f3bc08068e67fa70313bdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/itinerary-23.08.0.tar.xz">itinerary-23.08.0</a></td>
   <td align="right">618kB</td>
   <td><tt>c598f620f4a9fc2107664537cf86bc85c6ec564c40ce30ac4fce342f4eab0779</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/juk-23.08.0.tar.xz">juk-23.08.0</a></td>
   <td align="right">2031kB</td>
   <td><tt>81314b54a7afcd40cb198e01d98674904b329d4accae2ac1b296c81d44beb711</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/k3b-23.08.0.tar.xz">k3b-23.08.0</a></td>
   <td align="right">10709kB</td>
   <td><tt>e643feca11d5e6e43b05e00359aee5e01920e25b04ff0e5a126b98395ca77cff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kaccounts-integration-23.08.0.tar.xz">kaccounts-integration-23.08.0</a></td>
   <td align="right">86kB</td>
   <td><tt>6f9cddca5dd029c2e97e2ddd3e286865c50fb14210f1225393f27ed3a4bcc9af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kaccounts-providers-23.08.0.tar.xz">kaccounts-providers-23.08.0</a></td>
   <td align="right">64kB</td>
   <td><tt>50ff9336acb5db4809485fcda0629dd549dec5744767995ae62e1b54c2075b22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kaddressbook-23.08.0.tar.xz">kaddressbook-23.08.0</a></td>
   <td align="right">3375kB</td>
   <td><tt>21978688b6f4b220323649b8d806f121e49dd56c168746f55e8656df25ff83ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kajongg-23.08.0.tar.xz">kajongg-23.08.0</a></td>
   <td align="right">4470kB</td>
   <td><tt>b2a03c1a127492ba975a2b4826a3ff2247b5452df52d7a2ecf2dc7f09ce9eff4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kalarm-23.08.0.tar.xz">kalarm-23.08.0</a></td>
   <td align="right">2534kB</td>
   <td><tt>deaaa46d7116160491aa33d19174ff1102faf1c40d8991d3db07ebf18ab4f071</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kalgebra-23.08.0.tar.xz">kalgebra-23.08.0</a></td>
   <td align="right">1012kB</td>
   <td><tt>39cd5d151f612c3dfc83135f931f51ceafab97bb75f075d7930eb02ab3853f67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kalk-23.08.0.tar.xz">kalk-23.08.0</a></td>
   <td align="right">82kB</td>
   <td><tt>0f5939fc9b69205b30b4e9e7eccb34d3f8de3616e088d7c68e2a087d7c785196</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kalzium-23.08.0.tar.xz">kalzium-23.08.0</a></td>
   <td align="right">24063kB</td>
   <td><tt>1e9d23675c93ad559b57e6f98c8b9f47366459d66a1e792860836f4dd84c466e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kamera-23.08.0.tar.xz">kamera-23.08.0</a></td>
   <td align="right">127kB</td>
   <td><tt>38abc2952e578c3eaee0c0a81fc19f4de35b2fe2a7fb14b7620aa1202b6499c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kamoso-23.08.0.tar.xz">kamoso-23.08.0</a></td>
   <td align="right">226kB</td>
   <td><tt>b29c853357d0fd7383e454fe7eb4b2293b5aa4824926193e660019dff57ffbc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kanagram-23.08.0.tar.xz">kanagram-23.08.0</a></td>
   <td align="right">7876kB</td>
   <td><tt>36d139cd98c6ae1b17580440c76048764e93806bfd5595ce52d9a55ecb93caa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kapman-23.08.0.tar.xz">kapman-23.08.0</a></td>
   <td align="right">2423kB</td>
   <td><tt>90bffde2811548faa9d3ba37aaf171780889025aeae23716edc84b2a0e17ec08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kapptemplate-23.08.0.tar.xz">kapptemplate-23.08.0</a></td>
   <td align="right">331kB</td>
   <td><tt>93a9564589fe03a6b3bdfca6718918ef04a4ee15d7ea1bf58716ac90135c53e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kasts-23.08.0.tar.xz">kasts-23.08.0</a></td>
   <td align="right">550kB</td>
   <td><tt>56427ad9853a6a309245c5425d54b14dea785c6d3364d459e55d484e0bca5e69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kate-23.08.0.tar.xz">kate-23.08.0</a></td>
   <td align="right">7843kB</td>
   <td><tt>3e930d2cfe5cd1a7237ddcd29a42d060e871c05788fd562c3b3af5600c8d68b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/katomic-23.08.0.tar.xz">katomic-23.08.0</a></td>
   <td align="right">1417kB</td>
   <td><tt>88f6028ac8a5b3ca82f207402f0bc91ff4fee547d54383612db570a5b4f6392b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kbackup-23.08.0.tar.xz">kbackup-23.08.0</a></td>
   <td align="right">388kB</td>
   <td><tt>cafa01cd57951ab91907f1ec1bd45adbdf2bb3727585cdfb231a23a845ce2145</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kblackbox-23.08.0.tar.xz">kblackbox-23.08.0</a></td>
   <td align="right">537kB</td>
   <td><tt>7e33a8a2356459510ff07c7fd29953ad69f0f69153f000227b6533e221fbbeab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kblocks-23.08.0.tar.xz">kblocks-23.08.0</a></td>
   <td align="right">2058kB</td>
   <td><tt>14871763a56f8d0406ff807035d68d0c7fef11f11ba99575bfa8002e452425bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kbounce-23.08.0.tar.xz">kbounce-23.08.0</a></td>
   <td align="right">3461kB</td>
   <td><tt>5d2670d06dd51c72f8c6cf0757cb352bdfdd062ff9f2b8315258ee26faf49c8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kbreakout-23.08.0.tar.xz">kbreakout-23.08.0</a></td>
   <td align="right">2499kB</td>
   <td><tt>9d2c406eb5544cf2285d6ef1b1033610e680d15925270626d75cb9ae9c548dd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kbruch-23.08.0.tar.xz">kbruch-23.08.0</a></td>
   <td align="right">5523kB</td>
   <td><tt>4d6d747c838d10e298d6bf0b73a44ffb78852483686f809ead65e198fc5ff546</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kcachegrind-23.08.0.tar.xz">kcachegrind-23.08.0</a></td>
   <td align="right">900kB</td>
   <td><tt>7c577d3d2e7115c1461ca50f1b128996719222a19d4d102376420dcc2b510781</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kcalc-23.08.0.tar.xz">kcalc-23.08.0</a></td>
   <td align="right">427kB</td>
   <td><tt>ded207841f1dbb8a8373d94c7a014de17b893c06553fe9de9a871154c53eece0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kcalutils-23.08.0.tar.xz">kcalutils-23.08.0</a></td>
   <td align="right">343kB</td>
   <td><tt>fe49f59c44383d3fa0df69fa444d5283749beec7a59f0db1dac1e20b480317f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kcharselect-23.08.0.tar.xz">kcharselect-23.08.0</a></td>
   <td align="right">374kB</td>
   <td><tt>c565517e53511869c998ca6aff7a9d4f602e9c47358f460bf89f0396c1f18a2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kclock-23.08.0.tar.xz">kclock-23.08.0</a></td>
   <td align="right">624kB</td>
   <td><tt>3cbb9075ff6c57b196a305b3ac73b4f81a48711b11505a308a47b5433d406123</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kcolorchooser-23.08.0.tar.xz">kcolorchooser-23.08.0</a></td>
   <td align="right">32kB</td>
   <td><tt>d781bec84bed93e687d604287de351484392c049a83c55970c153dde51f37d97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kcron-23.08.0.tar.xz">kcron-23.08.0</a></td>
   <td align="right">919kB</td>
   <td><tt>90ea69d9e9abe0d0d742db310f6e59f1db1f61301efb8be7b74d455b8f7a3ff9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kdebugsettings-23.08.0.tar.xz">kdebugsettings-23.08.0</a></td>
   <td align="right">104kB</td>
   <td><tt>8d588a379025fe4165760d8ac959a89cecf0141bdee8424d715ecb52ac4310a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kdeconnect-kde-23.08.0.tar.xz">kdeconnect-kde-23.08.0</a></td>
   <td align="right">639kB</td>
   <td><tt>8b41c674f99929efa1c5b85c30bd3fa07d242d32c9065dd6d422a5802601d5e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kde-dev-scripts-23.08.0.tar.xz">kde-dev-scripts-23.08.0</a></td>
   <td align="right">365kB</td>
   <td><tt>a0cf79f158b6d63a761f1956349d376e9eed9b2e1f7d27d13baf53d3af0cb155</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kde-dev-utils-23.08.0.tar.xz">kde-dev-utils-23.08.0</a></td>
   <td align="right">72kB</td>
   <td><tt>11e4dacf2610ac1c9d2a49bb590be446498f6548f52db3d29d6484bcf8670374</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kdeedu-data-23.08.0.tar.xz">kdeedu-data-23.08.0</a></td>
   <td align="right">325kB</td>
   <td><tt>8d007c378f8546f34e8b02a75a9491e3aae6b6dbcdcf12030adb6e150b83428c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kdegraphics-mobipocket-23.08.0.tar.xz">kdegraphics-mobipocket-23.08.0</a></td>
   <td align="right">12kB</td>
   <td><tt>15adc68f91b7eb873ccc3db09a1ae8e1a2c5d498455162b2c52cca97be7979fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kdegraphics-thumbnailers-23.08.0.tar.xz">kdegraphics-thumbnailers-23.08.0</a></td>
   <td align="right">48kB</td>
   <td><tt>a0882999353e283bd8ebada4b04bcd919997e906c12a1110d64d1b29e0345433</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kde-inotify-survey-23.08.0.tar.xz">kde-inotify-survey-23.08.0</a></td>
   <td align="right">224kB</td>
   <td><tt>38c26646f6e6afb50a8d23954d435725b05054897d7136e4a8659e9517cd88c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kdenetwork-filesharing-23.08.0.tar.xz">kdenetwork-filesharing-23.08.0</a></td>
   <td align="right">468kB</td>
   <td><tt>ced72981e38deccef00c800a214ece53ea689c11554308c9a13b9af536d9392a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kdenlive-23.08.0.tar.xz">kdenlive-23.08.0</a></td>
   <td align="right">12392kB</td>
   <td><tt>5f63f6cc1d7f7578014ef0fdb3f20e85254f05d7066911329ce568b967e4d207</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kdepim-addons-23.08.0.tar.xz">kdepim-addons-23.08.0</a></td>
   <td align="right">2580kB</td>
   <td><tt>615fbecfb12c57c54b8d853a0be68f337b9c3e380f257fe468d442bddfaf2ea1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kdepim-runtime-23.08.0.tar.xz">kdepim-runtime-23.08.0</a></td>
   <td align="right">1819kB</td>
   <td><tt>91e2b4ee4552e442da994d14cdd35bc6bca8a4487751d9815852d7fdf1d2229a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kdesdk-kio-23.08.0.tar.xz">kdesdk-kio-23.08.0</a></td>
   <td align="right">39kB</td>
   <td><tt>08d166f850b5481929f4d78523e4e4047ce34e9f6b2cbb5403e61a5cd7fc959f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kdesdk-thumbnailers-23.08.0.tar.xz">kdesdk-thumbnailers-23.08.0</a></td>
   <td align="right">26kB</td>
   <td><tt>3561efd2f45f02c3b39fdae231cfafb18419f7bf6698336ac9e162b5432eada9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kdevelop-23.08.0.tar.xz">kdevelop-23.08.0</a></td>
   <td align="right">8501kB</td>
   <td><tt>307c99359ba435a530ec7ff86d9e80aaff5650c6c0b8ea126d392b46147aee6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kdev-php-23.08.0.tar.xz">kdev-php-23.08.0</a></td>
   <td align="right">1062kB</td>
   <td><tt>6f7a737c6feabed8970375cd9264c503c17ee648c3f9ca10b071d8beee679d37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kdev-python-23.08.0.tar.xz">kdev-python-23.08.0</a></td>
   <td align="right">1071kB</td>
   <td><tt>bd5a1f804336ca61d8e62e316ac1089af4d0b7e81aa92662b426ac8996e01fe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kdf-23.08.0.tar.xz">kdf-23.08.0</a></td>
   <td align="right">480kB</td>
   <td><tt>b8656734c2d21e00ab865c5c1b0cbee84c4539d731db8dafc0de21bd8e72aff4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kdialog-23.08.0.tar.xz">kdialog-23.08.0</a></td>
   <td align="right">139kB</td>
   <td><tt>1650943f3c21a6213e4db347ca5b29d8278b2842d9a0f6108f629c1d408b95c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kdiamond-23.08.0.tar.xz">kdiamond-23.08.0</a></td>
   <td align="right">4598kB</td>
   <td><tt>c0127bdb74e3b1599ddd812c518b2ac50d51802a2b29ace99df99fff86e3445f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/keditbookmarks-23.08.0.tar.xz">keditbookmarks-23.08.0</a></td>
   <td align="right">233kB</td>
   <td><tt>c649ce47c28cc24f5a683b9a692ad1c67158c35c0f7b4cc17ddb0e77714071bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/keysmith-23.08.0.tar.xz">keysmith-23.08.0</a></td>
   <td align="right">159kB</td>
   <td><tt>0159d96968ea97708d0cca2665aaf1468fa37bd05d4d90266407552458ca40f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kfind-23.08.0.tar.xz">kfind-23.08.0</a></td>
   <td align="right">335kB</td>
   <td><tt>b1c88999d50e059ded2cf5adb85882a5be7ba0595130905b19d989111fa85e73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kfourinline-23.08.0.tar.xz">kfourinline-23.08.0</a></td>
   <td align="right">721kB</td>
   <td><tt>10566dc67bb423d6041f934739518ffaf9f0f6b180774f04a533aba8b21fbd9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kgeography-23.08.0.tar.xz">kgeography-23.08.0</a></td>
   <td align="right">12257kB</td>
   <td><tt>915b1061a0aaa0d3607bbc87336b45e69500e6defcf6d781f5511646eb38e9e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kget-23.08.0.tar.xz">kget-23.08.0</a></td>
   <td align="right">5433kB</td>
   <td><tt>168ce8fea7e0e66d21eb128c98f81377316e6cff1627e67692e2cb0f2f2bbef0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kgoldrunner-23.08.0.tar.xz">kgoldrunner-23.08.0</a></td>
   <td align="right">4790kB</td>
   <td><tt>cd93fa9c283236d5c6e49abca5524cc1af6bcdf6a6830030d5b1c7f02c80c5ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kgpg-23.08.0.tar.xz">kgpg-23.08.0</a></td>
   <td align="right">2974kB</td>
   <td><tt>6a84438a671a67797963ff125b9dee87917cdfda127ab8521cdb84bb8fd91893</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/khangman-23.08.0.tar.xz">khangman-23.08.0</a></td>
   <td align="right">7266kB</td>
   <td><tt>54b79842b9a5ccacdf918dedef909a0c9f43823d37d57ebba21dfc6082ab5af6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/khelpcenter-23.08.0.tar.xz">khelpcenter-23.08.0</a></td>
   <td align="right">4266kB</td>
   <td><tt>96715e06fc2f491fa447965bbd319cf5ca1f546dba7a5edce14a34d619243ebc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kidentitymanagement-23.08.0.tar.xz">kidentitymanagement-23.08.0</a></td>
   <td align="right">160kB</td>
   <td><tt>26e22b9cc1a3c68e1b057dca885912debc9083dc629169451d47f128985d1682</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kig-23.08.0.tar.xz">kig-23.08.0</a></td>
   <td align="right">3220kB</td>
   <td><tt>26d06dd2749286d18f11365d1b5b29f93cad66f54202c6d5ba46fcaeba73c5bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kigo-23.08.0.tar.xz">kigo-23.08.0</a></td>
   <td align="right">5142kB</td>
   <td><tt>1cfcf1edd0be025e52bea64f199e1d4e6e61873712b4fc57d84a0cea696090ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/killbots-23.08.0.tar.xz">killbots-23.08.0</a></td>
   <td align="right">1174kB</td>
   <td><tt>dfb01a5a16520c186103f3b8a4ece0a795c5c230ab18ca7b5a213ffbc3ca1946</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kimagemapeditor-23.08.0.tar.xz">kimagemapeditor-23.08.0</a></td>
   <td align="right">1078kB</td>
   <td><tt>98a15260b415067e11d0940184b230ba60b19cf38d2cd6d754d1c2c7d8ba47d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kimap-23.08.0.tar.xz">kimap-23.08.0</a></td>
   <td align="right">127kB</td>
   <td><tt>8782cac26498155a311b409a4d5fcdc2b662d86ed8494a4d1b23db6ccdebc266</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kio-admin-23.08.0.tar.xz">kio-admin-23.08.0</a></td>
   <td align="right">34kB</td>
   <td><tt>ec068ceedbe2a2b5a414fb6ebcb49d37fae2f0552ab6cac1e1ec1d045222f494</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kio-extras-23.08.0.tar.xz">kio-extras-23.08.0</a></td>
   <td align="right">1396kB</td>
   <td><tt>5a1cebeef8ced99f22093be40a6081cbc57a750bd813598cb659b4d4c8264809</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kio-gdrive-23.08.0.tar.xz">kio-gdrive-23.08.0</a></td>
   <td align="right">77kB</td>
   <td><tt>9f55404c371cd59e513582b041b8ec3df52663a12723e94303d967efe1e1cfb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kio-zeroconf-23.08.0.tar.xz">kio-zeroconf-23.08.0</a></td>
   <td align="right">43kB</td>
   <td><tt>e227ce17a782802b9f8d14a638829c4381fece8eacb084c1fda84a940d9d40a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kipi-plugins-23.08.0.tar.xz">kipi-plugins-23.08.0</a></td>
   <td align="right">1527kB</td>
   <td><tt>174475355efb437fc79e7c393ae58eed4cf9fa76abeac5138ce5a14658a93a6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kirigami-gallery-23.08.0.tar.xz">kirigami-gallery-23.08.0</a></td>
   <td align="right">342kB</td>
   <td><tt>3d8431591c7e63913051af41c81939dce9b0d2b41ea513eb6c4fd3bed58f861a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kiriki-23.08.0.tar.xz">kiriki-23.08.0</a></td>
   <td align="right">361kB</td>
   <td><tt>fa4b03d2c81daa9c215f1e1fba3133d20368b627809bf5ecabbb76a487e1160c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kiten-23.08.0.tar.xz">kiten-23.08.0</a></td>
   <td align="right">11068kB</td>
   <td><tt>2ac340aa6f5db6d367afbfaefc0d159768bed36a9016892f17c2f0c8164c1dba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kitinerary-23.08.0.tar.xz">kitinerary-23.08.0</a></td>
   <td align="right">1878kB</td>
   <td><tt>392c8c2a1719da9bb5b32b03bdf90fe9e5405a1735bb17dfbb0beeec4985fed4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kjournald-23.08.0.tar.xz">kjournald-23.08.0</a></td>
   <td align="right">501kB</td>
   <td><tt>91b41d72c6753ffe926ce9d0ced140619b0870c7fe37e3ad6937d2fe4691aca6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kjumpingcube-23.08.0.tar.xz">kjumpingcube-23.08.0</a></td>
   <td align="right">329kB</td>
   <td><tt>29a196d0d92ba618e2574e7590c1d4f38a1f5ca60a61ea00608ea45807cf3f3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kldap-23.08.0.tar.xz">kldap-23.08.0</a></td>
   <td align="right">178kB</td>
   <td><tt>65085e92b197ebf3d1eb0baf6f7b5f3763b68fdbf6ae6c85167ab78c1a3d8590</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kleopatra-23.08.0.tar.xz">kleopatra-23.08.0</a></td>
   <td align="right">2615kB</td>
   <td><tt>b88f20217bd5f1855dda84c5304c015b5cc860a748f9deff28c488c50236255f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/klettres-23.08.0.tar.xz">klettres-23.08.0</a></td>
   <td align="right">46716kB</td>
   <td><tt>8dca964ea71ccd11c6a611fc919e98a9e265d9c2b394cb105d64d398e8ad16f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/klickety-23.08.0.tar.xz">klickety-23.08.0</a></td>
   <td align="right">1465kB</td>
   <td><tt>ff231cca66f367094327e08938a7d4ae30551006a77aa0180c1828223f701785</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/klines-23.08.0.tar.xz">klines-23.08.0</a></td>
   <td align="right">1697kB</td>
   <td><tt>b8e13d1319e27151331432a790b3b3e98b61f77ded8629e3e12803f14ecc812a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kmag-23.08.0.tar.xz">kmag-23.08.0</a></td>
   <td align="right">707kB</td>
   <td><tt>37d23f9c785ae47ee35e99de1d62c85252657574a85588c69568e7aad44f926b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kmahjongg-23.08.0.tar.xz">kmahjongg-23.08.0</a></td>
   <td align="right">4000kB</td>
   <td><tt>f94ec032d247384f4183f72156863dfd7b323352719ff7412beb6d1e59af40c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kmail-23.08.0.tar.xz">kmail-23.08.0</a></td>
   <td align="right">7471kB</td>
   <td><tt>a538cd16dcbd343e16318d1834cde2f1b84135ca2be86a9063408b0573fa5714</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kmail-account-wizard-23.08.0.tar.xz">kmail-account-wizard-23.08.0</a></td>
   <td align="right">180kB</td>
   <td><tt>ab09f8dba8e2a428649d0966e7e164c73d5ba28cc90f7420bea954503bc2c093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kmailtransport-23.08.0.tar.xz">kmailtransport-23.08.0</a></td>
   <td align="right">170kB</td>
   <td><tt>ef0ede439bc25acbd085917e4ac8573535a9b5d51a8b449fa53a5677e5c2ca45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kmbox-23.08.0.tar.xz">kmbox-23.08.0</a></td>
   <td align="right">28kB</td>
   <td><tt>441bbb3c13cb535a216feb411ffe5925f4ca668a679c3cc1c4260c2bf406baec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kmime-23.08.0.tar.xz">kmime-23.08.0</a></td>
   <td align="right">158kB</td>
   <td><tt>e472d4e0eb4d2fd43cad17265a38ee9cdb2dd0450b3f6a596b240209709aff7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kmines-23.08.0.tar.xz">kmines-23.08.0</a></td>
   <td align="right">985kB</td>
   <td><tt>f33b68ddba89e77eea361d40d4eaa648479c1b1b438ee5e1116d744b3be89983</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kmix-23.08.0.tar.xz">kmix-23.08.0</a></td>
   <td align="right">1180kB</td>
   <td><tt>13dd62562fbf3ebf45b6ce420c8a3b86e22bcb15e58d8625766d0f0a5ae77204</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kmousetool-23.08.0.tar.xz">kmousetool-23.08.0</a></td>
   <td align="right">126kB</td>
   <td><tt>c16b08c64edc352b4d32227a3a63a1ddec5282bca95f7b8ea17143265ac232da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kmouth-23.08.0.tar.xz">kmouth-23.08.0</a></td>
   <td align="right">2038kB</td>
   <td><tt>3d37c50281b6bb675d7f64d172af465944681df4618d33fe11a9a71b6c92330c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kmplot-23.08.0.tar.xz">kmplot-23.08.0</a></td>
   <td align="right">3026kB</td>
   <td><tt>ce9f80ca7cd744397acf3f1f8b1da129c785a74ce43fd5e5d2f213951007c045</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/knavalbattle-23.08.0.tar.xz">knavalbattle-23.08.0</a></td>
   <td align="right">1367kB</td>
   <td><tt>193f5cb1f1ce1cb01686aa572ca6d08f7da19c7b711ff5290dfff5ca16b9df6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/knetwalk-23.08.0.tar.xz">knetwalk-23.08.0</a></td>
   <td align="right">1079kB</td>
   <td><tt>f47aee2077062bb402e579dccc7151488d25844731c02cf027ce5b48b0210772</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/knights-23.08.0.tar.xz">knights-23.08.0</a></td>
   <td align="right">3251kB</td>
   <td><tt>a64610b28b2b2f87f0f9b02aba6fe3d3be62de6f81139a1ff126e6d8b6d654e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/knotes-23.08.0.tar.xz">knotes-23.08.0</a></td>
   <td align="right">368kB</td>
   <td><tt>18b3bc8eb64f431e2dc87f5d5db571a629fb127f21e54a65fd322bc40ef9bb0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/koko-23.08.0.tar.xz">koko-23.08.0</a></td>
   <td align="right">134kB</td>
   <td><tt>2d473afa9360e8f5bd0cc7cd0f983bb7e0e9da1cc86240c354e171d3119f27a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kolf-23.08.0.tar.xz">kolf-23.08.0</a></td>
   <td align="right">1044kB</td>
   <td><tt>8987c71c02e8d9c843e03922c7a1cc1b4608cad221cf35cedeac34faa8d9dfcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kollision-23.08.0.tar.xz">kollision-23.08.0</a></td>
   <td align="right">300kB</td>
   <td><tt>2b25b9c31123edf2ef04ed3c1c3d4b83a80429697183bd601e90233201f40e49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kolourpaint-23.08.0.tar.xz">kolourpaint-23.08.0</a></td>
   <td align="right">5649kB</td>
   <td><tt>1bc953c210e4be7bb3477169f55cd3e897d3b19ae5a8b277400dde6a87a9a3b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kompare-23.08.0.tar.xz">kompare-23.08.0</a></td>
   <td align="right">960kB</td>
   <td><tt>e1cb78eb6054c92e3febd7e32ef54724114ce97a6df91e9197bef671d55870ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kongress-23.08.0.tar.xz">kongress-23.08.0</a></td>
   <td align="right">575kB</td>
   <td><tt>93ba12af76e38624d45898a73c9a271264c72e3172e3b23aef92bcf4b7c2e39c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/konqueror-23.08.0.tar.xz">konqueror-23.08.0</a></td>
   <td align="right">9830kB</td>
   <td><tt>a31f9096745ea9169260bac0b818304e54999063ff0718798710a60e9eaaf9f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/konquest-23.08.0.tar.xz">konquest-23.08.0</a></td>
   <td align="right">854kB</td>
   <td><tt>975abedd1f031f777b2221d116414a76d06251d97ae8503d0cce14fb9ad71324</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/konsole-23.08.0.tar.xz">konsole-23.08.0</a></td>
   <td align="right">1784kB</td>
   <td><tt>31d26bd9454dcb93eb81222e83e91f1027164d578e9379bf81515d59f473fa9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kontact-23.08.0.tar.xz">kontact-23.08.0</a></td>
   <td align="right">854kB</td>
   <td><tt>99d9e7844d391a8ec013dc341efbb94ecab156972a1fc91b003db2798dabcd84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kontactinterface-23.08.0.tar.xz">kontactinterface-23.08.0</a></td>
   <td align="right">39kB</td>
   <td><tt>e3768f63b090098061445e58379283002fec1e7a8ca0e1c5c3ad7e0888609ee0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kontrast-23.08.0.tar.xz">kontrast-23.08.0</a></td>
   <td align="right">204kB</td>
   <td><tt>aa4b3beac42660e94d4fe59da3f6f88d1b2fd585590246017b578cb1d0141705</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/konversation-23.08.0.tar.xz">konversation-23.08.0</a></td>
   <td align="right">4372kB</td>
   <td><tt>1d1897c9ee9997da524f41813d1174b59d87bbb5efbae24a1c65227aaf4b54fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kopeninghours-23.08.0.tar.xz">kopeninghours-23.08.0</a></td>
   <td align="right">70kB</td>
   <td><tt>c9e3026a073afd2fe1373ad743ca40b9b1a2f0d27e57eb2f4d78ed91304e7d97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kopete-23.08.0.tar.xz">kopete-23.08.0</a></td>
   <td align="right">9906kB</td>
   <td><tt>09399e7645ffbc4b7fa25f96af1d9870eb9d16dab21ece64e4d61fbc467e5e8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/korganizer-23.08.0.tar.xz">korganizer-23.08.0</a></td>
   <td align="right">2480kB</td>
   <td><tt>8892adc212180c45897d563cfe5c1914d773776577a022b2f475d903901c41a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kosmindoormap-23.08.0.tar.xz">kosmindoormap-23.08.0</a></td>
   <td align="right">367kB</td>
   <td><tt>4dcd66f6004258c33cdb172f411790eadbedc265a54b70d7eabc91a5573e30f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kpat-23.08.0.tar.xz">kpat-23.08.0</a></td>
   <td align="right">3663kB</td>
   <td><tt>97f1637d2b1e46c1b14f998006b0a2cf2dc33d264d4250297e06d2f9dbf3f4e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kpimtextedit-23.08.0.tar.xz">kpimtextedit-23.08.0</a></td>
   <td align="right">295kB</td>
   <td><tt>63367a4a173536a91b7186813aea5b6b42bf88724483e983a5b6c60e9a48b897</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kpkpass-23.08.0.tar.xz">kpkpass-23.08.0</a></td>
   <td align="right">28kB</td>
   <td><tt>9713707e416e3351ec6344e0a428074c1927f5a53b335966b1c95b4cf07f460b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kpmcore-23.08.0.tar.xz">kpmcore-23.08.0</a></td>
   <td align="right">608kB</td>
   <td><tt>8d327ac4761a00f75a6f18e57f4d2f30ab464067141df3ef193b9c841c679387</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kpublictransport-23.08.0.tar.xz">kpublictransport-23.08.0</a></td>
   <td align="right">555kB</td>
   <td><tt>cf395c2a28f2df5454875523c061d3e661ca6cab5d00df1400b85f9ae467f253</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kqtquickcharts-23.08.0.tar.xz">kqtquickcharts-23.08.0</a></td>
   <td align="right">30kB</td>
   <td><tt>d451bae3ab93b1ec8f552069fb7ecd0cebe982e9d818efb10d3c1ff65e173275</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/krdc-23.08.0.tar.xz">krdc-23.08.0</a></td>
   <td align="right">1590kB</td>
   <td><tt>5d8f2be1ed4f51e58b49ae62c4bfc0ac26246b8a8529c2ac6b32ce84081228c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/krecorder-23.08.0.tar.xz">krecorder-23.08.0</a></td>
   <td align="right">157kB</td>
   <td><tt>a6c237349bdb22bf0dd39ee29ecc17e8213eae791e04b82ebe7fe70d7cc1161d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kreversi-23.08.0.tar.xz">kreversi-23.08.0</a></td>
   <td align="right">1052kB</td>
   <td><tt>da9c02a001707c99772f8722ca687ccf66e04a6d52a2286e677a6e77223991ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/krfb-23.08.0.tar.xz">krfb-23.08.0</a></td>
   <td align="right">1288kB</td>
   <td><tt>c0440fe9109578767b1513f44e165601a64a660f7b546dbcff7477b07cf9b848</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kross-interpreters-23.08.0.tar.xz">kross-interpreters-23.08.0</a></td>
   <td align="right">148kB</td>
   <td><tt>f0a0d4df0a0504a29b8a3c6d83edf5c2a547e8df5092e7740a13ed42a941b425</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kruler-23.08.0.tar.xz">kruler-23.08.0</a></td>
   <td align="right">280kB</td>
   <td><tt>0a5ac79e1bac5f378560ff722b94fd10bb86858f5fbaad5b4c8fd5b2b58b1e04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/ksanecore-23.08.0.tar.xz">ksanecore-23.08.0</a></td>
   <td align="right">48kB</td>
   <td><tt>56bf27ca19b89eb73ed8c648e2ce1db1f822562009729946a589640f1231bdda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kshisen-23.08.0.tar.xz">kshisen-23.08.0</a></td>
   <td align="right">984kB</td>
   <td><tt>b67072105559ece54a388d455a1cd12f50e0a2cdec64378abbd5e88fc7248cdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/ksirk-23.08.0.tar.xz">ksirk-23.08.0</a></td>
   <td align="right">6882kB</td>
   <td><tt>d1a1074836c851568ccf451da16af48e5fad46e66e35daf71e6829a6d7922b77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/ksmtp-23.08.0.tar.xz">ksmtp-23.08.0</a></td>
   <td align="right">49kB</td>
   <td><tt>b9aa0c661799ced80c8c6bc10c83882698861f3b68f8b5eb222124b8f20fd44d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/ksnakeduel-23.08.0.tar.xz">ksnakeduel-23.08.0</a></td>
   <td align="right">588kB</td>
   <td><tt>1231483d5d4b7185ec15ecd9af8e0491c4d973d96789042bfd642e4ff0a517e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kspaceduel-23.08.0.tar.xz">kspaceduel-23.08.0</a></td>
   <td align="right">644kB</td>
   <td><tt>dc77fb65a37fd887494b49fd2f709c8d49193371ad1277e6e39beaf53bd2d105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/ksquares-23.08.0.tar.xz">ksquares-23.08.0</a></td>
   <td align="right">305kB</td>
   <td><tt>2054a60ed6fec6932da9ebe21b3fc1dc368536f4d55ac2c5c221e9b73f1acffa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/ksudoku-23.08.0.tar.xz">ksudoku-23.08.0</a></td>
   <td align="right">1662kB</td>
   <td><tt>35f19136a43a54a3a6669b11cd700751a0c3623933bad42513063cbfb9cce233</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/ksystemlog-23.08.0.tar.xz">ksystemlog-23.08.0</a></td>
   <td align="right">1957kB</td>
   <td><tt>7d48f37adaf61c148527400ca0fbd45206e298e2716075b4b1871e712fb30c4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kteatime-23.08.0.tar.xz">kteatime-23.08.0</a></td>
   <td align="right">305kB</td>
   <td><tt>41b6428adae522a8c54cf6906205dde90c241ef3f5b193dda889ce2d81a7895b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/ktimer-23.08.0.tar.xz">ktimer-23.08.0</a></td>
   <td align="right">395kB</td>
   <td><tt>4c6fba281f6e517b4eb9b88d90acc2279e43624173e096dbdab9aa91bb83b419</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/ktnef-23.08.0.tar.xz">ktnef-23.08.0</a></td>
   <td align="right">302kB</td>
   <td><tt>8186e45771df597c3a69f7ec384420aea27ef5bb451cf6bd48c3bcf257c3cb03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/ktorrent-23.08.0.tar.xz">ktorrent-23.08.0</a></td>
   <td align="right">2103kB</td>
   <td><tt>190858bd7a3c562a0404e756654b7b947b4541b685f17729bd61ce9423351711</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/ktouch-23.08.0.tar.xz">ktouch-23.08.0</a></td>
   <td align="right">4919kB</td>
   <td><tt>d87ae4bb2885af2ca549e5a993b93a2f45074df3ae30efb09361ba421204a578</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/ktrip-23.08.0.tar.xz">ktrip-23.08.0</a></td>
   <td align="right">248kB</td>
   <td><tt>d7651c1644f6e8934b083e7de763a0f852bfba3269185f3aabe44604e59c7df8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/ktuberling-23.08.0.tar.xz">ktuberling-23.08.0</a></td>
   <td align="right">69728kB</td>
   <td><tt>c7ff8f0eacc0487c3991ba615852acdfca37a6c76b620dedede052b52f2387f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kturtle-23.08.0.tar.xz">kturtle-23.08.0</a></td>
   <td align="right">2190kB</td>
   <td><tt>9b56a1e8688174325b52aea5915a36c49f48fca0aa867deb3fdb767e95719318</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kubrick-23.08.0.tar.xz">kubrick-23.08.0</a></td>
   <td align="right">340kB</td>
   <td><tt>1b5f0a7b5a637140e93e9981deac53938c5e5bf08ec211320255c65b073d1078</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kwalletmanager-23.08.0.tar.xz">kwalletmanager-23.08.0</a></td>
   <td align="right">831kB</td>
   <td><tt>d8e1f2137b541d4aa88e57d30ee77223f47c0e9fa63a308941287bb81012c341</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kwave-23.08.0.tar.xz">kwave-23.08.0</a></td>
   <td align="right">6801kB</td>
   <td><tt>c403dba9b19540037b2a5e158dcb030f3115789c36564affde6c289f30434728</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kweather-23.08.0.tar.xz">kweather-23.08.0</a></td>
   <td align="right">922kB</td>
   <td><tt>058312707300f29dfd932774c7cdd3aad7d27c5dcda0f710dd1ddd2969bdd503</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/kwordquiz-23.08.0.tar.xz">kwordquiz-23.08.0</a></td>
   <td align="right">3985kB</td>
   <td><tt>4fa4a103a3486826e1e29eda35f7365f896d29a25ac646dac88097eb3b82f4d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/libgravatar-23.08.0.tar.xz">libgravatar-23.08.0</a></td>
   <td align="right">35kB</td>
   <td><tt>4388480392a31b3dbb1d09b428eec0c76865609c3d2fd6c476b97dae9ea414ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/libkcddb-23.08.0.tar.xz">libkcddb-23.08.0</a></td>
   <td align="right">440kB</td>
   <td><tt>643f23d2f950db22fd4ee98b6a92d9d63c7906ea3f68bdbfd1a8f8ea70f1715e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/libkcompactdisc-23.08.0.tar.xz">libkcompactdisc-23.08.0</a></td>
   <td align="right">97kB</td>
   <td><tt>eeda55f8c9f8a8fff2802ac9bda7207ec424ee45fd20e4f6b1a77528023bc754</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/libkdcraw-23.08.0.tar.xz">libkdcraw-23.08.0</a></td>
   <td align="right">36kB</td>
   <td><tt>a3cbb6df25a28003cddb47496c0831c7af2940dc4761a118db1b6c407100d847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/libkdegames-23.08.0.tar.xz">libkdegames-23.08.0</a></td>
   <td align="right">5847kB</td>
   <td><tt>8799c705256b8d8735070058ecc6dea72c54e2500f179d9654ec2a86e41bcb8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/libkdepim-23.08.0.tar.xz">libkdepim-23.08.0</a></td>
   <td align="right">278kB</td>
   <td><tt>2038f8477d40837a8c1e6da06c2aaec6914647481db192620295638a32680cee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/libkeduvocdocument-23.08.0.tar.xz">libkeduvocdocument-23.08.0</a></td>
   <td align="right">223kB</td>
   <td><tt>d637876608d6290b32f3e7d2004cabdf810057bc22c396ac93f3610b1a537245</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/libkexiv2-23.08.0.tar.xz">libkexiv2-23.08.0</a></td>
   <td align="right">59kB</td>
   <td><tt>5e476b9b3dd6dfed5b93194cea838359f20dc3ff1517cfa43ba602fbdd3f6b66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/libkgapi-23.08.0.tar.xz">libkgapi-23.08.0</a></td>
   <td align="right">327kB</td>
   <td><tt>979a8cb81d2a8e838f6975e6c30e6a6cfdc7c4bff12c15769ec74d639e70df66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/libkipi-23.08.0.tar.xz">libkipi-23.08.0</a></td>
   <td align="right">86kB</td>
   <td><tt>928ae3fe323231cbb78666fb9def552b8b8d77917f4adaa1f019401d3974e02f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/libkleo-23.08.0.tar.xz">libkleo-23.08.0</a></td>
   <td align="right">535kB</td>
   <td><tt>ccaf8b7ea9c16100ea5602be77b4661a582fddb6f14ede4c32ef23582cac0701</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/libkmahjongg-23.08.0.tar.xz">libkmahjongg-23.08.0</a></td>
   <td align="right">1648kB</td>
   <td><tt>08c18da4df11b48df69294eb50327543574f518b4b06be3e05ab365cfae3b8e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/libkomparediff2-23.08.0.tar.xz">libkomparediff2-23.08.0</a></td>
   <td align="right">183kB</td>
   <td><tt>54c8f30382aa85db97525ac11ad73aff59fbc273eb6161959041fda39e84e5e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/libksane-23.08.0.tar.xz">libksane-23.08.0</a></td>
   <td align="right">151kB</td>
   <td><tt>3155c8ce0f167734e130440be3f29c8c24409854b18b10e1e41c631fc9626ae0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/libksieve-23.08.0.tar.xz">libksieve-23.08.0</a></td>
   <td align="right">542kB</td>
   <td><tt>49f2dc1002590d6fb59fd06bc1ea5a5c36635b113a9f9470f71a5a46d328e27b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/libktorrent-23.08.0.tar.xz">libktorrent-23.08.0</a></td>
   <td align="right">589kB</td>
   <td><tt>0fc0ca8c2d22e07712f9b1c9653d53e9635165f041a2a76f30bcbfd8f23726f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/lokalize-23.08.0.tar.xz">lokalize-23.08.0</a></td>
   <td align="right">2090kB</td>
   <td><tt>4a733c5b28cdfbd5fb5f8dfa58bfdd42a4ad75fb1c46e1c2c3a6713687a2b08b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/lskat-23.08.0.tar.xz">lskat-23.08.0</a></td>
   <td align="right">1219kB</td>
   <td><tt>856e61d1e50a1d00076eea29b622483e590eb422fc15cd7ae03b31f629f85d87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/mailcommon-23.08.0.tar.xz">mailcommon-23.08.0</a></td>
   <td align="right">740kB</td>
   <td><tt>a42dcd0b5d5542d971b85d2ae683d902463d8fc4521d6e10b80738c93ac5a976</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/mailimporter-23.08.0.tar.xz">mailimporter-23.08.0</a></td>
   <td align="right">577kB</td>
   <td><tt>151c800013aab48f9d5fad68ed6454ef5b0dc2020612dc9681aec3e7f18aa302</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/marble-23.08.0.tar.xz">marble-23.08.0</a></td>
   <td align="right">52524kB</td>
   <td><tt>a11bf99d09ce87acf3f7c997df5e77a5125582f009cf034df6785fd81af55bb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/markdownpart-23.08.0.tar.xz">markdownpart-23.08.0</a></td>
   <td align="right">30kB</td>
   <td><tt>d6970f5c19a083e357d80e09c65fec009ba81988f79bdd7a38cf4249ed7eb235</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/mbox-importer-23.08.0.tar.xz">mbox-importer-23.08.0</a></td>
   <td align="right">29kB</td>
   <td><tt>92ee173f5d1a1b0fc8c731529d2d869c7fc8703b0a5d6ef3192ed70c6a2109e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/merkuro-23.08.0.tar.xz">merkuro-23.08.0</a></td>
   <td align="right">950kB</td>
   <td><tt>2aea56404f2b2a88151a81bef4ea2c187a2435cc0828ab5fc7806f914a973977</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/messagelib-23.08.0.tar.xz">messagelib-23.08.0</a></td>
   <td align="right">11059kB</td>
   <td><tt>5e1af42ebc944b1bb21c9574331ef39a755f27d51b5a127b31a55a104dd51fb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/minuet-23.08.0.tar.xz">minuet-23.08.0</a></td>
   <td align="right">27040kB</td>
   <td><tt>0661ded99e9bf461d05be6e0484fbcbd08da20ed0a059549fb6c91ad4c3e8a3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/neochat-23.08.0.tar.xz">neochat-23.08.0</a></td>
   <td align="right">759kB</td>
   <td><tt>4ead1a9fa308e53173229a744075c59580ed3364bd206a08c07d9db163758bfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/okular-23.08.0.tar.xz">okular-23.08.0</a></td>
   <td align="right">8313kB</td>
   <td><tt>9b46c544f975085298ee7978d552d3078c903a12611a6dbd038fc2b525996838</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/palapeli-23.08.0.tar.xz">palapeli-23.08.0</a></td>
   <td align="right">2062kB</td>
   <td><tt>340ca8d5730743ece11fa18f98722bb64206a90c7d3f7a445bc7ff2d24eb9da5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/parley-23.08.0.tar.xz">parley-23.08.0</a></td>
   <td align="right">8396kB</td>
   <td><tt>1c213b58e73eaece3605e08e9799d0fb08745aa36926f2783d26d80b62ad84a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/partitionmanager-23.08.0.tar.xz">partitionmanager-23.08.0</a></td>
   <td align="right">2097kB</td>
   <td><tt>7c7ce059f7f4b511aaf2de15fcb3eb3e219b651d872356872e900256879af206</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/picmi-23.08.0.tar.xz">picmi-23.08.0</a></td>
   <td align="right">1504kB</td>
   <td><tt>3eade1d234f2964ff1b9161707dd3d1cd474dce0d9ea43d38f9afb12ffd9d9fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/pimcommon-23.08.0.tar.xz">pimcommon-23.08.0</a></td>
   <td align="right">340kB</td>
   <td><tt>bb81856d1bc1bb3e2fd00198f2429e6d0ace04b294b1167a61b386a294f424e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/pim-data-exporter-23.08.0.tar.xz">pim-data-exporter-23.08.0</a></td>
   <td align="right">417kB</td>
   <td><tt>ae522a0deb7ae1ef7a24948409fd4e4e9e4cb0427a9703097c7d37356dcc360f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/pim-sieve-editor-23.08.0.tar.xz">pim-sieve-editor-23.08.0</a></td>
   <td align="right">455kB</td>
   <td><tt>5519d96c0b94c0884caec900d5dc6d82e60f89ef19ec191fbad2048a4a02e5c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/plasmatube-23.08.0.tar.xz">plasmatube-23.08.0</a></td>
   <td align="right">81kB</td>
   <td><tt>acd42208ad618567e56ee1a4c92f72631de413ce8c561396ec6891f174fd1dcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/poxml-23.08.0.tar.xz">poxml-23.08.0</a></td>
   <td align="right">43kB</td>
   <td><tt>1745079fc047306a3c79f3fa7a9b6c063ad542cce5dc0a5acf4d9709fe021683</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/print-manager-23.08.0.tar.xz">print-manager-23.08.0</a></td>
   <td align="right">282kB</td>
   <td><tt>9ba1b2c4c4f3cc52b61dfa9f63c352f612300ae3e4457e86b69f87871f5fe426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/qmlkonsole-23.08.0.tar.xz">qmlkonsole-23.08.0</a></td>
   <td align="right">58kB</td>
   <td><tt>8f4610520d4dde3083e304d3ba6eb1877755de32bc1e4808a3918f0c166cdf77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/rocs-23.08.0.tar.xz">rocs-23.08.0</a></td>
   <td align="right">1533kB</td>
   <td><tt>b8cf105131cfc6f19e06cb1fa4fcd42b510f304f7cd2f2afc28b7fbcd4de0a96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/signon-kwallet-extension-23.08.0.tar.xz">signon-kwallet-extension-23.08.0</a></td>
   <td align="right">10kB</td>
   <td><tt>a1b879765bdab9fbbb97b7d3e8dacfbd9f90b81d4238966c430862516c4dd743</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/skanlite-23.08.0.tar.xz">skanlite-23.08.0</a></td>
   <td align="right">2392kB</td>
   <td><tt>4634bac9efaab27449bbd966c64ce5391152503b3e48fdd051bafb59d446d488</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/skanpage-23.08.0.tar.xz">skanpage-23.08.0</a></td>
   <td align="right">1281kB</td>
   <td><tt>01ae2e721384150b67c0c042189de1781d06aa4bb86bbd309d519feb41b8f2f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/spectacle-23.08.0.tar.xz">spectacle-23.08.0</a></td>
   <td align="right">1319kB</td>
   <td><tt>383b1e7a38d7f70cce66452a6e47678718a3201e0e0a104323aeb8c97de2c1ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/step-23.08.0.tar.xz">step-23.08.0</a></td>
   <td align="right">971kB</td>
   <td><tt>1b7b7fe5abd843092884fd5c60afbd244fe87c8d9640a2ab0711fe9f0e2d0b8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/svgpart-23.08.0.tar.xz">svgpart-23.08.0</a></td>
   <td align="right">28kB</td>
   <td><tt>556a3b115a9339a3bbde582145afd92f4b220f68c24032eb323f3711e1d15e52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/sweeper-23.08.0.tar.xz">sweeper-23.08.0</a></td>
   <td align="right">389kB</td>
   <td><tt>6ac709de3ab720b3faeea6af5bae681bee2760fc9a1821b869e700f7131173bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/telly-skout-23.08.0.tar.xz">telly-skout-23.08.0</a></td>
   <td align="right">94kB</td>
   <td><tt>f5ab3335883fd27745af4d3f96e24a5f115e06726747d1c5cf97f9b41a1520b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/tokodon-23.08.0.tar.xz">tokodon-23.08.0</a></td>
   <td align="right">309kB</td>
   <td><tt>50c8c6c34d7fdb41312fe132cdeb2a507e55274a879e432f68b1de92b6e98bb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/umbrello-23.08.0.tar.xz">umbrello-23.08.0</a></td>
   <td align="right">5638kB</td>
   <td><tt>cbb9717ca99576646b63252f725e194f9291d8a3b2f9acbcdcc58e1729f84a2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/yakuake-23.08.0.tar.xz">yakuake-23.08.0</a></td>
   <td align="right">418kB</td>
   <td><tt>05836c72d7cc4d27f2069b45137d250fdbd73c108013af53e74de62c39cbe2e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.0/src/zanshin-23.08.0.tar.xz">zanshin-23.08.0</a></td>
   <td align="right">352kB</td>
   <td><tt>ddd0e10c4db9b5409d5f0326ed179544e4b7ab83bcbb8e6a71d91a7e8fa88407</tt></td>
</tr>

</table>
