<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/akonadi-15.08.3.tar.xz">akonadi-15.08.3</a></td>
   <td align="right">272kB</td>
   <td><tt>14814ee740fc230d3d2ef9c3df2a21cfe4c9fcc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/akonadi-calendar-15.08.3.tar.xz">akonadi-calendar-15.08.3</a></td>
   <td align="right">112kB</td>
   <td><tt>0cbb3985970e43f36bf585bd1d9ed04093f9a24d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/akonadi-search-15.08.3.tar.xz">akonadi-search-15.08.3</a></td>
   <td align="right">59kB</td>
   <td><tt>414510f627fe019d27592d89d6e17925c8dad313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/amor-15.08.3.tar.xz">amor-15.08.3</a></td>
   <td align="right">171kB</td>
   <td><tt>d8e4550e987a6df59abf75f22df99b3fab1e8ed3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/analitza-15.08.3.tar.xz">analitza-15.08.3</a></td>
   <td align="right">222kB</td>
   <td><tt>f9135419616bcb388ea2c9709f051b71d683d33d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ark-15.08.3.tar.xz">ark-15.08.3</a></td>
   <td align="right">219kB</td>
   <td><tt>be62664592e43a6b8bb24e08726644d7be52f2bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/artikulate-15.08.3.tar.xz">artikulate-15.08.3</a></td>
   <td align="right">3.6MB</td>
   <td><tt>e3b582edfd43686d5fe1adfbf442779758b7ffc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/audiocd-kio-15.08.3.tar.xz">audiocd-kio-15.08.3</a></td>
   <td align="right">50kB</td>
   <td><tt>ab72efc508b553fcc5c4e53981974f235aab4cc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/baloo-widgets-15.08.3.tar.xz">baloo-widgets-15.08.3</a></td>
   <td align="right">55kB</td>
   <td><tt>7d649463c33ec84e1b4dc911db93cddcfd248338</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/blinken-15.08.3.tar.xz">blinken-15.08.3</a></td>
   <td align="right">553kB</td>
   <td><tt>7639f694c05b86b39cc27ec3ef56284804cfe184</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/bomber-15.08.3.tar.xz">bomber-15.08.3</a></td>
   <td align="right">384kB</td>
   <td><tt>b529c411aabe0adaf1a560e01fd6b1ad9923509b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/bovo-15.08.3.tar.xz">bovo-15.08.3</a></td>
   <td align="right">102kB</td>
   <td><tt>4e6b82b456cbb6749cd6c54a4c34028c18978e73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/cantor-15.08.3.tar.xz">cantor-15.08.3</a></td>
   <td align="right">348kB</td>
   <td><tt>4e9f5632f16417e9ded39a46829420063bb2fc3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/cervisia-15.08.3.tar.xz">cervisia-15.08.3</a></td>
   <td align="right">364kB</td>
   <td><tt>e415675331dbbeb3a6621a6906d9edce71f030df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/dolphin-15.08.3.tar.xz">dolphin-15.08.3</a></td>
   <td align="right">641kB</td>
   <td><tt>5c599af632c5861769fc355da63d48c7d4e3e610</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/dolphin-plugins-15.08.3.tar.xz">dolphin-plugins-15.08.3</a></td>
   <td align="right">57kB</td>
   <td><tt>0c7185afff8205dd010098cdef67c35fb052fb71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/dragon-15.08.3.tar.xz">dragon-15.08.3</a></td>
   <td align="right">393kB</td>
   <td><tt>c9bd5f5e18f18030dc0380b0369635d5eee66981</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ffmpegthumbs-15.08.3.tar.xz">ffmpegthumbs-15.08.3</a></td>
   <td align="right">19kB</td>
   <td><tt>aac1425e966a4b552df1e217e2464fbd1624184c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/filelight-15.08.3.tar.xz">filelight-15.08.3</a></td>
   <td align="right">280kB</td>
   <td><tt>7f72a3c3fc10b1cf98e745248f22e80de1100ca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/gpgmepp-15.08.3.tar.xz">gpgmepp-15.08.3</a></td>
   <td align="right">65kB</td>
   <td><tt>bb28483afecefd56878dd8cdb8e4ac83a68774d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/granatier-15.08.3.tar.xz">granatier-15.08.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>2e7517f9cdadb1fe4350915d9152a10edf520209</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/gwenview-15.08.3.tar.xz">gwenview-15.08.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>2179d5962c2a0bf1e386fd1e05ea02829ff0e9de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/jovie-15.08.3.tar.xz">jovie-15.08.3</a></td>
   <td align="right">383kB</td>
   <td><tt>d6e152ed3c22e48e9cf32ec6f1328d8901387ce0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/juk-15.08.3.tar.xz">juk-15.08.3</a></td>
   <td align="right">434kB</td>
   <td><tt>a8f6f89ce815a277cbbd169f6e55057b15b1fd80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kaccessible-15.08.3.tar.xz">kaccessible-15.08.3</a></td>
   <td align="right">20kB</td>
   <td><tt>0e199a5b1e494115c29783d57621869d53bb1ad7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kaccounts-integration-15.08.3.tar.xz">kaccounts-integration-15.08.3</a></td>
   <td align="right">54kB</td>
   <td><tt>ac46dd6b4f08a7644e1075cdf0d1f95f22100a2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kaccounts-providers-15.08.3.tar.xz">kaccounts-providers-15.08.3</a></td>
   <td align="right">11kB</td>
   <td><tt>eb6a855639d54ae331e88680cd5a8caae0118368</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kajongg-15.08.3.tar.xz">kajongg-15.08.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>3e02592d781fe9edc8215d027f017f07641665e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kalarmcal-15.08.3.tar.xz">kalarmcal-15.08.3</a></td>
   <td align="right">85kB</td>
   <td><tt>e8475e6374e95bd2ff77056270b93e0529967888</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kalgebra-15.08.3.tar.xz">kalgebra-15.08.3</a></td>
   <td align="right">263kB</td>
   <td><tt>10fb82462d0ebf5e4e1db39955295e511701f415</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kalzium-15.08.3.tar.xz">kalzium-15.08.3</a></td>
   <td align="right">3.7MB</td>
   <td><tt>504f0143b9cfc02660f292deb6dc65faf414e728</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kamera-15.08.3.tar.xz">kamera-15.08.3</a></td>
   <td align="right">34kB</td>
   <td><tt>571842c3028639ea8ad62140d479c49dc82c1165</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kanagram-15.08.3.tar.xz">kanagram-15.08.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>791a1c41789082cb0cdea44a4de722e9aeb9317e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kapman-15.08.3.tar.xz">kapman-15.08.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c7be54b0c900629045773aebdeb56a47650ccea3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kapptemplate-15.08.3.tar.xz">kapptemplate-15.08.3</a></td>
   <td align="right">689kB</td>
   <td><tt>27198b1182005ed37cffa9d9b08876d2445959df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kate-15.08.3.tar.xz">kate-15.08.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>df6d4fbfb5af79aa67051b1967fb00aecefcd920</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/katomic-15.08.3.tar.xz">katomic-15.08.3</a></td>
   <td align="right">646kB</td>
   <td><tt>4916367487a6eef3efd97e13e0f4ee0fa631d827</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kblackbox-15.08.3.tar.xz">kblackbox-15.08.3</a></td>
   <td align="right">255kB</td>
   <td><tt>6e10ff2f1379018bc14d9f8e60d2206bf6cf1e35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kblocks-15.08.3.tar.xz">kblocks-15.08.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a72a846cf28b2a321b0b79ca5e6516e772de47df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kblog-15.08.3.tar.xz">kblog-15.08.3</a></td>
   <td align="right">42kB</td>
   <td><tt>cf19f7a11a38cd28612a39e3d732a5c0ecfb37b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kbounce-15.08.3.tar.xz">kbounce-15.08.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>bf71b12c9c6ef72c96ed576a13594cd9a2409406</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kbreakout-15.08.3.tar.xz">kbreakout-15.08.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d92a2e477d648a5aaa42826450e46759ba335d45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kbruch-15.08.3.tar.xz">kbruch-15.08.3</a></td>
   <td align="right">883kB</td>
   <td><tt>680e9124004dee403552d5183bdcecbeedd17a54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kcachegrind-15.08.3.tar.xz">kcachegrind-15.08.3</a></td>
   <td align="right">232kB</td>
   <td><tt>e142d2c49bbe74ec4aa9dd36085a5744a0145e3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kcalc-15.08.3.tar.xz">kcalc-15.08.3</a></td>
   <td align="right">81kB</td>
   <td><tt>c4606519089f252df610d9cb96867d4abf72fe21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kcalcore-15.08.3.tar.xz">kcalcore-15.08.3</a></td>
   <td align="right">288kB</td>
   <td><tt>88d0289951e38c62225f8c42f0272d25bc9997e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kcalutils-15.08.3.tar.xz">kcalutils-15.08.3</a></td>
   <td align="right">53kB</td>
   <td><tt>b133805d4693538c8d274e3b0fcc96c8a17b93fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kcharselect-15.08.3.tar.xz">kcharselect-15.08.3</a></td>
   <td align="right">82kB</td>
   <td><tt>2eb499f8c50901fdebd66c11996e631a1bd58f4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kcolorchooser-15.08.3.tar.xz">kcolorchooser-15.08.3</a></td>
   <td align="right">4kB</td>
   <td><tt>b6e862a3ce364c5fa1c422100c555390bf737057</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kcontacts-15.08.3.tar.xz">kcontacts-15.08.3</a></td>
   <td align="right">132kB</td>
   <td><tt>01983fcd6c6d90dbabfddc3dd48c8465d4e0627c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kcron-15.08.3.tar.xz">kcron-15.08.3</a></td>
   <td align="right">136kB</td>
   <td><tt>b30eee464d4355c54c41450288d046e6c8ec9983</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kdeartwork-15.08.3.tar.xz">kdeartwork-15.08.3</a></td>
   <td align="right">134MB</td>
   <td><tt>e9fbf14feba2ae1e4cad82179ad994a917c11dd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-baseapps-15.08.3.tar.xz">kde-baseapps-15.08.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>8bfb48e04366f7db8806de1bd05fdfe1323187de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-base-artwork-15.08.3.tar.xz">kde-base-artwork-15.08.3</a></td>
   <td align="right">7.0MB</td>
   <td><tt>c08dd2b5e88a3357215d020d522ce83f2f75101a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kdebugsettings-15.08.3.tar.xz">kdebugsettings-15.08.3</a></td>
   <td align="right">21kB</td>
   <td><tt>9a4fff63ede6e0dfb6fc7fca57674ccb5785b85c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-dev-scripts-15.08.3.tar.xz">kde-dev-scripts-15.08.3</a></td>
   <td align="right">299kB</td>
   <td><tt>6efbcaa3c5d9b41eeadefd05bf859a74b03fb2d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-dev-utils-15.08.3.tar.xz">kde-dev-utils-15.08.3</a></td>
   <td align="right">50kB</td>
   <td><tt>a90bcde68f9b8a82213da4d0b8523d8879a360e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kdeedu-data-15.08.3.tar.xz">kdeedu-data-15.08.3</a></td>
   <td align="right">94kB</td>
   <td><tt>b2e23a54477ac23ed7d7a2ebaf94ececa84a705d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kdegraphics-mobipocket-15.08.3.tar.xz">kdegraphics-mobipocket-15.08.3</a></td>
   <td align="right">14kB</td>
   <td><tt>5cb6fa0758741b7ed9507ceff70452e44526068d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kdegraphics-strigi-analyzer-15.08.3.tar.xz">kdegraphics-strigi-analyzer-15.08.3</a></td>
   <td align="right">39kB</td>
   <td><tt>e71230c835bc8c2dab260342e3d48e4cb3b7e043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kdegraphics-thumbnailers-15.08.3.tar.xz">kdegraphics-thumbnailers-15.08.3</a></td>
   <td align="right">40kB</td>
   <td><tt>c623278ab5f4973c7db6a8af3108cacc663556c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kdelibs-4.14.14.tar.xz">kdelibs-4.14.14</a></td>
   <td align="right">11MB</td>
   <td><tt>6d40602f048bcec658e86094abc17602d63c17f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kdenetwork-filesharing-15.08.3.tar.xz">kdenetwork-filesharing-15.08.3</a></td>
   <td align="right">26kB</td>
   <td><tt>5827b9d33387d70d9194c56217a52d6d84a8b710</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kdenetwork-strigi-analyzers-15.08.3.tar.xz">kdenetwork-strigi-analyzers-15.08.3</a></td>
   <td align="right">14kB</td>
   <td><tt>ceb2e4b20d97370b848cd566b8f267150b5180a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kdenlive-15.08.3.tar.xz">kdenlive-15.08.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>bfdb58ea221b254a1327af862ece9f6ebf54feb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kdepim-15.08.3.tar.xz">kdepim-15.08.3</a></td>
   <td align="right">8.6MB</td>
   <td><tt>3b8f2d7c871e7108a867bcd02a0449e7346faccc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kdepimlibs-15.08.3.tar.xz">kdepimlibs-15.08.3</a></td>
   <td align="right">994kB</td>
   <td><tt>61bd32a360399710122259250e00efc640a3bac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kdepim-runtime-15.08.3.tar.xz">kdepim-runtime-15.08.3</a></td>
   <td align="right">693kB</td>
   <td><tt>adb9f6d9bef0a0f99ad0e236bf2e4610d02e1521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-runtime-15.08.3.tar.xz">kde-runtime-15.08.3</a></td>
   <td align="right">7.5MB</td>
   <td><tt>edc6a2d454aed325b6c8c8f962e67ff8aeb9f8bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kdesdk-kioslaves-15.08.3.tar.xz">kdesdk-kioslaves-15.08.3</a></td>
   <td align="right">352kB</td>
   <td><tt>2fc5ee98230179b7a0e76441a593fba0a339e7c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kdesdk-strigi-analyzers-15.08.3.tar.xz">kdesdk-strigi-analyzers-15.08.3</a></td>
   <td align="right">17kB</td>
   <td><tt>a6d44ca5acd5fbc7606de933dcda42c571de555e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kdesdk-thumbnailers-15.08.3.tar.xz">kdesdk-thumbnailers-15.08.3</a></td>
   <td align="right">11kB</td>
   <td><tt>8a51e1a160b655cc9dbdb5d5213ba2198e6fa2a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-wallpapers-15.08.3.tar.xz">kde-wallpapers-15.08.3</a></td>
   <td align="right">86MB</td>
   <td><tt>1daa0daa7f85f234f865366f304b6b9ba4ad1b3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kdewebdev-15.08.3.tar.xz">kdewebdev-15.08.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>f0538c380853c470a8a5814b15186e62db26a53e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kdf-15.08.3.tar.xz">kdf-15.08.3</a></td>
   <td align="right">145kB</td>
   <td><tt>a377feb196bb688f9f29262ccec120cae1aaacd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kdiamond-15.08.3.tar.xz">kdiamond-15.08.3</a></td>
   <td align="right">3.9MB</td>
   <td><tt>0f6c2db20d065809a8b659daad6b5cf962353a99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kfloppy-15.08.3.tar.xz">kfloppy-15.08.3</a></td>
   <td align="right">52kB</td>
   <td><tt>a132a16f4146fab709b6557ddf28656e4edf7073</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kfourinline-15.08.3.tar.xz">kfourinline-15.08.3</a></td>
   <td align="right">275kB</td>
   <td><tt>ef445123217d3570c6365f466bbdc76f13037678</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kgeography-15.08.3.tar.xz">kgeography-15.08.3</a></td>
   <td align="right">6.4MB</td>
   <td><tt>211227acbd77ea08dabbf4f9c8fb221f9a2cd73f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kget-15.08.3.tar.xz">kget-15.08.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>747189cb71541e32748044f07f725a79e1fdd862</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kgoldrunner-15.08.3.tar.xz">kgoldrunner-15.08.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>05d3c5b5f7dcb2405fd67af19ad3c9ccc11ee777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kgpg-15.08.3.tar.xz">kgpg-15.08.3</a></td>
   <td align="right">791kB</td>
   <td><tt>804bdb7bd3c9ad51c2f7e7f288665e4a93faa7b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/khangman-15.08.3.tar.xz">khangman-15.08.3</a></td>
   <td align="right">3.7MB</td>
   <td><tt>d70a44d66b5e8f3eab8d68a40ed5782c6b48e159</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kholidays-15.08.3.tar.xz">kholidays-15.08.3</a></td>
   <td align="right">167kB</td>
   <td><tt>ef897c523cf4cad3a0b4413d313c5c34234dd057</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kidentitymanagement-15.08.3.tar.xz">kidentitymanagement-15.08.3</a></td>
   <td align="right">36kB</td>
   <td><tt>73ba04f8353ae7da9096f5d36bf4582e717a7675</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kig-15.08.3.tar.xz">kig-15.08.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>e7e3eb25bc8c3ceac28fae503fee8ed6dbe4c330</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kigo-15.08.3.tar.xz">kigo-15.08.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>16f0bc9d6732a4a4517f5590acfaebe2e7e38d3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/killbots-15.08.3.tar.xz">killbots-15.08.3</a></td>
   <td align="right">941kB</td>
   <td><tt>ba8d8bc1a5302a69009bb5cfb00049267e55172c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kimap-15.08.3.tar.xz">kimap-15.08.3</a></td>
   <td align="right">88kB</td>
   <td><tt>c265c257b3fcf9451c7b9c5a355b291e9ee907a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kio-extras-15.08.3.tar.xz">kio-extras-15.08.3</a></td>
   <td align="right">260kB</td>
   <td><tt>d677fe2cb3c6226abc27a8b69020601da49595cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kiriki-15.08.3.tar.xz">kiriki-15.08.3</a></td>
   <td align="right">115kB</td>
   <td><tt>1528e5a969d9d479bee6c964312b6cb44a342247</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kiten-15.08.3.tar.xz">kiten-15.08.3</a></td>
   <td align="right">11MB</td>
   <td><tt>c121593e593c25f33e15579b6033053feb7c8df9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kjumpingcube-15.08.3.tar.xz">kjumpingcube-15.08.3</a></td>
   <td align="right">161kB</td>
   <td><tt>330358dc745ad726804e54f59375a89370353ce9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kldap-15.08.3.tar.xz">kldap-15.08.3</a></td>
   <td align="right">52kB</td>
   <td><tt>025abce9922db6e575aca337bfc0ea5a67948be3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/klettres-15.08.3.tar.xz">klettres-15.08.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>e74be0d4d2db18bc0ae81636a9ca432b7b7aea77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/klickety-15.08.3.tar.xz">klickety-15.08.3</a></td>
   <td align="right">765kB</td>
   <td><tt>b38d8e1ff56346b10b39bc2abcb71e7a59bfac69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/klines-15.08.3.tar.xz">klines-15.08.3</a></td>
   <td align="right">928kB</td>
   <td><tt>1d2ea0df9d16fde1d3000a8b1bc5b857a41ca170</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kmag-15.08.3.tar.xz">kmag-15.08.3</a></td>
   <td align="right">84kB</td>
   <td><tt>252c255aeb3efca9083801a091664e8e17045ea6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kmahjongg-15.08.3.tar.xz">kmahjongg-15.08.3</a></td>
   <td align="right">984kB</td>
   <td><tt>832b2d83e4565c2464917e971b68ea15a3266a83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kmailtransport-15.08.3.tar.xz">kmailtransport-15.08.3</a></td>
   <td align="right">64kB</td>
   <td><tt>42e90d2af45b801126b54056f6bef4aded1da190</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kmbox-15.08.3.tar.xz">kmbox-15.08.3</a></td>
   <td align="right">23kB</td>
   <td><tt>7befabe4010a3f8b58510dd5066d4b918309f155</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kmime-15.08.3.tar.xz">kmime-15.08.3</a></td>
   <td align="right">121kB</td>
   <td><tt>9fac141f6f054e7601546636a36c7cadcb59f86c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kmines-15.08.3.tar.xz">kmines-15.08.3</a></td>
   <td align="right">609kB</td>
   <td><tt>43c93994e0274a94d9089761d298f9a261db7c7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kmix-15.08.3.tar.xz">kmix-15.08.3</a></td>
   <td align="right">379kB</td>
   <td><tt>b0aa882e46071974d3c81652b1f1c6e19f69ce78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kmousetool-15.08.3.tar.xz">kmousetool-15.08.3</a></td>
   <td align="right">34kB</td>
   <td><tt>cc9a84c47594c041535dd67db7d5f76336896f24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kmouth-15.08.3.tar.xz">kmouth-15.08.3</a></td>
   <td align="right">270kB</td>
   <td><tt>59bed20b515fe397874b22bb4b7bdacaa158c1ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kmplot-15.08.3.tar.xz">kmplot-15.08.3</a></td>
   <td align="right">647kB</td>
   <td><tt>dd9ffa93380e47173a19cd316e8be9a2ce616c6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/knavalbattle-15.08.3.tar.xz">knavalbattle-15.08.3</a></td>
   <td align="right">834kB</td>
   <td><tt>b49c13acb6885afa0cf91b40226cbf4165b7ac43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/knetwalk-15.08.3.tar.xz">knetwalk-15.08.3</a></td>
   <td align="right">765kB</td>
   <td><tt>7d8346d8aa7c8caed87d3c553617a80558473ad9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kolf-15.08.3.tar.xz">kolf-15.08.3</a></td>
   <td align="right">750kB</td>
   <td><tt>3723ddbf6106d651b43cd5d16a62d06cec24137d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kollision-15.08.3.tar.xz">kollision-15.08.3</a></td>
   <td align="right">204kB</td>
   <td><tt>4ffedcc3d6267ee77992db252014838392e24b7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kolourpaint-15.08.3.tar.xz">kolourpaint-15.08.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>3b4ff9f98a15a6aaf5ccff885e2637804ddb388c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kompare-15.08.3.tar.xz">kompare-15.08.3</a></td>
   <td align="right">336kB</td>
   <td><tt>872a1939287756db08f1e560679cdc1ba20c51d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/konquest-15.08.3.tar.xz">konquest-15.08.3</a></td>
   <td align="right">396kB</td>
   <td><tt>4ddc878a7d1d7c4c1d00c419bf2cd057832c2187</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/konsole-15.08.3.tar.xz">konsole-15.08.3</a></td>
   <td align="right">448kB</td>
   <td><tt>5bc8ca494daf4cd2d634b04cb2a2fb373c4c820f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kontactinterface-15.08.3.tar.xz">kontactinterface-15.08.3</a></td>
   <td align="right">24kB</td>
   <td><tt>ad577ba0c78b546e088c37ca70a808ef146a94a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kopete-15.08.3.tar.xz">kopete-15.08.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>2bbfbf1a9e0694a90e176884221dc4039fd4b48c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kpat-15.08.3.tar.xz">kpat-15.08.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>9f0b859a249f01a3ecc318c4b0e363a723d568ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kpimtextedit-15.08.3.tar.xz">kpimtextedit-15.08.3</a></td>
   <td align="right">38kB</td>
   <td><tt>6194812251e7fe0dc4e9c77d09629ba9372e95fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kppp-15.08.3.tar.xz">kppp-15.08.3</a></td>
   <td align="right">683kB</td>
   <td><tt>d3446b57b415590fef6c34e7cec6c4c1028fb8ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kqtquickcharts-15.08.3.tar.xz">kqtquickcharts-15.08.3</a></td>
   <td align="right">20kB</td>
   <td><tt>c4eb299d04acbcc26be730b89a5cf0ff9d7fc2ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/krdc-15.08.3.tar.xz">krdc-15.08.3</a></td>
   <td align="right">389kB</td>
   <td><tt>921beccd607934dd87378b9daf8de87875260b7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kremotecontrol-15.08.3.tar.xz">kremotecontrol-15.08.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ef628a75d86de870daa1d9bd1a0f7c061a5ff9bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kreversi-15.08.3.tar.xz">kreversi-15.08.3</a></td>
   <td align="right">464kB</td>
   <td><tt>0bcd1477f7238cabc74f28ebecd09c63b92c922b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/krfb-15.08.3.tar.xz">krfb-15.08.3</a></td>
   <td align="right">319kB</td>
   <td><tt>1d23cafc3cb9c51ac38acfa0844b2b1c62da51a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kross-interpreters-15.08.3.tar.xz">kross-interpreters-15.08.3</a></td>
   <td align="right">129kB</td>
   <td><tt>d34ca97761b0918dea8e22f40a27d217caaa83a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kruler-15.08.3.tar.xz">kruler-15.08.3</a></td>
   <td align="right">120kB</td>
   <td><tt>f51da02a501e331cfa1dbc2d0bbc3cc5874f70f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ksaneplugin-15.08.3.tar.xz">ksaneplugin-15.08.3</a></td>
   <td align="right">12kB</td>
   <td><tt>36515c1fd803538e0e97050828fae8fdb475baff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kscd-15.08.3.tar.xz">kscd-15.08.3</a></td>
   <td align="right">90kB</td>
   <td><tt>7991eb3557841125096cdc31ce5f481c25b231f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kshisen-15.08.3.tar.xz">kshisen-15.08.3</a></td>
   <td align="right">133kB</td>
   <td><tt>dadc23cab3c32924fabfa33d22f7ca3222d54c2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ksirk-15.08.3.tar.xz">ksirk-15.08.3</a></td>
   <td align="right">4.7MB</td>
   <td><tt>08b15509dda4880793aa8a803eb51c42a5942608</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ksnakeduel-15.08.3.tar.xz">ksnakeduel-15.08.3</a></td>
   <td align="right">290kB</td>
   <td><tt>2f77c9d245a0cf32bbca6282fefbabd0ff496323</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ksnapshot-15.08.3.tar.xz">ksnapshot-15.08.3</a></td>
   <td align="right">252kB</td>
   <td><tt>8f378502e598c52c944397744ad2453b7cd1e8dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kspaceduel-15.08.3.tar.xz">kspaceduel-15.08.3</a></td>
   <td align="right">247kB</td>
   <td><tt>e0fd4a7aca004b150f43236558fdf1cdb1e80507</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ksquares-15.08.3.tar.xz">ksquares-15.08.3</a></td>
   <td align="right">78kB</td>
   <td><tt>91476534f81b536d5a9c30c006cbf6b93315b3ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kstars-15.08.3.tar.xz">kstars-15.08.3</a></td>
   <td align="right">12MB</td>
   <td><tt>22e8be00eb262a979ae57c9a5f4d36a9809514ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ksudoku-15.08.3.tar.xz">ksudoku-15.08.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d7df278063d85ddf83195e3da73dbcdc258d6db1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ksystemlog-15.08.3.tar.xz">ksystemlog-15.08.3</a></td>
   <td align="right">372kB</td>
   <td><tt>44cdc221b8e7f0927cf870c84ce01c5e924d6e1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kteatime-15.08.3.tar.xz">kteatime-15.08.3</a></td>
   <td align="right">102kB</td>
   <td><tt>fc6835d7319149decfce7b7b4631b1080d49d355</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ktimer-15.08.3.tar.xz">ktimer-15.08.3</a></td>
   <td align="right">143kB</td>
   <td><tt>656ca15a30f1fca1c34ff4efd3e4c34a4ddd82f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ktnef-15.08.3.tar.xz">ktnef-15.08.3</a></td>
   <td align="right">227kB</td>
   <td><tt>5175509bf298b907f01bdafb00b3838635a7a1ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ktouch-15.08.3.tar.xz">ktouch-15.08.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>ad6b40e9add9264d9b9e29ed9d89850729533e44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ktp-accounts-kcm-15.08.3.tar.xz">ktp-accounts-kcm-15.08.3</a></td>
   <td align="right">86kB</td>
   <td><tt>195a6eb8600d01b3666e95382b2b38c424e22803</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ktp-approver-15.08.3.tar.xz">ktp-approver-15.08.3</a></td>
   <td align="right">20kB</td>
   <td><tt>2200c04ab98ba8d11e20dbfe6e8185466e604b75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ktp-auth-handler-15.08.3.tar.xz">ktp-auth-handler-15.08.3</a></td>
   <td align="right">25kB</td>
   <td><tt>ac3709c8e31ee992a87f61ea8293e5fc0d957363</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ktp-common-internals-15.08.3.tar.xz">ktp-common-internals-15.08.3</a></td>
   <td align="right">306kB</td>
   <td><tt>69f3d2b38950e1056378ca0c5e0f65a0ec5d6158</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ktp-contact-list-15.08.3.tar.xz">ktp-contact-list-15.08.3</a></td>
   <td align="right">47kB</td>
   <td><tt>7b387cea7e6156e544292cf9b93d78c734eca2e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ktp-contact-runner-15.08.3.tar.xz">ktp-contact-runner-15.08.3</a></td>
   <td align="right">16kB</td>
   <td><tt>1c1efb3a0bad4a12dd075361353393c4d7f9a428</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ktp-desktop-applets-15.08.3.tar.xz">ktp-desktop-applets-15.08.3</a></td>
   <td align="right">25kB</td>
   <td><tt>67f105761343649382798162e59efd0cf7c547c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ktp-filetransfer-handler-15.08.3.tar.xz">ktp-filetransfer-handler-15.08.3</a></td>
   <td align="right">22kB</td>
   <td><tt>b940709d29aabb721299dec93d7ab85272b9eb88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ktp-kded-module-15.08.3.tar.xz">ktp-kded-module-15.08.3</a></td>
   <td align="right">37kB</td>
   <td><tt>772944facdb20155048a9feb6aa1ada9e03bda66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ktp-send-file-15.08.3.tar.xz">ktp-send-file-15.08.3</a></td>
   <td align="right">14kB</td>
   <td><tt>c0bf66fc27bf6165c651a81fe845693b8f4c3831</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ktp-text-ui-15.08.3.tar.xz">ktp-text-ui-15.08.3</a></td>
   <td align="right">287kB</td>
   <td><tt>6414d75cca764fbfaf990a43c024a3ac020789b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ktuberling-15.08.3.tar.xz">ktuberling-15.08.3</a></td>
   <td align="right">4.0MB</td>
   <td><tt>e419d3ce0bebda85703a6e9e8f0351a3bea36663</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kturtle-15.08.3.tar.xz">kturtle-15.08.3</a></td>
   <td align="right">189kB</td>
   <td><tt>a093e96e555d5151b784c89252c726578d3debbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/ktux-15.08.3.tar.xz">ktux-15.08.3</a></td>
   <td align="right">106kB</td>
   <td><tt>28022db9913b10b15de519f1e40a759d9d0518ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kubrick-15.08.3.tar.xz">kubrick-15.08.3</a></td>
   <td align="right">104kB</td>
   <td><tt>4c41ad099abfe7f91eda0f6a3c6888bd8bed402c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kuser-15.08.3.tar.xz">kuser-15.08.3</a></td>
   <td align="right">132kB</td>
   <td><tt>45a1ba4913e6dfe0104675151d81527f289703a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kwalletmanager-15.08.3.tar.xz">kwalletmanager-15.08.3</a></td>
   <td align="right">446kB</td>
   <td><tt>70f265a8477159cc887d015a73473d3abbf9d28c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kwordquiz-15.08.3.tar.xz">kwordquiz-15.08.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>76d82a42815bb3e48e2d304225bd8ddda9adc934</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/libkcddb-15.08.3.tar.xz">libkcddb-15.08.3</a></td>
   <td align="right">154kB</td>
   <td><tt>0f85ba29cff5716e9730fa2321d1242269dd7323</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/libkcompactdisc-15.08.3.tar.xz">libkcompactdisc-15.08.3</a></td>
   <td align="right">74kB</td>
   <td><tt>a87a15d175d8255458aa7409bb382168fbcdd390</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/libkdcraw-15.08.3.tar.xz">libkdcraw-15.08.3</a></td>
   <td align="right">99kB</td>
   <td><tt>faf93404a36162a381abcafd289e3de811774a25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/libkdeedu-15.08.3.tar.xz">libkdeedu-15.08.3</a></td>
   <td align="right">128kB</td>
   <td><tt>21f0132045f65a78e035568a0b5b3f67fdc08b4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/libkdegames-15.08.3.tar.xz">libkdegames-15.08.3</a></td>
   <td align="right">5.5MB</td>
   <td><tt>bf38af4b864f8b23259924afac6088ed5df66292</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/libkeduvocdocument-15.08.3.tar.xz">libkeduvocdocument-15.08.3</a></td>
   <td align="right">96kB</td>
   <td><tt>fe6e933d903755c99fd7d3161db32d7ceaab4c0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/libkexiv2-15.08.3.tar.xz">libkexiv2-15.08.3</a></td>
   <td align="right">134kB</td>
   <td><tt>09adf7887dc644431a6930ba645162707c16bb3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/libkface-15.08.3.tar.xz">libkface-15.08.3</a></td>
   <td align="right">8.5MB</td>
   <td><tt>cc65ff362ffad872917aac0a184c6903a90b3cbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/libkgeomap-15.08.3.tar.xz">libkgeomap-15.08.3</a></td>
   <td align="right">121kB</td>
   <td><tt>d6cf746741b9e344890db7dac36a7900b8f9ad62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/libkipi-15.08.3.tar.xz">libkipi-15.08.3</a></td>
   <td align="right">92kB</td>
   <td><tt>e8d260f58d3287eec629fc8237f411831190f475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/libkmahjongg-15.08.3.tar.xz">libkmahjongg-15.08.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>4dd005297059be1ef4bbf423c2f0c65f2c89e432</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/libkomparediff2-15.08.3.tar.xz">libkomparediff2-15.08.3</a></td>
   <td align="right">55kB</td>
   <td><tt>abefb5c66096ac6248583012a4e21c8cb370d3d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/libksane-15.08.3.tar.xz">libksane-15.08.3</a></td>
   <td align="right">79kB</td>
   <td><tt>2707d84bdcd0ec568ff47066012c3086b07477cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/lokalize-15.08.3.tar.xz">lokalize-15.08.3</a></td>
   <td align="right">930kB</td>
   <td><tt>4e56dcd18c2ff9d416c1911bcabb8c166c43b90f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/lskat-15.08.3.tar.xz">lskat-15.08.3</a></td>
   <td align="right">908kB</td>
   <td><tt>f6086da3af2dacefa4a30476ddb1900c83d32f26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/marble-15.08.3.tar.xz">marble-15.08.3</a></td>
   <td align="right">22MB</td>
   <td><tt>203fa8418c5af94aa3b0f4f16991edc7fb3bbcd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/mplayerthumbs-15.08.3.tar.xz">mplayerthumbs-15.08.3</a></td>
   <td align="right">26kB</td>
   <td><tt>0509cb1daf02f790797c820c6d7accffd9a0940e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/okteta-15.08.3.tar.xz">okteta-15.08.3</a></td>
   <td align="right">492kB</td>
   <td><tt>546c3110e219abf6e1bffc95810defc23d25d352</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/okular-15.08.3.tar.xz">okular-15.08.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>27843cbe29f2bec7af208dd568e5e538da89351f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/palapeli-15.08.3.tar.xz">palapeli-15.08.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>4bc3ac38d5ae32e16a00ebba02becfa2173f06b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/parley-15.08.3.tar.xz">parley-15.08.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>99482e7cb38dae04dc743a27b68f6779647c990e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/picmi-15.08.3.tar.xz">picmi-15.08.3</a></td>
   <td align="right">717kB</td>
   <td><tt>3c9a81f2544761c109530c5d3fb9af2603858acc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/poxml-15.08.3.tar.xz">poxml-15.08.3</a></td>
   <td align="right">30kB</td>
   <td><tt>0f932643634ece83d721425a65e65a2bffd4fb3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/print-manager-15.08.3.tar.xz">print-manager-15.08.3</a></td>
   <td align="right">91kB</td>
   <td><tt>95cd5bc58f2e07fba80dc7e6b03283fc7815e019</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/rocs-15.08.3.tar.xz">rocs-15.08.3</a></td>
   <td align="right">522kB</td>
   <td><tt>8a27c83d979797c71c2672194f28bb14a5f53ed2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/signon-kwallet-extension-15.08.3.tar.xz">signon-kwallet-extension-15.08.3</a></td>
   <td align="right">10kB</td>
   <td><tt>0c4ea0725106ba148f5ca72589de6e580dba4135</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/step-15.08.3.tar.xz">step-15.08.3</a></td>
   <td align="right">378kB</td>
   <td><tt>1a66f52ba937bdcddd474aeb5f187084ae6f69a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/superkaramba-15.08.3.tar.xz">superkaramba-15.08.3</a></td>
   <td align="right">372kB</td>
   <td><tt>930ee6e49c75723b9b22359f35911aefdb382183</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/svgpart-15.08.3.tar.xz">svgpart-15.08.3</a></td>
   <td align="right">8kB</td>
   <td><tt>7d22d9e9f4f47613533b86db87d90472d4d9a538</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/sweeper-15.08.3.tar.xz">sweeper-15.08.3</a></td>
   <td align="right">80kB</td>
   <td><tt>60d53b97b0db2118f6d584133e3e334f2e495440</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/syndication-15.08.3.tar.xz">syndication-15.08.3</a></td>
   <td align="right">156kB</td>
   <td><tt>5116ede90a2873c31d4cef79783fbc3f703d957e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/umbrello-15.08.3.tar.xz">umbrello-15.08.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>f1417ed583ea09606cb5f53c4be42ec3fbbf4f57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/zeroconf-ioslave-15.08.3.tar.xz">zeroconf-ioslave-15.08.3</a></td>
   <td align="right">25kB</td>
   <td><tt>842375521ee9bca113a15da61f058e63dd42911e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-ar-15.08.3.tar.xz">kde-l10n-ar-15.08.3</a></td>
   <td align="right">3.2MB</td>
   <td><tt>25028821b513ec2b09f2efba735e8028a2fb77cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-bg-15.08.3.tar.xz">kde-l10n-bg-15.08.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>818e44a1d771a500045d0edc39324cba31620d2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-bs-15.08.3.tar.xz">kde-l10n-bs-15.08.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>d7d939c14d4a10d73940c21602881fbe299279f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-ca-15.08.3.tar.xz">kde-l10n-ca-15.08.3</a></td>
   <td align="right">11MB</td>
   <td><tt>22ac2c4acd047b17dccb5a5c8f9c9fd3756998d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-ca@valencia-15.08.3.tar.xz">kde-l10n-ca@valencia-15.08.3</a></td>
   <td align="right">2.2MB</td>
   <td><tt>7aa8ff3d12bc0febaca65fccf93db4726ef5ddf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-cs-15.08.3.tar.xz">kde-l10n-cs-15.08.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>1209c68adb43d2639992432aa1192e65f1c48d06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-da-15.08.3.tar.xz">kde-l10n-da-15.08.3</a></td>
   <td align="right">12MB</td>
   <td><tt>530f760ff3cf1644069e5ae0e628eb26215a15c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-de-15.08.3.tar.xz">kde-l10n-de-15.08.3</a></td>
   <td align="right">32MB</td>
   <td><tt>94c1b9993b5e2e99fd3c93249f13974e3d3e1aa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-el-15.08.3.tar.xz">kde-l10n-el-15.08.3</a></td>
   <td align="right">4.7MB</td>
   <td><tt>1c0bd43450c69b84d058594509e01eb8d56454e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-en_GB-15.08.3.tar.xz">kde-l10n-en_GB-15.08.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>e7f2e5304796e3cf9c80788cf9c058703b9fb26c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-eo-15.08.3.tar.xz">kde-l10n-eo-15.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>91d4a314562ef2bfc99bd86bab9ce1ab38f8a4e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-es-15.08.3.tar.xz">kde-l10n-es-15.08.3</a></td>
   <td align="right">17MB</td>
   <td><tt>32e42c3d8aadd3383d882da41f2e1ee1e4126872</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-et-15.08.3.tar.xz">kde-l10n-et-15.08.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>e4f001050f0ec80b59bc8a07891baca537f048b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-eu-15.08.3.tar.xz">kde-l10n-eu-15.08.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>a19196b4b0cbbe74be385ac3b79e24c2c50d16a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-fa-15.08.3.tar.xz">kde-l10n-fa-15.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>3e8af5e8e23be3356bda4f1ff1a5bb0b40c169cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-fi-15.08.3.tar.xz">kde-l10n-fi-15.08.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>e2572fd131fff33a66c722e7491652453781ed7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-fr-15.08.3.tar.xz">kde-l10n-fr-15.08.3</a></td>
   <td align="right">42MB</td>
   <td><tt>a6f0752a199808fb75a4a61ff661e1c66459443a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-ga-15.08.3.tar.xz">kde-l10n-ga-15.08.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>8031078ee3ea263bfa4022969b28f1f0bef0c7b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-gl-15.08.3.tar.xz">kde-l10n-gl-15.08.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>cd59810b17b80f7c949b76801684955be42de52d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-he-15.08.3.tar.xz">kde-l10n-he-15.08.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>1abd0685dffc005321d66d6727db86ae70b38e2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-hi-15.08.3.tar.xz">kde-l10n-hi-15.08.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0ad41e2b6a78bbfe4d5ed840db61540573dc0407</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-hr-15.08.3.tar.xz">kde-l10n-hr-15.08.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>1980053fba44c77c1cebddac26f9d64db8ae0a86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-hu-15.08.3.tar.xz">kde-l10n-hu-15.08.3</a></td>
   <td align="right">4.1MB</td>
   <td><tt>07fd5b249b0047fa1105c5ab68848d375ca7b14f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-ia-15.08.3.tar.xz">kde-l10n-ia-15.08.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d141e364c2a5be77260839ed7d5c221d850aea78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-id-15.08.3.tar.xz">kde-l10n-id-15.08.3</a></td>
   <td align="right">559kB</td>
   <td><tt>9e5739d32f9653478cb15c9fdf909040487ff838</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-is-15.08.3.tar.xz">kde-l10n-is-15.08.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>9050d76b0f2c8465f5c268eeac882a79128e1404</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-it-15.08.3.tar.xz">kde-l10n-it-15.08.3</a></td>
   <td align="right">8.4MB</td>
   <td><tt>5b15d5f7ee56a973a2204fdcf069621286ff45f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-ja-15.08.3.tar.xz">kde-l10n-ja-15.08.3</a></td>
   <td align="right">2.2MB</td>
   <td><tt>89e0e6480c59bd36c87c4b6747859ff582588005</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-kk-15.08.3.tar.xz">kde-l10n-kk-15.08.3</a></td>
   <td align="right">2.5MB</td>
   <td><tt>5421bd1f6e2964e74e41e3261a48292c21b3a5f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-km-15.08.3.tar.xz">kde-l10n-km-15.08.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>9e4c336854ffb29f1bfc7745d62d653125220a3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-ko-15.08.3.tar.xz">kde-l10n-ko-15.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>593dd859e07f34e8b7dc769ab8d7155ad0c9d7ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-lt-15.08.3.tar.xz">kde-l10n-lt-15.08.3</a></td>
   <td align="right">12MB</td>
   <td><tt>c967bb8e4d27b01f4f74e7f079963e5991b18709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-lv-15.08.3.tar.xz">kde-l10n-lv-15.08.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>dfc1b0c61e0682ca70e680c67e15c039b34e3e18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-mr-15.08.3.tar.xz">kde-l10n-mr-15.08.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a52ca88930dea24d11a5eabe349974b8b5ac0832</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-nb-15.08.3.tar.xz">kde-l10n-nb-15.08.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>32ae9c7f37d34450295dc230a1f07c500ed3e17a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-nds-15.08.3.tar.xz">kde-l10n-nds-15.08.3</a></td>
   <td align="right">3.1MB</td>
   <td><tt>514039963b026b266e71c6a34b4ec6c844ca01c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-nl-15.08.3.tar.xz">kde-l10n-nl-15.08.3</a></td>
   <td align="right">13MB</td>
   <td><tt>0b093b8bab69f5522bcb3104956445dec01eb912</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-nn-15.08.3.tar.xz">kde-l10n-nn-15.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>6abf2210e8fb5bc09fe1f6c3cf2f7e447eab7f76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-pa-15.08.3.tar.xz">kde-l10n-pa-15.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>afd4c845390188d62118b9a65b5993dc12ffb260</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-pl-15.08.3.tar.xz">kde-l10n-pl-15.08.3</a></td>
   <td align="right">18MB</td>
   <td><tt>eb85ef9672cd9662219826302bf327f404efa0d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-pt-15.08.3.tar.xz">kde-l10n-pt-15.08.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>df671623d670b2b6f4ee6c68678f4e6de845bf08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-pt_BR-15.08.3.tar.xz">kde-l10n-pt_BR-15.08.3</a></td>
   <td align="right">20MB</td>
   <td><tt>0cd5eaac97bf8a5b08541202bbefd1ed2b477760</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-ro-15.08.3.tar.xz">kde-l10n-ro-15.08.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>6190c511b8bd0a1a78bf970b240a03ab5716e725</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-ru-15.08.3.tar.xz">kde-l10n-ru-15.08.3</a></td>
   <td align="right">21MB</td>
   <td><tt>027c13cfa8ad9ebbb31becaf52da0d6bac374649</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-sk-15.08.3.tar.xz">kde-l10n-sk-15.08.3</a></td>
   <td align="right">4.4MB</td>
   <td><tt>1595025da10d9af0fb4e9ef0e5880b6e46e0f724</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-sl-15.08.3.tar.xz">kde-l10n-sl-15.08.3</a></td>
   <td align="right">3.1MB</td>
   <td><tt>705982cf63aae9cb3001e5190dcc0888e2236d87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-sr-15.08.3.tar.xz">kde-l10n-sr-15.08.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>2191f93e072adf1f93b5a1a8df0bf9dd52d564f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-sv-15.08.3.tar.xz">kde-l10n-sv-15.08.3</a></td>
   <td align="right">12MB</td>
   <td><tt>c416f16de7607fec9505213614bea459e87ac3be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-tr-15.08.3.tar.xz">kde-l10n-tr-15.08.3</a></td>
   <td align="right">3.8MB</td>
   <td><tt>43a11f270130dde35380b75034cea8d373bb5af0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-ug-15.08.3.tar.xz">kde-l10n-ug-15.08.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>dfaa7f23e19ac3f9147a3860ff5e03905baf7fc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-uk-15.08.3.tar.xz">kde-l10n-uk-15.08.3</a></td>
   <td align="right">24MB</td>
   <td><tt>5630cf658e40adf0cd15383d882a2df42a4534df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-wa-15.08.3.tar.xz">kde-l10n-wa-15.08.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2e02be0698871b5886c49cdfebe2025c1ae09fd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-zh_CN-15.08.3.tar.xz">kde-l10n-zh_CN-15.08.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>925956ac1b146cc0883e8706ab1bf921bcd27301</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.3/src/kde-l10n/kde-l10n-zh_TW-15.08.3.tar.xz">kde-l10n-zh_TW-15.08.3</a></td>
   <td align="right">2.5MB</td>
   <td><tt>1de7b98baab8ce0e7ef372ba2f4596e4c53c1d58</tt></td>
</tr>

</table>
